[2015-08-01 01:31] mew351 opened #1 "Crashes when signing in?"
Can't even sign in without it crashing D;

[2015-08-01 02:02] MarshallOfSound commented on #1
Please provide more details.
The exact process you took to cause it to crash
Your OS
And if possible what .NET versions you have installed

[2015-08-01 03:54] MarshallOfSound commented on #1
Issue has been identified, replicated and fixed in Version 1.1.1

[2015-08-01 03:54] #1 closed

[2015-09-07 12:43] MarshallOfSound opened #2 "Theming does not work on specific pages"
* Genre lookup for radio
 * Radio queue

[2015-10-03 01:18] MarshallOfSound commented on #2
Fixed in Release 1.3.2

[2015-10-03 01:18] #2 closed

[2015-10-03 01:19] MarshallOfSound opened #3 "Feature Request: last.fm Support"
A commonly requested feature is last.fm support.
Scrobbling current playing tracks

[2015-10-03 01:19] MarshallOfSound commented on #3
Currently blocked by the state of the last.fm api.  API key sign up is disabled / unavailible due to a bug with the last.fm site.  Waiting for fix

[2015-10-09 03:58] MarshallOfSound opened #4 "Forward and Back Navigation"
Currently you can only navigate back with the backspace key and forward by clicking the correct link again.

Should implemented forward and back arrows somewhere on the UI

[2015-10-09 04:00] MarshallOfSound opened #5 "Some functionality of GPM should be disabled"
Functionality of GPM such as:
* File upload
* Google+ Notifications
* Google App Selector

Should be disabled as it results in a bad UE if the user accidentaly navigates away from GPM through this features

[2015-10-09 06:06] hndmrsh opened #6 "Feature request: Support for desktop notifications"
When using Google Play Music in Chrome, a desktop notification appears when the track changes. This would be a super useful feature, especially if it used the new notifications in Windows 10.

[2015-10-09 06:08] hndmrsh opened #7 "Feature request: Mini player"
GPM in Chrome uses a Chrome app as a mini player of sorts; it's not particularly good, but it does the job for people like me who love using mini players! I would love to see this app with an even better mini player implementation than the official Google one.

[2015-10-09 06:58] MarshallOfSound commented on #6
This is currently in progress, working on displaying album art in the notification

[2015-10-09 11:21] MarshallOfSound commented on #6
Feature in master, awaiting 1.4 release

[2015-10-09 11:21] MarshallOfSound commented on #5
Feature in master, awaiting 1.4 release

[2015-10-09 13:23] MarshallOfSound commented on #4
Feature in master, awaiting 1.4 release

[2015-10-10 02:41] #4 closed

[2015-10-10 02:41] #5 closed

[2015-10-10 02:58] #6 closed

[2015-10-10 03:48] MarshallOfSound commented on #7
What exactly do you want this mini player to do that the Chrome one does not?
Mirroring the functioanlity of the chrome mini player seems a reasonably simple task but I am un sure as to how you want to improve on it?

[2015-10-10 09:23] hndmrsh commented on #7
The Chrome mini player is more-or-less functionally complete, but some of the design choices I'm not that fond of personally. I love the iTunes album art mini player (at least, the way it works on Windows 8 - it's buggy on 10), in that it only shows album art and displays the track information and media controls only on mouse over. It would also be nice to be able to see the queued tracks from the

[2015-10-14 02:39] MarshallOfSound commented on #7
Mini player is functional
Bug testing over the next couple of days to make sure there are no side effects :smiley_cat:

[2015-10-16 15:10] MarshallOfSound opened #8 "Application "stops responding" randomly when closing."
This issue is very rare but for some reason when closing the application it displays windows "not responding" dialog.  This means an exception is being thrown and not caught.  Trying to replicate in a debug enabled build

[2015-10-16 15:23] MarshallOfSound commented on #8
Identified as occuring only when the new song notification pops up

[2015-10-16 15:24] MarshallOfSound commented on #8
Issue was IllegalCrossThreadCalls on disposal of the notification as a child form of the main form because they were created on different threads.

Fixed in master

[2015-10-16 15:24] #8 closed

[2015-10-19 03:14] MarshallOfSound commented on #7
Introduced in version 1.5.0
You should recieve an update notification in your current install :smile:

[2015-10-19 03:14] #7 closed

[2015-10-19 03:21] hndmrsh commented on #7
Awesome stuff, I look forward to checking it out! :smile:

[2015-10-19 03:23] hndmrsh opened #9 "Remember window size when closing"
It would be nice if the player remembered the window size (and perhaps position?) upon closing and restores this next time the app is opened (rather than initialises at the default 1080x720)

[2015-10-19 06:01] MarshallOfSound commented on #9
Remembering the window size shouldn't be too tricky.

Position I'm kind of against due to the unpredictable nature of the users screen setup.  For instance devices with a secondary screen plugged in would be very confused when the secondary screen is unplugged and then the app tries to position itself on it.

[2015-10-19 20:17] hndmrsh commented on #9
Yeah, it's mostly the size I was concerned about. I was thinking about what other applications do with regards to position, and I think most try to position themselves on the monitor that application was closed on. Would it be worth trying to position the application in the position it was closed, and falling back to the primary monitor (or default startup position) if that screen is not available

[2015-10-20 04:37] hndmrsh opened #10 "Resizeable mini player"
The mini player implementation is great! I'd really love the ability to resize it though, as it's a little bit too big for my liking - and I can see it being an issue for people with lower resolution screens (unless it's resolution independent).

[2015-10-20 07:48] MarshallOfSound commented on #10
Lots of the styling of the mini player is very tightly squeezed into it's current size.  The CSS uses hard coded values to make everything fit in.

I'll look around for alternatives but at the moment making it any smaller will be quite tricky.  I might be able to trigger zooming or something inside CEF.

[2015-10-20 08:36] MarshallOfSound commented on #10
Triggering the zooming in CEF appears to work.  I've set a maximum size of 300 by 300 (current default) and a minimum size of 100 by 100.  The aspect ratio is being enforced as 1.0 because of the album art dimensions.

Will be pushed to repo soonish

[2015-10-20 08:38] MarshallOfSound commented on #9
Personal note on this issue
* Will need two different positions / dimensions saved (One for mini one for maxi)
* Will need to check if the position is valid
* Should use the WinForm built in user settings library

[2015-10-20 15:20] #10 closed

[2015-10-20 15:20] MarshallOfSound commented on #10
In master

[2015-10-20 15:21] MarshallOfSound commented on #9
In master

[2015-10-20 15:21] #9 closed

[2015-10-27 11:14] Darsh911 opened #11 "Google Play Music.exe signed as TR/Spy.Gen by Avira"
https://www.virustotal.com/en/file/89b2cfbc6e49a7941d36ec1dfbfa8000e7824a15426469ec65358f54f07f2472/analysis/1445943964/

[2015-10-27 13:52] MarshallOfSound commented on #11
I have no idea how to fix that, I can guaruntee it is not a virus though.  I'll look into that false positive and see if I can fix it.

It might be something to do with the global keypress listeners

[2015-10-27 13:57] MarshallOfSound commented on #11
I believe the offending line is https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/Google%20Play%20Music/globalKeyboardHook.cs#L167

I really don't think this is possible to fix, I'll keep looking

[2015-10-27 14:16] MarshallOfSound commented on #11
To clarify for anyone reading this in the future.  `TR/Spy.Gen` indicates that a global low level keyboard hook has been identified which is synonomous whith keyloggers.  Anyone interested can view the source code in `globalKeyboardHook.cs` to see what it is doing.

An example of another program with a similiar issue is "AutoHotkey" [Virus Total](https://www.virustotal.com/en/file/f2c600d3467713ae

[2015-10-29 14:19] kybarg opened #12 "Windows 10 animations"
Version 1.6 brought up better looking frame, but minimize/maximize animation isn't working now.

[2015-10-29 14:27] MarshallOfSound commented on #12
I am aware of this issue, (not really an issue actually more of a style change).

It is due to the `FormBorderStyle.None` property that is set to customize the window frame.  Unfortunately the animation is due to the "default" / "standard" window frame and isn't actually a result of calling minimise on the form.

The only way to make the animation work again is something to do with `WinProc` calls

[2015-10-29 23:16] kybarg opened #13 "Double switches at settings page"

[2015-10-29 23:48] MarshallOfSound commented on #13
Please provide more information, what do you mean "double switches".  If it is a UI bug please provide screenshots and steps to replicate.

[2015-10-29 23:54] kybarg commented on #12
Hope this might help https://github.com/Soundnode/soundnode-app

[2015-10-30 00:18] MarshallOfSound commented on #13
Bug just appeared in my install, appears as though Google pushed out another change to GPM that broke my switch insertion technique.  Working on a fix now

[2015-10-30 00:19] #13 closed

[2015-10-30 00:22] MarshallOfSound commented on #13
This has been resolved but as this is not a breaking bug I don't think it's worth a pushed release.  It'll go out with the next release.  I'm trying to put releases on a 14 day cycle :smile_cat:

[2015-10-30 00:23] MarshallOfSound commented on #12
@kybarg Unfortunately not, that app linked is written in node (javascript).  The framework behind it might be more helpful, I'll keep looking around

[2015-10-30 15:17] MarshallOfSound commented on #11
Further investigation has isolated the issue as being a combination of the the update checker and the keyboard hooks.  Disabling either one removes the virus false positive.  Looking for work arounds

[2015-10-30 17:02] #11 closed

[2015-10-30 17:03] MarshallOfSound commented on #11
@Darsh911 Good news, this false positive will be fixed in the next release.  The issue (strange as it sounds) was related to a JSON deserializing library

[2015-10-30 19:39] tgp1994 opened #14 "Additional auto-playlists, such as songs we've never listened to before?"
A really awesome feature I'd like to see is the ability to have additional auto-playlists, such as one that can pull up music we've never listened to yet in our library, or perhaps music we haven't listened to in a long time. This is something I was hoping Google would implement, but is it possible it can be implemented on the client-side with this app?

[2015-10-31 05:45] MTRougeau opened #15 "Desktop Notification cut off"
Looks like the notifications are cut off. Perhaps it is because my taskbar is on the right? Also, for long song info, the text is very small, nearly unreadable.

[2015-10-31 05:46] MTRougeau opened #16 "Can we get a 64 bit build?"
Any CPU seems like it is always building 32 bit.....can we get a dedicated 64 bit version in addition to 32? Thanks!

[2015-10-31 05:51] MarshallOfSound commented on #15
Well that's awkward :smile_cat:

I can replicate the issue on my computer, you are correct that it is due to the position of the taskbar.  I'll work on a fix and it will go out with the next release.

[2015-10-31 05:57] #15 closed

[2015-10-31 05:58] MarshallOfSound commented on #15
@MTRougeau  The positioning issue has been fixed, the unreadable text is a more complex issue.  Can you provide an example of a song that becomes unreadable.  The notification is only so big, I'm not sure how I would fix that

[2015-10-31 06:06] MarshallOfSound commented on #16
I believe it would require a separate project as CefSharp requires a specific build target.  I chose 32bit as it will work on 64bit systems whereas the reverse is not true.  Is there any particular reason for the 64bit request?

[2015-10-31 06:37] MTRougeau commented on #15
Yeah, I looked through the code.....I mean, if you're dealing with a fixed size for the notification window, it's going to be difficult. I believe Chrome's notifications scale, don't they? More text, slightly bigger window. Don't know if you want to look into something like that or not.

[2015-10-31 06:38] MTRougeau commented on #16
I built it in 64 bit and if compiled correctly and worked great. I mostly
want it because I'm OCD and want everything that can run in 64 bit to do
so. :)

On Sat, Oct 31, 2015 at 1:06 AM, Samuel Attard <notifications@github.com>
wrote:

[2015-10-31 06:41] MTRougeau opened #17 "Keyboard shortcut issues with mini player."
Seems like the mini player does not like to skip more than 1 or 2 songs using the arrow keys. Regular window does not have this issue. Also, the spacebar does not pause tracks in the mini player like it does in the regular window. Instead, spacebar makes the mini player revert back to the standard window.

[2015-10-31 06:48] MTRougeau commented on #15
Here is an example of the same track with both notifications. It actually looks like chrome DOESN'T scale the window....it just uses more the the space instead of squishing the text down.

![web player](https://cloud.githubusercontent.com/assets/15477491/10862321/6cc408ee-7f71-11e5-857a-c9ab43fb02e8.PNG)
![desktop player](https://cloud.githubusercontent.com/assets/15477491/10862322/6cc7b412-7f71-1

[2015-10-31 06:54] MarshallOfSound commented on #16
I only tried to build in 64 back when this project was using CefSharp 41.0

I guess since then they have changed it a bit and now it does indeed work.  It'll take a bit of work (mostly on the update mechanism) but I'll try upload 64 bit builds from now on

[2015-10-31 06:54] #16 closed

[2015-10-31 07:02] MarshallOfSound commented on #15
I did some quick modifications to allow the song album/artist to take up two lines instead of one.  Appears to more closely resemble the chrome notification now

![mod](https://cloud.githubusercontent.com/assets/6634592/10862370/318df05e-7ff9-11e5-8b91-ad4fb38d620b.PNG)

[2015-10-31 07:06] MTRougeau commented on #15
Awesome! Thanks

On Sat, Oct 31, 2015 at 2:02 AM, Samuel Attard <notifications@github.com>
wrote:

[2015-10-31 07:11] MarshallOfSound commented on #17
The arrow key issue appears to be due to the song change notification stealing focus and the web app not reveiving the keyboard input until the alert has disappeared.

Looking more into the spacebar issue now

[2015-10-31 08:05] MarshallOfSound commented on #17
- [ ] Stop the notification stealing focus
- [ ] Give it focus on deactiviation
- [ ] Blur the mini player button on click

[2015-10-31 08:20] #17 closed

[2015-10-31 08:21] MarshallOfSound commented on #14
Unfortunately this is not realist from a client side application.  Some libraries could be upwards of 10000 songs (Mine is over 12000) and manually fetching all the songs with HTTP requests would take literally hours.

This is the kind of feature that has to be implemented server side.

[2015-10-31 08:21] #14 closed

[2015-10-31 15:33] tgp1994 commented on #14
Ah, that's unfortunate, but I guess I'm not surprised. :( I was hoping Google had some sort of API that could make this a reality, but maybe later...

[2015-10-31 17:39] MTRougeau opened #18 "Thumbs Up and Down buttons missing in Mini Player"
There are no thumbs up and down buttons in the Desktop Mini Player. The web player places them prominently, then includes the shuffle and and repeat buttons above them. Also, it looks like text is cut off when the album title is too long. However, the web mini player omits the album title completely, only showing the song and artist names. Thoughts?

![desktopminiplayer](https://cloud.githubuserco

[2015-10-31 23:39] MTRougeau opened #19 "The "forward" and "back" buttons on a mouse do not function."
The side buttons on a mouse, commonly used to navigate forwards and backwards on websites, do not function in GPMDP. The user is forced to use the backspace key to navigate backwards. This issue does not exist in the web version of Google Play Music.

[2015-11-01 00:11] hndmrsh commented on #19
Importantly, the Back button no longer exists in the title bar of the new theme, so there is no way to go back.

[2015-11-01 00:12] hndmrsh opened #20 "Aero Snap does not work with the new theme"
With the new window theme, it is no longer possible to snap the window to the left or right edge of the screen (and in the Windows 10, the corners).

[2015-11-01 00:14] hndmrsh opened #21 "Cannot resize from the top edge of the window"
It is not possible to resize the window vertically from the top edge of the window (including diagonally from the top-left and top-right corners). This is surprisingly important when the window is larger than the screen size (this can happen frequently in certain multi-monitor setups), as you cannot drag the window up in order access the bottom  edge of the window.

[2015-11-01 00:18] hndmrsh opened #22 "Duplicate switches in Labs section of settings"
Some Labs options have duplicated switches. See attached screenshot:
<img width="322" alt="capture" src="https://cloud.githubusercontent.com/assets/2135075/10866597/b0a909f4-809a-11e5-8df3-ba70731557b9.PNG">

[2015-11-01 00:20] MTRougeau commented on #22
I believe this is a duplicate of Issue 13, which has been fixed.

[2015-11-01 00:22] #22 closed

[2015-11-01 00:22] hndmrsh commented on #22
Correct, didn't notice that - thanks for the heads up!

[2015-11-01 06:14] MarshallOfSound commented on #18
I consider this more of a design choice than a "bug".  I went for the easiest and most cut down mini player I could make while using the rendering JS that GPM already utilised.  The styling of the mini player is literally entirely done though CSS.

I personally don't use the thumbs at all, I'm not sure how many people actually do but in the mini player I just wanted the music controls and thats it

[2015-11-01 06:34] MarshallOfSound commented on #19
The back / forward buttons in the UI have been added back in.  The forward and back buttons on the mouse appear to be stolen by whatever browser is open.  I can't seem to receive the keypress events.

[2015-11-01 06:34] #12 closed

[2015-11-01 06:34] #19 closed

[2015-11-01 06:34] #20 closed

[2015-11-01 06:36] MarshallOfSound commented on #21
Untill a figure out the best way to do this, the work around I have sometimes used it to

1. Right click on the title bar of the window
2. Choose size
3. Press the arrow key on your keyboard corresponding to the direction you want to resize in (in this case up)
4. Move your mouse around until you like the size then click

[2015-11-01 09:12] MTRougeau commented on #18
Not concerned with feature parity, just parity with the features I use. :) Yes, I do find myself using them occasionally. The keyboard shortcuts for thumbs up and down still work in the mini player, but if I ever want to SEE if I've already thumbed up a song or not, I have to exit the mini player and go back to the regular window, which is kind of annoying.

[2015-11-01 09:12] MarshallOfSound commented on #19
The lines to add and try make work are

`gkh.HookedKeys.Add(Keys.BrowserBack);` and `gkh.HookedKeys.Add(Keys.BrowserForward);`

[2015-11-01 09:20] MTRougeau commented on #19
@MarshallOfSound Interesting....I can't get the forward/back buttons on the mouse to work, even with the browser completely closed.

[2015-11-01 09:23] MarshallOfSound commented on #19
@MTRougeau Well the version installed isn't trying to listen to them.  But when I add them as keys to listen to in `CoreMusicApp.Hooks.cs` it doesn't recieve the keypresses no matter what I do.  If you want  you can play around and see if you can get it to listen to those keys.

[2015-11-01 09:24] MTRougeau commented on #19
Yeah, I'll pull of the project and see if I can figure something out.
On Nov 1, 2015 2:23 AM, "Samuel Attard" <notifications@github.com> wrote:

[2015-11-01 12:55] #21 closed

[2015-11-01 16:59] F1am opened #23 "Request: Option to disable Notification Toaster"
Hi, I would love to disable the notification toaster.

Thanks for your excellent app, I've been waiting for something like this for ages.

[2015-11-02 18:06] MTRougeau opened #24 "Minimize, Maximize, Close buttons popping up on Mini Player"
![miniplayer buttons](https://cloud.githubusercontent.com/assets/15477491/10889903/5c7aa48a-815a-11e5-9e2f-6b4a69a1e834.JPG)
The minimize, maximize, and close window buttons appear in the Mini Player when it is not in focus. This is not happening on 1.60, but on the latest pulled version. Possibly related to Aero Snap or Resizing updates?

[2015-11-02 18:26] MTRougeau opened #25 "Desktop Notifications stealing focus."
Desktop notifications are stealing focus for the brief time they appear. This is very frustrating when working/typing and the user is interrupted every time a new song plays.

[2015-11-02 21:45] MarshallOfSound commented on #24
Can you please ensure you have pulled down that latest commits.  I believe this issue was fixed in 21e955920b82e23bc9ed5c4b64bdc11a5905fb21.

[2015-11-02 21:50] MTRougeau commented on #24
I just grabbed the latest .zip....is that right? Sorry, kind of new to
github.

On Mon, Nov 2, 2015 at 3:45 PM, Samuel Attard <notifications@github.com>
wrote:

[2015-11-02 22:23] MarshallOfSound commented on #24
Here, have a getting started guide :cat:

https://help.github.com/articles/set-up-git/

[2015-11-02 22:29] #24 closed

[2015-11-02 22:29] #25 closed

[2015-11-02 23:01] MarshallOfSound commented on #11
Update for anyone in the future.  The new scan link is here https://www.virustotal.com/en/file/1c9987f7733a92e3cd9a3af05c2d52fe2687f9c2fa12fb9cf2174a1fb0132804/analysis/1446505072/

Showing 0 detections...

[2015-11-03 07:57] Darsh911 commented on #11
@MarshallOfSound thank you. Keep up the good work!

[2015-11-03 12:21] Darsh911 commented on #18
I second that.
I use them a lot while listening the "I'm feeling lucky Radio" and will be so great to have them also into the mini player.

[2015-11-04 13:12] MarshallOfSound opened #26 "Customize the Dark Theme"
Present the user with a color picker (possibly in some form of a settings window) to choose the highlight color of the dark theme.

[2015-11-04 13:13] MarshallOfSound opened #27 "GPM Lab Settings are not saved"
Adding the custom theme setting to the labs section appears to have broken the original labs switches and now changing them fails with a GPM error message.  Suggested fix is to move the custom theme switch to a settings window.

Possibly the same settings window as #26

[2015-11-04 13:15] MarshallOfSound opened #28 "Clear CEF cache / settings"
In the rare case (It hasn't happened yet) that something breaks GPM we should allow the user to manually reset the program to "original" state without having to manually delete the `GPMDP` folder in `%APPDATA%`.

Possibly a button that could go into the settings window mentioned in #26 and #27

[2015-11-04 13:17] MarshallOfSound commented on #23
I'm attempting to link the built in toaster to the GPM desktop notifications setting in their labs section.  Just attempting to determine the URL to request to retreive that setting

[2015-11-04 23:25] MarshallOfSound opened #29 "Delete playlist dialog is not themed"
The black theme does not affect the confirmation dialog that pops up when you delete a playlist

[2015-11-05 14:53] #26 closed

[2015-11-05 14:53] #27 closed

[2015-11-05 14:53] #28 closed

[2015-11-05 19:22] retorquere opened #30 "Needs flash update, but download cannot be accessed"
When it starts up it says it wants a flash update, allows me to download it, but then I can't start it

[2015-11-06 00:46] MarshallOfSound commented on #30
This is due to the sandboxes nature of the embedded player.  If you checkout the README of this repo you would see a link to download flash from here http://get.adobe.com/flashplayer/

[2015-11-06 00:46] #30 closed

[2015-11-06 06:31] retorquere commented on #30
Sorry about that.

[2015-11-06 13:49] Javierdsv opened #31 "Windows window frame overlapping"
The minimize, maximize and close buttons are being overlapped by the Windows window frame controls on Windows 7 Enterprise. Attached a little screenshot on how it looks like.
![capture](https://cloud.githubusercontent.com/assets/12553183/10998463/e5bceba6-845a-11e5-8ad3-6f69637da22e.PNG)

[2015-11-06 15:34] MarshallOfSound commented on #31
I cannot replicate this on any of the OS's I have access to (7 Home, 8, 8 Pro and 10).  Can you please provide a list of the .NET packages you have installed and a list of the Visual C++ redists you have installed.

Thanks

[2015-11-06 22:06] Javierdsv commented on #31
Sure, here is a screenshot out of the control panel of this machine:

![capture](https://cloud.githubusercontent.com/assets/12553183/11009859/19f1f80e-84a0-11e5-8d9e-e368d4a51e1a.PNG)

It may be just a missing redist indeed.  For the record, this is not happening with the previous release, only the 1.7.0 version.  Uninstalled it, deleted the %APPDATA% folder and reinstalled it and keeps happening.

[2015-11-07 03:32] MarshallOfSound opened #32 "Force controls to hide"
Windows controls (Close, Min and Max) are not considering the border in `WndProc` so we must hide them in `CreateParams`

[2015-11-08 09:53] MarshallOfSound commented on #31
Can you try specifically installed `.NET 4.0` and `Visual C++ 2012 x86`.

Other than that I have no idea...

[2015-11-08 09:58] MarshallOfSound opened #33 "Double audio if you open two instances"
If you open two instance of GPMDP and play music in one it stutters strangely.  I think we should only allow one instance of GPMDP open at a time...

[2015-11-08 14:35] nintyuk commented on #7
I know this may sound like a dumb question but how do I access this mini player on windows 10?

[2015-11-08 19:07] ethanblake4 opened #34 "Controls and Mini Player do not scale on High DPI displays"
On displays which require Windows' High DPI scaling, such as my QHD+ Dell XPS 13 (250%), the window border controls and the mini player do not scale with the rest of the application. While the border controls are not a huge issue, this means that to use the mini player, I have to use "disable display scaling on High DPI settings" in the properties menu, which causes the entire application to becom

[2015-11-08 21:47] MarshallOfSound commented on #7
@nintyuk There is a button in the bottom right of the player controls

[2015-11-08 21:49] nintyuk commented on #7
@MarshallOfSound For some reason It didn't show up on first launch. Probably because I has to log in or something.

[2015-11-08 22:20] MarshallOfSound commented on #7
@nintyuk Interesting, sounds like a bug all by itself.  I'll look into it

[2015-11-09 10:06] SonicGD opened #35 "Request: Show lyrics"
Please, add lyrics panel or something like [Lyrics Here plugin](https://chrome.google.com/webstore/detail/lyrics-here-by-rob-w/lifkpflabnobkgbjpcmocmgcajlecbcp).

[2015-11-09 11:28] MarshallOfSound commented on #34
This is one hell of an edge case that I'm not sure how to fix.  I'll try emulate the DPI scaling on a friends 4K screen.   The mini player size is probably due to the zoom setting I use to make it work....

For now I'll mark this as a bug and try work on it

[2015-11-09 11:34] #33 closed

[2015-11-09 11:47] #23 closed

[2015-11-09 11:47] MarshallOfSound commented on #32
Duplicate of #31

[2015-11-09 11:47] #32 closed

[2015-11-09 11:49] MarshallOfSound commented on #3
Closing until last.fm sort their stuff out...
:cry:

[2015-11-09 12:04] #29 closed

[2015-11-09 12:13] MarshallOfSound commented on #31
Try as I might i can not replicate this issue, do you have any custom windows themes installed on your PC or something like that?

Can you try running as admin / in compatability mode.  Somethings messing it up at your end and I can't replicate what :smile:

[2015-11-10 02:51] MarshallOfSound commented on #34
I can't emulate this situation even with DPI scaling turned all the way up to 250%.  Are you sure its due to DPI scaling because it doesn't appear to be?

[2015-11-10 04:01] ethanblake4 commented on #34
I don't know what else it would be. If I turn my scaling level to 100%, the problem goes away (although everything on my screen is tiny of course). I'm running Windows 10 if that helps. Could have to do with the 13-inch display possibly?

[2015-11-10 05:11] MarshallOfSound commented on #34
OK, so it appears to be related to an upstream issue in CEF itself. https://code.google.com/p/chromiumembedded/issues/detail?id=1359

I'll try find a workaround but not looking promising

[2015-11-13 10:17] MarshallOfSound commented on #35
I'm going to put this in the "not really going to happen" basket as most lyrics API's cost money to use and that does not fit in to this app.  If someone can provide a reference to a free API that returns the entire set of lyrics I'll look into this, until then it is marked as invalid

[2015-11-13 16:20] DecoyJoe opened #36 "Mini player - Persistent Title and Controls"
Is it possible to have a setting to keep the Mini player's song info and controls always visible rather than just on a mouse over? Sometimes I like to recall what song is currently playing but having to mouse over the mini player after I focus it is an annoying extra step, especially if I just use alt-tab to switch focus.

Great work by the way!

[2015-11-14 02:00] MarshallOfSound commented on #36
Simple enough, will work on for next release

[2015-11-14 06:40] #36 closed

[2015-11-14 12:02] baleksey opened #37 "Feature Request: Make the Global hotkeys customizable"
It would be great if users will be able to control music player with global keyboard shortcuts (for those who don't have media keys) which can be customized. For example, Google Chrome allows to set keyboard shortcuts for extensions but they are very limited as user can't set just "F11" or "Ctrl+F9".

It could be done from some sort of setting menu or editing some config file (in order to add this

[2015-11-14 12:07] baleksey opened #38 "Enable/disable song name popup"
It should be option to disable song popup (at the bottom right corner of the screen) because It distracts (I got mail messages there, for example) and I don't want to know each time what song is playing right now as I'm listening to known music and already know them all.

But the main complain about distraction which I can't turn off.

[2015-11-14 13:12] MarshallOfSound commented on #38
This is a duplicate of #23

This is in master and will be in the next release

[2015-11-14 13:12] #38 closed

[2015-11-16 18:47] LordTowers commented on #31
I get the exact same issue (screenshot is exactly what i experience) and i didn't have the issue with any previous version (i have not uninstalled 1.7.0 and installed an older version though). Using Windows 7 (on a Thinkpad) using the most up to date windows and Lenovo updates.

[2015-11-16 19:15] Javierdsv commented on #31
I have tried to leave just specific Net Framework and Visual C++ versions and the problem keeps happening. It looks like Windows is trying to force their actual "aero" frame regardless of the custom orange/black the app uses.   I use the basic Windows 7 theme to keep my GPU healthy,  at first I thought this was the problem, but even when changing to the default Windows themes it keeps happening. R

[2015-11-16 19:34] LordTowers commented on #31
I was also starting to get strange .Net crashes and other weirdness with the 1.7 version (totally unhelpful i realize for troubleshooting since i didn't pull screenshots), i uninstalled and went back to 1.6 and it seems like it's back to its proper working order.

[2015-11-16 22:36] MarshallOfSound commented on #31
Untill I can replicate this on a machine I have access to (I am still trying) I have no idea how to fix this or what is even going on.  I'm trying to source a Windows 7 machine as that seems to be the linking factor between you two.

[2015-11-17 01:08] MarshallOfSound commented on #31
OK so progress update, I got my hands on a windows 7 PC and replicated the issue.  After a bit of mucking around and some nasty hacks (which I am not proud of :cry: ) I think I have a build that fixes this issue.  Can you guys please test this debug build ASAP

https://mega.nz/#!SIcEQDIB!gLbu0dRzhRG4J10FVgbCUFce3_-sNs_RvggbvFe8gVc

[2015-11-17 15:02] Javierdsv commented on #31
I unzip that file, run it from the unzipped folder and even though it prompts "A new update is available" I click Not Now, and it works perfectly fine.  The problem is gone.

[2015-11-17 16:11] LordTowers commented on #31
Same as Javier above, ran from unzipped folder and the minimize/full screen/close overlay looks good again. When i was first clicking around there was what looked like the windows overlay for the minimize button poking through but it seems to be gone now (didn't do anything besides wait) and it hasn't thrown any .net errors or anything either. I'll post another update if anything goes awry

[2015-11-20 11:21] MarshallOfSound opened #39 "Seperate 32bit and 64bit update streams"
Change the updater logic to download 64bit / 32bit builds depending on the current install.  Related to #16

[2015-11-20 17:05] MTRougeau commented on #39
Has the 64 bit version gone live yet? When I download 1.8.0 fresh from GitHub, I'm still running the 32 bit version.

[2015-11-20 23:21] MarshallOfSound commented on #39
Not yet, its a multi stage process.  1.8.0 has some of the underlying logic in the updater to allow for multiple build uploads.  Next update will check for x86/x64 and the update after that will actually have x86/x64 releases.  It's the simplest way I could come up with to move from a single update stream to 2

[2015-11-20 23:25] MTRougeau commented on #39
Awesome, thanks so much!

On Fri, Nov 20, 2015 at 5:21 PM, Samuel Attard <notifications@github.com>
wrote:

[2015-11-20 23:47] #39 closed

[2015-11-25 01:34] MarshallOfSound opened #40 "First run of the program, all the customization does not appear"
After you sign in for the first time the customization JS files are not injected.  This is due to the "inject once" nature of the ResourceManagerFactory

[2015-11-25 01:59] thesmall opened #41 "Feature Request: Scalable Text/UI"
I'd like to make a feature request: Much in the same way that you can use Control+Scroll Wheel to increase or reduce the font size (and UI scaling) in the browser when you are visiting Google Play Music, it would be very awesome if you could scale the font and UI in this application. I find the default text size a bit too big and so I usually reduce the scaling to 75%. Not only is the text smaller

[2015-11-25 02:29] Gameboy24 opened #42 "How do I change the theme?"
Doesn't seem like there is an obvious way to do so, unless I'm missing something? Do I have to change some file?

[2015-11-25 02:57] MarshallOfSound commented on #42
If it is your first run, you must close and reopen.  Then a desktop settings button will appear in the slide out menu.  If it's not your first run it will be there already

[2015-11-25 02:57] #42 closed

[2015-11-25 03:48] MarshallOfSound commented on #3
As an update to everyone, last.fm recently reopened their API sign up so I know have access to their API.  I will start work on getting this integrated soon :)

[2015-11-25 05:56] #40 closed

[2015-11-25 10:21] amoerie opened #43 "Feature Request: Show currently playing song in the Windows mini preview window"
It would be nice to hover over the icon in the taskbar and see the name of the band and song in that little preview window. I'm afraid you won't have much control over what's shown in there, but maybe you can change the title of the window and it will show up?

[2015-11-25 10:51] MarshallOfSound commented on #43
Yup, I should be able to change the title of the window.  Can't guarantee how much of the song title will be visible though (I do have little control down there) but the suggestion appears to mirror what players like VLC and Spotify do.

[2015-11-25 10:52] #3 closed

[2015-11-25 11:11] amoerie commented on #43
Sure, I'm confident that Windows will just ellipsize (append ... at the end) or cut off the text where necessary. Best solution would be some sort of "marquee" animation, where the text scrolls horizontally so you CAN read the full artist & song name if you wait a bit, but that's definitely not something worth spending a lot of time on.

[2015-11-25 11:23] MarshallOfSound commented on #43
Well this is in my queue for the 1.9 release, just polishing the last.fm stuff off and I'll get onto the smaller tasks like this one

[2015-11-25 11:23] #35 closed

[2015-11-25 11:26] MarshallOfSound commented on #37
So I've spent a while thinking about this, and I think I'm going to have to put this way down on the backlog for a few reasons
* Global hotkeys are simple, combinations not so much
* Detecting if a combination is used by another program or not is virtually impossible and I don't want to break other programs
* You can't do certain key combinations in chrome for a reason.  Check the chrome bug repor

[2015-11-25 11:27] MarshallOfSound commented on #41
Note: `Ctrl + +` and `Ctrl + -` are in CefSharp but aren't enabled.  I believe we have to map the keypress method on the form to the ZoomStep methods in Cef

[2015-11-25 11:29] MarshallOfSound commented on #34
Issue appears to have been resolved in upstream CEF. https://bitbucket.org/chromiumembedded/cef/issues/1355/scrollbars-disappear-when-font-dpi-changed

Just waiting for it to be implemented into the next CefSharp release

[2015-11-25 12:15] amoerie commented on #43
Thanks, and thanks for the great app!

[2015-11-25 12:18] XDRosenheim opened #44 "Minor thing: After installation."
Why describe it, when you can screenshot it.
All I did was to install it, nothing else.
![Screenshot](http://i.imgur.com/VD5uLkc.png)

[2015-11-25 12:39] yakcamnevets opened #45 "Crashes on startup on Win 7"
It just crashes on start. I'm running Win 7 x64. This might help I found an error in C:\Program Files (x86)\GPMDP\debug.log

[1125/081752:ERROR:renderer_main.cc(200)] Running without renderer sandbox
[1125/081824:ERROR:renderer_main.cc(200)] Running without renderer sandbox
[1125/081824:WARNING:backend_impl.cc(1778)] Destroying invalid entry.
[1125/081851:ERROR:renderer_main.cc(200)] Running witho

[2015-11-25 12:46] VladimirAmiorkov opened #46 "Feature request: Last.fm scrobbling"
Hi,

I will also give it try to implement Last.fm scrobbling but wanted to throw this feature request out there if someone more skilled (or with more free time) wants to implement it before me :)

[2015-11-25 13:37] sbozzie opened #47 "Feature Request: Ability to choose output device"
It'd be cool to be able to pick an output device from enabled devices on the pc.

eg: Default device is a USB headset, but I like to have music playing though speakers.

[2015-11-25 14:13] Devo7v opened #48 "Feature Request: Portable Version"
If possible it would be nice to have a portable version of this program that could be installed and store it's settings on a flash drive.  It looks like the user settings file is the only file stored outside of the installation directory.  Maybe this could be an option in the installer.

If a portable installation is selected I don't think the installer would require admin rights either which woul

[2015-11-25 15:07] baleksey commented on #37
Samuel, you've mentioned good points and I understand them but you probably missed the most important one. I believe that global keyboard shortcuts should be the first priority task for this player and I'll explain why.

First of the ability of fast, remote control of any media player is one of the most important factor. I believe that over 90% of people who already have their favorite playlists w

[2015-11-25 16:13] DecoyJoe commented on #11
FYI, Looks like Windows Defender might be suspicious of the player.

![Screenshot](https://cloud.githubusercontent.com/assets/4836970/11402381/70a17412-934c-11e5-8827-351c09aa9468.JPG)

[2015-11-25 17:33] MarshallOfSound commented on #11
Oh god, not another one....  I'll look into this one, although I think it is related to the installer being unsigned

[2015-11-25 17:35] MarshallOfSound commented on #48
Portable version of flash is possible, but possible a security risk (not sure really) as it would lock the user to one version of flash which can only be updated through new releases of the whole app.

Portable installation doesn't seem much to ask by itself though (just a zip instead of an installer)

[2015-11-25 17:37] MarshallOfSound commented on #37
You make some interesting points, I'll look around and see what the best way forward is

[2015-11-25 17:37] MarshallOfSound commented on #46
This is a duplicate of #3 which very recently went into master.  Last.fm scrobbling and now playing will be in the next release!!!!

[2015-11-25 17:37] #46 closed

[2015-11-25 17:38] MarshallOfSound commented on #44
Putting it out there, the installer is nothing to do with me :P  It's an open source installer utility I use to make the installer for this program.  I'll raise an issue with it over there :D

[2015-11-25 17:39] MarshallOfSound commented on #45
That looks like a problem with CefSharp.  Can you check your windows error logs, there should be some nicer Exception printouts there

[2015-11-25 17:40] MarshallOfSound commented on #47
Not exactly sure how this would be implemented as CefSharp handles the audio out not technically my code, but I'll look into what I need to override :smile_cat:

[2015-11-25 19:23] JimSP76 opened #49 "Dark theme error"
When using the dark theme the curated playlists (top of listen now page) have white text on white background, you can only see them when you mouse over.

Really like the program though, Google should have done this a long time ago.

![capture image-dark theme error](https://cloud.githubusercontent.com/assets/16022140/11407301/918a35d0-9377-11e5-97db-fb2b09a79806.png)

[2015-11-25 19:33] MarshallOfSound commented on #49
I'll add that to my list of pages to test, google makes CSS changes far too often.  I'll fix this to go out with the next release.  Sorry bout that :cat:

[2015-11-25 19:37] JimSP76 commented on #49
No worries, I don't really even use that feature. I just noticed it when I was playing around after I'd installed it.  Keep up the good work.

[2015-11-25 19:39] Alexandroid99 opened #50 "Instant crash on startup on Windows 10"
It doesn't start up properly and a debug.log won't even be created in the first place. I've tried setting the compatibility mode to Windows 7 but it didn't work. Any other ways of debugging that would help you?

[2015-11-25 19:46] MarshallOfSound commented on #50
The windows event log will have a few Exceptions in it probably.  But it is probably due to no installation of the "Visual Studio C++ 2012 Redist x86" pack from Microsoft.  Just google that name and download the official one.  Should work perfectly after that :D

[2015-11-25 20:10] Devo7v commented on #49
Why not implement a way for the user to add their own css?  Userstyles.org has plenty of css styles that are kept up to date, it would be one less thing for you to maintain.

[2015-11-25 20:13] Devo7v commented on #49
I also noticed that when implementing the Dark Theme and choosing a custom accent color, that color gets applied everywhere properly except for the work "Music" in Google Play Music, it remains green.

In addition to the color picker, would it be possible to enter a custom rgb or hex color code as well?

[2015-11-25 20:24] MarshallOfSound commented on #49
I actually style this in a funky way, not too happy with it but it's how I decided to do it (for some unknown reason :P).  I generate the styles in JS at run time based on selectors.  Adding custom user stylesheets although possible doesn't fit in to the current way I do things.

Custom Hex codes I could do yeah, open it up as a separate issue @Devo7v and I'll tag it for milestone 1.9 with everyth

[2015-11-25 20:45] Alexandroid99 commented on #50
Hmm I was pretty sure I had it installed. Maybe add a warning that it's missing or something. Anyway, thanks for helping.

[2015-11-25 20:50] MarshallOfSound commented on #50
Yeah, I'm planning on packaging the redist with the installer in the next release to stop this problem.  Can you confirm it now works @Alexandroid99 ?

[2015-11-26 04:52] dst33nburgh opened #51 "Thumbs up and thumbs down indicators are missing from the playlist view."
Here's a side-by-side comparison of google play music in browser and in the desktop app.
![capture](https://cloud.githubusercontent.com/assets/9411156/11415320/20144986-93c7-11e5-827e-348d8bcbf15d.PNG)

[2015-11-26 04:57] MarshallOfSound commented on #51
Ooooh, good catch.  Small UI differences like these are like playing spot the difference on extreme difficulty :P
Easy fix, will be in next release :DD

Edit: Just saw your PR, will look at it when I get back

[2015-11-26 08:36] smb commented on #45
Same here.

[code]

Do you have proxy support?

[2015-11-26 08:38] MarshallOfSound commented on #45
@smb I think that is a separate issue as `GPMResourceHandlerFactory` is only fired after the browser and stuff has finished initializing.  Not sure what would be causing that though, are you running your net through a proxy?

[2015-11-26 09:28] MarshallOfSound commented on #45
@smb Jokes, didn't see your question at the end of the comment.  No, I do not believe standard `WebClient` requests support proxies out of the box.

[2015-11-26 09:30] Alexandroid99 commented on #50
Yupp, confirmed. Very nice app! Keep it up.

[2015-11-26 10:01] #50 closed

[2015-11-26 10:03] #51 closed

[2015-11-26 10:08] MarshallOfSound commented on #51
@dst33nburgh Don't suppose you want to figure out the CSS fix for #49 as well by any change :smile:

[2015-11-26 10:53] Leogiciel opened #54 "Custom theme setting no more accessible since 1.8.0"
In settings, custom theme and custom color settings can't be found.

[2015-11-26 11:02] JuanTomasVillegas opened #55 "Upload music not found"
What about the upload music menu? It´s no possible get it?

[2015-11-26 11:24] #41 closed

[2015-11-26 11:26] MarshallOfSound commented on #41
I have implemented Ctrl Plus, Ctrl Minus and Ctrl 0.  They each respectively do the following

* Ctrl Plus --> Zoom in by a factor of 1.2
* Ctrl Minus --> Zoom out by a factor of 1.2
* Ctrl 0 --> Reset zoom to default level

[2015-11-26 11:27] MarshallOfSound commented on #54
Since 1.8.0 they have moved to their own dedicated settings option.  You can open the dedicated settings window by clicking on the "Desktop Settings" option underneath the normal "Settings" option in the slide out menu on the left.

[2015-11-26 11:28] MarshallOfSound commented on #55
Short answer no.  It would involve customly implementing the file drag and drop API's along with the file open API and a bunch of other stuff that seemed overly complex at the time.  For now, uploading music should be done through Google's "Music Manager" application (by far better than dragging and dropping into a website)

[2015-11-26 11:29] MarshallOfSound commented on #55
The won't fix tag is temporary, this might be implemented at some point, but not any time soon.  (At least not by me, anyone else feel free to give it a shot) :smile_cat:

[2015-11-26 11:29] #55 closed

[2015-11-26 11:36] #43 closed

[2015-11-26 11:40] MarshallOfSound commented on #44
Oops, forgot to close this one.  As I said above, nothing I can do to fix this :sob:

[2015-11-26 11:40] #44 closed

[2015-11-26 11:43] MarshallOfSound commented on #47
Research into this puts it at hard -> impossible level.  Somehow we have to force windows to move a different program (the CefBrowserSubprocess) to move to a different audio device.  It looks like there might be a way to do it with undocumented Win32 calls but it's going to take a lot more research before I know if this is even possible.

Because of that I'm removing this from the 2.0 milestone an

[2015-11-26 11:44] MarshallOfSound commented on #31
@LordTowers @Javierdsv `1.8.0` didn't happen to fix this for you guys by any chance *hopes*

[2015-11-26 11:46] MarshallOfSound opened #56 "Need to setup the Wiki"
There a quite a few questions on Reddit and even some raised as issues here which have very simple and somewhat obvious solutions.  These questions and answers should be put in some sort of basic userguide in the Wiki so that **hopefully** they don't get asked too much anymore.

*Even if they do get asked, I'd just link the wiki and run* :smile_cat:

[2015-11-26 11:48] MarshallOfSound commented on #56
If anyone wants to help with this, commenting below a set of basic instructions for performing a task, accompanied with screenshots would be very helpful.  Just choose a task (like changing the setting, for some reason people can't find it) and go for it. :tada:

[2015-11-26 11:50] JuanTomasVillegas commented on #55
Hi Samuel!!

Thanks a lot for your fast answer from the antipodes (Basque Country)!

And thanks a lot for your work!

[2015-11-26 11:53] MarshallOfSound commented on #55
No problem, thanks for using it :P

For anyone else having similar questions to this "where is feature blah blah blah, from the web version".  Basic rule is, if you can't see it, I hid it, because it doesn't work :+1:

[2015-11-26 12:04] smb commented on #45
Yup - enforced proxy.

http://stackoverflow.com/questions/17078894/get-ies-default-proxy-with-defaultwebproxy

could help here!?

[2015-11-26 12:07] AsgerSommer opened #57 "Back and forward buttons on mouse do not function."
I've grown quite accustomed to using my back/forward mouse buttons to navigate back and forth in browsers, especially when using Google Music, but I can't in this application. Is this a bug or just unsupported in the application?

[2015-11-26 12:20] Leogiciel commented on #54
The "Desktop settings" option cannot be found either !
![capture](https://cloud.githubusercontent.com/assets/1555868/11422947/7e39343a-9440-11e5-995b-a743028b50bb.PNG)

[2015-11-26 12:26] Leogiciel opened #58 "Desktop settings cannot be found in 1.8.0 (in french and spanish at least)"
Cannot access to desktop settings as the item cannot be found in the left panel.
![capture](https://cloud.githubusercontent.com/assets/1555868/11423026/3e86e908-9441-11e5-9bc4-af40e9f9c112.PNG)

[2015-11-26 12:36] Wikiwix opened #59 "Add Last.fm scrobbling support"
Via Chrome I can use an extension to get this functionality. In this standalone program this is obviously no option.

[2015-11-26 13:17] yakcamnevets commented on #45
@MarshallOfSound there were 2 errors in the event viewer. I see proxies were mentioned above. I'm on a VPN for work. Could that be the cause?

1 Source .NET Runtime
Application: Google Play Music.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Net.WebException
Stack:
   at System.Net.WebClient.DownloadDataInternal(Syst

[2015-11-26 13:34] Javierdsv commented on #58
This happened to me too. And applies to the back/forward controls.
The problem is they are designed for English only,  I had my Google account configured in Spanish, and as soon as I changed the global Language to English, both, the settings and controls appeared and worked fine.

[2015-11-26 13:36] Javierdsv commented on #31
The problem persists in 1.8.0 :(

[2015-11-26 14:59] Leogiciel commented on #58
Thanks, I thought about it when they marked my first issue as invalid.

Title updated.

[2015-11-26 15:08] tasmo opened #60 "Kill Flash"
Marshall is OpenSource which is very great. Instead of using Adobe's closed source Flash player the WebKit might be able to play Google Music files through HTML5 like discussed below:
https://github.com/radiant-player/radiant-player-mac/issues/335

[2015-11-26 16:12] smb commented on #45
Adding

[code]

after using (WebClient webClient = new WebClient()) works for me (NTLM proxy) - not sure if it works without proxy, entered credentials, etc. since i can't test here.

[2015-11-26 17:03] MarshallOfSound commented on #54
That's possibly a known bug due to a non English language, reopening to track that issue.  As a temporary work around.  Switch to english US

[2015-11-26 17:06] MarshallOfSound commented on #60
Short answer, it can't at the moment.  For a multitude of factors, the key of which bring a DRM library that is only in chrome.

I always watch this because o hate flash as much as the next guy, but until chrome either opens up or loosens up their DRM we can't use HTML 5 audio.

At least that's my understanding :P

[2015-11-26 17:07] MarshallOfSound commented on #59
Please check closed issues, of even commit logs.  last.fm support is in master and waiting for the next release, check out issue #3

[2015-11-26 17:07] #59 closed

[2015-11-26 17:08] MarshallOfSound commented on #57
Unsupported hotkeys, I've tried and failed to get them working.  If you wanna have a go by all means

[2015-11-26 17:39] daniel037589 commented on #58
I also can't find the settings in the Dutch version

[2015-11-26 17:47] MarshallOfSound commented on #58
Yup, the lanuage thing is annoying.  I'm looking into changing the JS to not care about language, but I don't know exactly what google changes from language to language

[2015-11-26 17:48] MarshallOfSound commented on #54
Reopened my reporter in #58

[2015-11-26 17:48] #54 closed

[2015-11-26 17:50] MarshallOfSound commented on #58
Issue will be a JS error somewhere on these lines.  https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/Google%20Play%20Music/Resources/custom-interface.js#L51-L90

[2015-11-26 18:58] MarshallOfSound commented on #58
All fixed, I have testing in like 5 languages (French, Spanish, Dutch, German and some version of Russian).  They all appear to work as expected, this fix will be going out ASAP with the next release (hopefully tomorrow, if not the day after).  Hang in their folks, you'll be using all the features very soon :smiley_cat:

[2015-11-26 19:08] MarshallOfSound commented on #57
Related to #19

[2015-11-26 19:44] dst33nburgh commented on #51
I have very little free time right now as I'm in college, but against my better judgement I think I'll have a go at it!

[2015-11-26 20:04] MarshallOfSound commented on #51
@dst33nburgh Lol, anything to get out of doing school work, amirite :100:

[2015-11-27 05:53] #49 closed

[2015-11-27 07:45] #57 closed

[2015-11-27 07:48] MarshallOfSound commented on #45
I'm planning on moving that `WebClient` implementation in the `GPMResourceHandlerFactory` over to the more up to date `HttpClient`.  That might have an effect on this and I don't want to (and shouldn't have to) code in specific proxy compliant code.  I'll do more research into this over the weekend, and probably upload a test build for you two to try out

[2015-11-27 07:50] MarshallOfSound commented on #45
There is also no way for me to test this as it works on my VPN and I don't have access to a proxy.

[2015-11-27 07:56] VladimirAmiorkov commented on #3
Adding my Last.fm information leads to "Login Failed" message. Am I missing something here.

[2015-11-27 07:58] MarshallOfSound commented on #45
@smb If  you have that working on your machine, can you test it thouroughly both with proxy and without and put up a PR.  It'll be easier that way

[2015-11-27 08:01] MarshallOfSound commented on #3
@VladimirAmiorkov Yes :cactus:

I'm assuming here you pulled the repo and tried to build it yourself.  If you look at [these lines](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/Google%20Play%20Music/LastFM.Intergration.cs#L20-L21) you should see the both the `API_KEY` and `API_SECRET` are empty.
This is because it is bad practice to push keys and secr

[2015-11-27 08:12] VladimirAmiorkov commented on #3
Ohh ofc :). I guess it is way to early and I am way too sleepy. Thank you for the comment.

[2015-11-27 08:12] MarshallOfSound commented on #3
No problem, I think I should document that somewhere, or perhaps make the build fail if they aren't present.  But that's an issue for another time :P

[2015-11-27 08:51] MarshallOfSound commented on #48
Moving this to 2.0 because the current update code won't allow a portable release upload this time round

[2015-11-27 10:31] The2rB commented on #58
This seem to still be present.
My app is using English language - and my OS is in Norwegian.
(Where does the app get its language from? Tried to set Google Chrome to English (USA) with no luck in making the settings appear.)

![tb-151127-1127-29001](https://cloud.githubusercontent.com/assets/5319973/11439143/ec0885b0-94f9-11e5-814b-7bdb32a4122a.png)

Tried both x86 and x64 versions.

[2015-11-27 10:35] smb commented on #45
normally i would have done that, but i can't test without proxy because there is no internet connectivity with proxy disabled :|

[2015-11-27 10:42] MarshallOfSound commented on #58
It should no longer matter in any way what language you use.  And to prove it, I set my language to Norwegian and it still works
![working](https://cloud.githubusercontent.com/assets/6634592/11439447/5bb9415e-9560-11e5-8c14-f4bcfcbbce95.PNG)

Can you please ensure you are up to date (1.9.0).  If you are up to date, I would suggest deleting the app and reinstalling it.  Other than that I don't real

[2015-11-27 10:43] MarshallOfSound commented on #45
Ahhh, I see, so you say it works with proxy on your machine though, so when I get time I'll try it on my machine and see if it works there.  If it does I guess we can assume it works in both environments? ...

[2015-11-27 12:44] XDRosenheim commented on #44
Fair enough, just wanted you to know, in case you could do anything.

[2015-11-27 14:24] The2rB commented on #58
Strange.
As I said - I tried both the x86 and the x64.
Uninstalled, deleted, reinstalled.
Did not help.

How did you change the language? Does the language come from Chrome?
I changed my language to norwegian in Chrome and in the Google Account settings (Google Play Music on the web is now in Norwegian) - but the app is still in English - and the Desktop Settings are missing.

Well - I'll have ano

[2015-11-27 16:38] Leogiciel commented on #58
I confirm it is working for me, without having uninstalled 1.8.

[2015-11-27 20:22] MarshallOfSound commented on #58
@The2rB As I said, language should have no effect.  What I'm going to do, is build the app for you but with devtools turned on, so you can see any errors that pop up.  Gimme a few hours and I'll upload it

[2015-11-28 02:49] eligrey opened #62 "last.fm scrobbling not working in 1.9.0"
I suspect it may be due to all of the special characters in my password. It looks like you're not url-encoding [your parameters](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/30bd635c8d336cefc4d4b48305431252edde7907/Google%20Play%20Music/LastFM.Intergration.cs#L111).

[2015-11-28 03:19] morganlowe opened #63 "Win7 x64 not opening"
The program does not launch on my system. It does on a 32 bit system I have though. There's no logs generated that I can find.

[2015-11-28 03:25] MarshallOfSound commented on #63
Please ensure that "Visual Studio C++ Redist x86" from microsoft is installed on your system

[2015-11-28 03:26] MarshallOfSound commented on #62
I will try test this by changing my password to include special chars

[2015-11-28 03:29] MarshallOfSound commented on #62
Issue confirmed, definitely URL encoding.  Thinking I should fix this ASAP and push out a `1.9.1` release

[2015-11-28 03:36] #62 closed

[2015-11-28 03:36] MarshallOfSound commented on #62
@eligrey Update should be being pushed out now

[2015-11-28 03:39] morganlowe commented on #63
I installed the one for Visual Studio 2015, seems to not have made a difference.  Any particular one I should be using?

[2015-11-28 03:42] MarshallOfSound commented on #63
Has to be the 2012 one, sorry, should have clarified that.  Also it has to be the x86 version if you are running the 32bit version of this app.  Or the x64 version if you are running the 64 bit version of the app.  Easiest thing to do is to install both x86 and x64 2012 redists :)

[2015-11-28 03:47] morganlowe commented on #63
That got it! Thank you so much!

[2015-11-28 03:48] MarshallOfSound commented on #63
No problem.  It really should be caught as an error in the code, but I can't find a way to catch it before it wants it....

[2015-11-28 03:48] #63 closed

[2015-11-28 04:19] eligrey commented on #62
I can confirm that this fixed it for me.

[2015-11-28 04:27] MarshallOfSound commented on #62
No problem, I hate having to tag something as a breaking bug.  Gotta get rid of it as quick as possible

[2015-11-28 11:44] Zazama opened #64 "Use correct install path when updating"
Hey,

I've installed the GPMDP on my D: drive, because my C: is an SSD and it's very small. The thing is, every time I update, I have to manually choose the install path that I've chosen at the first install. It would be really nice to have the used install path automatically loaded into the installer.

[2015-11-28 17:18] sorif commented on #62
I'm afraid this is still an issue for me with 1.9.1

Unable to login. I can only see the "enter username" field, and no matter what I type in there, I see a red "login failed". It doesn't even matter if I close and restart the application.

ps
sorry if I shouldn't have mentioned this here, it's the first time I'm posting anything on github :) keep up the great work on this, many many thanks!

[2015-11-28 20:40] MarshallOfSound commented on #62
@sorif so you cant see the password field????

[2015-11-28 20:48] sorif commented on #62
Exactly. This is what I'm seeing. I installed the 64-bit version, in case you need to know.
![googlemusicdesktoplastfmloginbug](https://cloud.githubusercontent.com/assets/8431264/11453797/d9199704-9621-11e5-949c-cd5bc91e544f.PNG)

[2015-11-28 21:02] MarshallOfSound commented on #62
That looks like exactly what you should see.  Have you typed in your last.fm username and pasword into those two fields.  Once you have done that, hit enter and it should say "Logging in" followed by "log in success"

[2015-11-28 21:12] sorif commented on #62
Oh, I just got it. I was typing my username in the password field. Whoops.

All is good now.

On Sat, Nov 28, 2015 at 11:02 PM, Samuel Attard <notifications@github.com>
wrote:

[2015-11-28 21:13] MarshallOfSound commented on #62
@sorif :stuck_out_tongue_winking_eye: Interesting trick, but glad its working now :smile_cat:

[2015-11-29 11:16] MarshallOfSound commented on #64
Hey,

This is related to #44

I have very little control over the installer, it is basically a self extracting zip file.  I am trying to get an Open Source license to use some software called "Advanced Installer" (you can google that to see what it is).  Which will allow me to implement features such as the one you suggest.

Until I get that license though, it's stuck how it is.  As soon as I get

[2015-11-29 11:16] #64 closed

[2015-11-29 11:18] MarshallOfSound commented on #48
Related to #64 and #44

If you read #64, when I get that license I am waiting for I will be able to configure the installer to install to a local directory instead of an admin protected one if admin rights can't be acquired.

That would seem to deal with your problem.  Closing as it is kinda invalid at the moment, but as soon as I get my hands on the Open Source license for the installer I will up

[2015-11-29 11:18] #48 closed

[2015-11-29 15:54] DoctorOak opened #65 "App won't accept Flash as updated and enabled"
Flash is up to date and enabled in my actual version of Chrome (though it was previously disabled after yet another massive security hole a few weeks ago). The app continues to insist that Flash needs updated/installed, though, so it won't do anything.

It seems that to have this Chromium bundle work at all anyway that Flash would therefore have to be installed and enabled permanently on your main

[2015-11-29 17:15] MarshallOfSound commented on #65
You forgot one small thing regarding this "issue", chrome uses it's own embedded flash player "pepper flash" whereas any other browser (Firefox, IE, and this embedded browser) require NPAPI flash.  If you download and install NPAPI flash from adobes website it will work properly, there is not possible way for CEF (The browser used in this app) to recognise chromes pepper flash and use it.

[2015-11-29 17:15] #65 closed

[2015-11-30 01:20] FISHunderscore opened #66 "Buggy minimize, maximize, and close buttons"
Note: I'm running the x64 version on win7.

* The minimize button will not do anything (fullscreen or not)
* The maximize button will make the program fullscreen, but will not restore it back down
* Clicking near the three buttons (min, max, and close) in the top bar of the player can sometimes show Windows Classic-like icons for the buttons (as shown below)
![image](https://cloud.githubuserconten

[2015-11-30 01:28] FISHunderscore commented on #31
Similar issue: https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/66

[2015-11-30 01:32] FISHunderscore commented on #66
The minimize button seems to work if you click in the top 1/3 of the minimize icon. Maybe something to do with scaling?

[2015-11-30 01:36] FISHunderscore commented on #66
Sorry, accidentally closed issue when I commented.

[2015-11-30 01:44] MarshallOfSound commented on #66
The 1/3 thing you mention is due to the windows min, max and close icons being rendered (sometimes invisibly) on top of my custom border.  I have no explanation for this, and no idea how to fix it.  This is no doubt an exact duplicate of #31 so I'll mark this as a duplicate and try figure it out over there.  There is a debug build in that other issue thread if you want to try that out, it was just

[2015-11-30 01:44] #66 closed

[2015-11-30 01:45] MarshallOfSound commented on #66
Duplicate: #31

[2015-11-30 06:15] FISHunderscore commented on #18
I also use them often while listening to station. They'd be a handy addition to the mini player.

[2015-11-30 08:46] The2rB commented on #58
Running with devtools activated sounds interesting.
For some reason I still can not get it to work.

Total uninstall and reinstall today - did not help.
Also tried running as administrator - did not help.

Thanks for showing interest in my problem - even though it had been fixed for everyone else.
If you are interested in me trying to run with devtools - I'll do that.

Have a nice day.

[2015-11-30 16:42] LordTowers commented on #31
i didn't install the newest version but if you are ok with me assuming its broken here too (since Javier and me have been in lockstep) i'll just wait and test the next version

[2015-11-30 16:48] Devo7v commented on #48
I understand you will be able to make this more configurable when you implement the new installer, but one thing that is very important that I don't want to get lost is the fact that the settings need to be portable as well.  Right now the way the program works, I can install it to any path I would like, but the settings always end up in the %USERNAME%/AppData/Roaming/GPMDP folder.  If I install t

[2015-11-30 16:56] ngramste commented on #31
Yup, I have checked with the newest version (1.9.1) and the problem still exists.

[2015-11-30 21:22] MarshallOfSound commented on #48
From memory, (I haven't touched the settings stuff much it's mostly handled by Visual Studio) your personal settings are stored in `%APPDATA%/Local Settings` and the browser cookies / cache that GPM uses is stored in `%APPDATA%/Roaming/GPMDP`.  The second one I get to choose the first one I don't think I do.

The problem is I can't generically store settings and the browser store in the same folde

[2015-11-30 21:33] davidchill commented on #56
Hey, I'd be more than help to write-up some how-to's and tutorials for just a basic FAQ page for you. I'm very good at writing training material, so I can make it easy for people to understand.

[2015-11-30 22:12] spr0k3t commented on #18
The thumbs are what I use on the radio stations, helps weed out the junk in the long run.

[2015-11-30 22:36] Devo7v commented on #48
That is my point, you can choose where to store the browser cookies/cache.  So if the user chooses a portable installation (on to a flash drive for instance) then the browser cookies / cache should be stored on the flash drive as well and the program should know to look for the cookies / cache there instead of %APPDATA%/Roaming/GPMDP.

I understand that you don't want the program to require admin

[2015-11-30 22:37] Devo7v commented on #48
Also, it should be noted that on Windows 7 I don't have a %APPDATA%/Local Settings folder, everything is stored in %APPDATA%/Roaming/GPMDP.  I think that's a Windows XP legacy folder.

[2015-11-30 23:03] MarshallOfSound commented on #48
I'm going to have to think about this, there is also the security concern of having unencrypted cookies that give access to your google account on a USB stick.

You make some good points but there is still a bit to think though

[2015-12-01 03:14] rprouse commented on #58
@The2rB you are not the only one. It is happening to me on several computers, Windows 8.1 and 10. I originally installed 1.8.0, but figured it would be fixed with the first run initialization bug. I uninstalled and then installed the 64 bit version of 1.9.0 and it is still happening. Looks to me like none of the JS injections are working, I still get the notifications and app menu in the upper rig

[2015-12-01 03:38] MarshallOfSound commented on #58
@rprouse @The2rB Sorry guys, I've been quite busy at work the last couple of days and can't even work on it at lunch because we operate of macs @ work :smile_cat:

I'll try get you guys a build from Chromium devtools enabled tonight, that should tell us if it is a JS error or if the JS isn't being injected at all.

And @rprouse the relevant injection code (although I am 99% sure the code is being

[2015-12-01 04:23] MarshallOfSound commented on #58
Guys, I just noticed something.  Paging @The2rB and @rprouse

You guys both have this "Send a Gift" option, what on earth is that????????

[2015-12-01 04:25] MTRougeau commented on #58
US only option right now, I think. Let's you gift a GPM subscription to
someone else.

On Mon, Nov 30, 2015 at 10:23 PM, Samuel Attard <notifications@github.com>
wrote:

[2015-12-01 04:26] MarshallOfSound commented on #58
If I had to guess, that's somehow screwing with my selectors... Goddam Google US only features :cry:

[2015-12-01 05:55] MarshallOfSound commented on #58
OK Guys, @MTRougeau @The2rB @rprouse  Here is a debug build, when you open it another window will force itself on top of everything else.  This window is the dev tools, click on console and a list of errors will appear.

Screenshot that list of errors and upload it here so I can see what's going on.  Thanks :cactus:
https://mega.nz/#!CA0G1KqI!ipa1R60XKj6Pc6xmKRxPHlmguxiSMBmGTFVzaRetQTk

[2015-12-01 07:36] The2rB commented on #58
I'm not running the US version - and do not have the gift option available. (Just as a notice.)

[2015-12-01 07:37] The2rB commented on #58
Here is the console-log:

![tb-151201-0836-19001](https://cloud.githubusercontent.com/assets/5319973/11494855/b377f5c2-9806-11e5-9bcc-adfc9661c023.png)

Thanks for trying to figure this out.

[2015-12-01 08:48] MarshallOfSound commented on #58
OK, the last error is the one that is relevant.  That gives me the cause, now I just need to find a solution... That will be tricky given I can't replicate the issue but stay tuned and I'll keep uploading builds till one works

[2015-12-01 09:05] MarshallOfSound commented on #58
Also @The2rB the language is cached by google and the embedded browser (to lower internet usage) actually performs its own stronger caching so the language won't change till you log in and log out.  But as said before, the language shouldn't affect it, it will be some region specific code I can't see

[2015-12-01 09:19] The2rB commented on #58
Just found it strange that I were unable to change language.
But I can confirm that after signing out and in again - the language have changed and the Desktop Setting is still missing.

[2015-12-01 10:54] MarshallOfSound commented on #58
OK guys,
Same as before, here is another devtools enabled build, this one should work but only because I disabled a few things (not noticeable).  Good luck :D

https://mega.nz/#!nBlUQbrT!gjfIL20EEWnRyYHHixDaHkcvJqcr8VdZ7507WpR1r6s

[2015-12-01 11:38] The2rB commented on #58
The desktop settings are now in place:
![tb-151201-1237-55001](https://cloud.githubusercontent.com/assets/5319973/11499713/6388c204-9828-11e5-9c4b-e1386f7e0d80.png)

The new console messages:
![tb-151201-1238-24001](https://cloud.githubusercontent.com/assets/5319973/11499715/6be88b96-9828-11e5-9bef-5ee5e42954cd.png)

[2015-12-01 15:38] ceryen opened #67 "Feature Request: Ability for mini player to stay on top"
I think it would be awesome if the mini player had the option to stay on top of other windows.  There are numerous Windows utilities that can be used to achieve this, but when using these utilities to keep the mini player on top, when switching back to the full player, the full player also stays on top.  I think a native option that is specific to the mini player would be nice

Keep up the good wo

[2015-12-01 16:19] Devo7v commented on #48
So I went ahead and created a PortableApps launcher for GPMDP.  The launcher contains all the files (including source) needed to properly execute GPMDP and move the %APPDATA% files from the flash drive to the computer and back again as described above.  The only thing that is not included are the program files, these files will need to be copied to ..\GPMDPPortable\App\GPMDP\ (see the attached scr

[2015-12-01 17:23] darnold commented on #37
I second this. I use the Prime Player google extension solely because of the shortcuts it lets me use in chrome to control my player. https://chrome.google.com/webstore/detail/prime-player-for-google-p/npngaakpdgeaajbnidkkginekmnaejbi

[2015-12-01 19:21] MarshallOfSound commented on #67
I was originally planning on doing this but I didn't have a nice way for the user to choose whether they wanted this enabled or disabled.  Now I have implemented the settings menu it shouldn't be too tricky :cactus:

[2015-12-01 19:43] rprouse commented on #58
The latest debug build works for me with those two lines commented out. I am seeing the same errors as @The2rB.

FYI, I am using the Canadian Play Store.

I managed to get a breakpoint set on line 247 of gu-util.js, the outerHTML for `divs[2].querySelectorAll('div')[1]` is just `<div class="gb_kb">Rob Prouse</div>`, there is no link, so I think it is safe to do something like,

[code]

Forgive my

[2015-12-01 23:38] MarshallOfSound commented on #58
@rprouse All the errors you guys are seeing are pretty standard, its trying to find a chrome extension that isn't there :cactus:

That JS is more or less what I am going to do, I kinda want to figure out why an element is there for me and not for you though...  Could your google account be different in any way?

But regardless as to what caused it, I'll upload another debug build when I get home t

[2015-12-02 06:52] antonydeepak opened #68 "Could not go further installation screen for Adobe flash"
The player requests me to update flash but then it doesn't go anywhere from there. Attaching the screenshot where I am stuck. The prompt for download does not appear in the webview(I guess) you are rendering. All my browsers are up-to date with flash and hence none of them suggests me to upgrade when trying to do it through browser.

![image](https://cloud.githubusercontent.com/assets/1146580/1152

[2015-12-02 07:23] The2rB commented on #58
Ahh.. Good question.
**I'm using an Google Apps account.**
Could that be it?

[2015-12-02 07:54] MarshallOfSound commented on #68
Duplicates of #65 and #30

Basically follow the link in the readme (http://get.adobe.com/flashplayer/)
And follow the instructions to download the system wide version of flash player (also known as NPAPI)

[2015-12-02 07:54] #68 closed

[2015-12-02 08:35] MarshallOfSound commented on #58
@The2rB That would actually be great, I'll DM you now

[2015-12-02 09:37] #58 closed

[2015-12-02 16:42] Devo7v opened #69 "Bug: Autohide Controls MiniPlayer"
I have the controls set to autohide in the mini player.  The problem is if I open GPMDP, start playing music, and hit the button for the mini player, the controls remain visible.  If I move my mouse cursor over the mini player and then away, the controls autohide as expected.

This bug seems to only occur the first time the mini player is selected.  I can reproduce it every time I hit the miniplay

[2015-12-02 19:14] Isaact94 opened #70 "Flash player disabled"
I previously installed this program a few months ago and it worked great, however, after reinstalling windows and thus the program the Flash player is somehow disabled - I can't play music...
As this is part of chrome I am not sure how to re-enable it.

[2015-12-02 21:49] MarshallOfSound commented on #70
Duplicate #68

Follow the instructions there

[2015-12-02 21:49] #70 closed

[2015-12-02 21:50] Devo7v opened #71 "Bug: Custom Color not Applied"
When turning on the Custom Theme, the app is has a dark theme with green accents as the default.  If the user chooses another color (orange for instance) most of the accent colors change properly except for the check boxes in the settings and the word "Music"  in the "Google Play Music" slide out menu.  See the screenshot below.
Would it be possible to have the ability in the program to manually e

[2015-12-02 22:49] MarshallOfSound commented on #71
The RGB idea was suggested somewhere but can't seem to find it in an open issue so I'll leave this one open to track it.

As for the "Music" in Google Play Music.  Theming that part it virtually impossible because it is by default orange and the only way I can change it is using CSS filters to adjust hue/saturation/brightness.  I'm looking into replicating the image as an SVG to make colours easie

[2015-12-03 13:42] Isaact94 commented on #70
Thank you guys.
I have never used GitHub so I am learning how it works, sorry about that

[2015-12-03 14:06] taoizt opened #72 "Feature Request: Chromecast functionality"
The chromecast functionality of the Chrome tab is not available, is it possible to implement it or is this too hard to implement?

[2015-12-03 15:02] xaviergonz opened #73 "Feature Request: Auto Updater"
Support auto-updates (or at least checking if a new release is available and letting you go to the download page)

Also a way to see the currently installed version (probably inside desktop settings?) would be nice.

[2015-12-03 15:09] xaviergonz opened #74 "Desktop Settings showing empty"
v1.9.1, Windows 10 x64, en-us, the desktop settings button, while it shows, it shows only the icon (gear) and centered.

![screenshot 2015-12-03 16 06 57](https://cloud.githubusercontent.com/assets/6306796/11564181/2f667974-99d8-11e5-9dff-e9926b26ed83.png)

[2015-12-03 15:14] NobleRobot opened #75 "x64 installer defaults to "Program Files (x86)" folder"
From what I understand, it doesn't really matter where you install a Windows program unless its location was lazilty hard-set in code, or if it requires shared/common files that are relative to its installation location. I don't think either applies here.

So while the only consequence I imagine is confusion or minor inconvenience, say if someone wanted to install both versions for some reason, th

[2015-12-03 17:10] strigona-worksight commented on #75
I just installed it on Win 10 x64 and can confirm that the default location is incorrect.

[2015-12-03 17:48] Tankatronic commented on #75
Environment variables like %ProgramFiles% expand to different values depending on what platform your application is targeting as well. Definitely a best practice to keep 64 bit components in their directories and 32 bit components in their own!

[2015-12-03 18:42] MarshallOfSound commented on #73
Already exists and in here, check out https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/Google%20Play%20Music/CoreMusicApp.UpdateChecker.cs

[2015-12-03 18:42] #73 closed

[2015-12-03 18:44] MarshallOfSound commented on #72
At the moment, ridiculously difficult as the ChromeCast API is not 100% open, I am always looking into this though as ChromeCast is a nice bit of functionality to have :)

If at some point it becomes easier to implement it will definitely go onto my ToDo pile, but at the moment.  It's definitely only on my wish list :cactus:

[2015-12-03 18:44] #72 closed

[2015-12-03 18:45] MarshallOfSound commented on #74
Theres a fix in master for problems related to the desktop settings button.  I believe that it would fix this issue

[2015-12-03 18:45] #74 closed

[2015-12-03 18:48] MarshallOfSound commented on #75
I'm currently looking into changing installers (At the open I am using something called SImpleInstaller (or something like that)) and I want / need to move to something a bit more complex and powerful.  I', looking into Inno Installer at the moment but whatever installer I end up going with this will be fixed.

[2015-12-03 18:54] Tankatronic commented on #75
@MarshallOfSound what about WiX? I have experience with setting that up. I could tackle that if you like.

[2015-12-03 18:57] MarshallOfSound commented on #69
I thought I fixed this bug, apparently I did not :cactus:

[2015-12-03 19:03] MarshallOfSound commented on #75
@Tankatronic My basic goals / requirements for the installer are the following

* Install to the correct program files location.
* Check that the correct .NET version is installed (and offer download link if not)
* Check that "Visual C++ x86 2012 Redist" is installed (and install it if it is not)
* Actually integrate into the "Add / Remove programs" in Control Panel (MSI)
* And this one is kinda o

[2015-12-03 19:19] Tankatronic commented on #75
Wix can do all that and I have had experience doing all of those things!

I will get to work on it this weekend.

[2015-12-04 06:47] MarshallOfSound commented on #47
Due to the way CefSharp works this has been determined as impossible without recompiling and changing CefSharp

[2015-12-04 06:47] #47 closed

[2015-12-05 00:06] MarshallOfSound commented on #75
I recently set up this repo with AppVeyor CI as well, so when the WIX scripts are working we should even be able to fully automate the release process.  AppVeyor will be able to generate the installers automatically on each commit :smile:

@Tankatronic @NobleRobot

[2015-12-05 02:34] jonfroese55 opened #77 "Feature Request: Song title in task bar"
Loving your app so far, just switched over to GPMAA and loving it for the most part. I despise web players so your app was the perfect thing for me.

One very small thing, that I noticed moving from the Spotify desktop app is this:

![spotifygpmaa](https://cloud.githubusercontent.com/assets/12867865/11605475/1374d5d2-9ac6-11e5-9366-3e4bde9e7ea7.png)

Looking at the task bar, the spotify player wil

[2015-12-05 03:55] MarshallOfSound commented on #77
I was just about to blast you to high heaven because this feature is implemented, but then I read your comment and double checked the code.  Seems like a small error in some if logic, the JS only sends the song change event if the desktop notifications are turned on.

I'll just move the if logic so it works without notifications enabled :cactus:

[2015-12-05 04:33] jonfroese55 commented on #77
I figured it was something very simple like that, thanks for looking into it

[2015-12-05 04:51] #77 closed

[2015-12-05 04:53] mase1981 opened #78 "Feature request: enable Bluetooth avrcp support"
Is it please possible to consider support for Bluetooth a2dp avrcp protocol. So we can play pause and seek tracks using bt headsets....
Thank you

[2015-12-05 04:57] MarshallOfSound commented on #78
Urgh, I looked into this a while back and it is the worst documented functionality ever....  The extend of the MSDN documentation on this is here https://msdn.microsoft.com/en-us/library/aa916569.aspx

I'll leave this open, but bearing in mind I don't have a bluetooth headset to test with there is no real way to test anything I implement.

I'll tag this as help wanted and hopefully someone will lo

[2015-12-05 05:01] mase1981 commented on #78
Appreciate you looking into this man....  Hopefully one day :) great app!

[2015-12-05 05:39] MarshallOfSound commented on #78
For now it might be worth you looking into seeing if something like AutoHotkey has this already implemented so you can map your bluetooth buttons to the equivalent keyboard buttons.  Hacky work around I know but at least it would work :)

[2015-12-05 05:40] #71 closed

[2015-12-05 05:42] mase1981 commented on #78
That's actually a good idea! I've been searching like crazy inside Microsoft documentation and api's.... as u mentioned earlier, it's a mess lol....  I'll look into autohotkey

[2015-12-05 05:57] #67 closed

[2015-12-05 05:59] cboseak commented on #18
I agree, I use the thumbs up to add to googles auto-playlist named thumbs up. Kind of a way to keep a dynamic constantly changing playlist without having to manually add things. This is a great project by the way, really excited at how this is turning out.

[2015-12-05 06:11] cboseak opened #79 "google profile picture cut off in some window sizes"
not sure if this was is a bug or if it is intentional because of limited window real estate but in some situations where the window is resized below a certain size
![capture](https://cloud.githubusercontent.com/assets/9941734/11606376/c14aafba-9ae4-11e5-9c20-896871d71ed7.PNG)

[2015-12-05 06:30] MarshallOfSound commented on #79
That's actually Google CSS forcing a min width on the body of the page.  I could override it but they put it there for a reason :D

#googlesproblem #wontfix

[2015-12-05 06:30] #79 closed

[2015-12-05 06:41] MarshallOfSound commented on #18
OK guys I get the message, you are want it and I haven't done it for a month...

*hangs head in shame*
*self assigns*

[2015-12-05 07:49] MarshallOfSound commented on #18
So how do you guys @cboseak  @spr0k3t  @FISHunderscore @Darsh911 @MTRougeau feel about only having the thumbs available during radio playback?

Design restrictions (seemingly google JS related are preventing much fiddling with the thumbs styling, but I can make them visually fit and work while the radio is playing.  Is this OK?  (I can see that all of you claim the radio as the reason you want thi

[2015-12-05 08:16] FISHunderscore commented on #18
I'm fine with thumbs just for the radio. All of the music that I've uploaded/bought I already know I like anyway.

[2015-12-05 17:29] Misiek304 opened #80 "Possible to add offline storage ?"
Would it be possible to add offline listening to your app ?
Something similar to Spotify and their offline storage.

[2015-12-05 18:46] mase1981 commented on #78
Hi, just wanted to give an update....
Done some investigation last night....
here is what i found
if you are using windows 10 and your BT headphones are version 4.1 (doesn't matter LE or not) with AVRCP 1.3 minimum AVRCP will work on this app flawlessly.
Tested in windows 10 and i am able to successfully control the music (play/pause/back/fw).
Tested with JBL everest elite 700
 :)

You can mark th

[2015-12-05 20:30] MarshallOfSound commented on #78
That's good news, Microsoft finally implemented something correctly :)

[2015-12-05 20:30] #78 closed

[2015-12-05 20:31] MarshallOfSound commented on #80
Completely out of my control, and web player music is encapsulated in flash with some fancy DRM.  Unfortunately until Google offers this in the web player I can't do anything about it

[2015-12-05 20:31] #80 closed

[2015-12-05 21:44] Tankatronic commented on #75
@MarshallOfSound

.Net 4.0 is the minimum version required to be installed, is that correct? None of the other dependencies require a greater version?

[2015-12-05 22:01] gsingh13 opened #81 "Request: Custom Highlight Color for "Music" text"
First, love this application and the ability to turn the player black, but can you please add the "Music" part of Google Music on the top left to change with the selected highlight color i.e. if I choose red, it stays green.

- Thanks!

[2015-12-05 22:24] sorif opened #82 "Request: Could we cache Albums/Playlists on demand (like on the Android app)?"
Look, I realize 100% that a feature like this is a huge addition to the existing, simpler, client you've created. But I have been dealing with a clunky web connection at home this past week, it would be interesting to add something like that. I suppose most people wouldn't be interested in it, and with good reason. Also, to my knowledge it should be really hard to implement.

But I don't know ever

[2015-12-05 23:30] spr0k3t commented on #18
Removing "repeat" and "shuffle" in favor of thumbs would be perfect for me on the radio section.

[2015-12-05 23:36] MarshallOfSound commented on #75
@Tankatronic yep.  .NET 4.0 is the required version

[2015-12-05 23:37] MarshallOfSound commented on #81
This is a duplicate of #71 and has been fixed in master.

It will be in the next release

[2015-12-05 23:37] #81 closed

[2015-12-05 23:39] MarshallOfSound commented on #82
It already has more aggressive caching than the web version (in regards to static resources) but the music is stored in a flash container and j can't touch it / save it / cache it.

Refer to #80

[2015-12-05 23:39] #82 closed

[2015-12-06 00:51] azureharri opened #83 "Can't Login"
When prompted to enter my e-mail at login, i cannot type in the text field. I couldn't copy/paste into the text field either. If it helps, I'm using an Asus Transformer Book T100TA with a 32-bit copy of Windows 10.
Really looking forward to using this app!
It's a really good idea, and the pictures look amazing.

azureharri

[2015-12-06 05:54] MarshallOfSound commented on #83
I can not replicate this issue (I actually have a mate with a Transformer Book), can you try closing everything, rebooting, reinstalling and trying again.  Maybe even plug in a external keyboard or something?

[2015-12-06 14:23] Meegooo commented on #66
Had similar issue on windows 10. I pressed maximize button and player just closed (like i pressed "close" button). It happened like 3 times in a row.
However, after i used "aero snap" to make it fullscreen (it's not aero anymore, but anyway :smile: ) it was fixed and I can't reproduce it anymore.

[2015-12-06 16:14] azureharri commented on #83
Yeah reinstalling worked. Don't know why I didn't try that in the first
place.
Thanks
On 6 Dec 2015 5:55 am, "Samuel Attard" <notifications@github.com> wrote:

[2015-12-06 18:45] #83 closed

[2015-12-09 08:56] stevenolsen opened #85 "Player consistently freezes OS while changing songs"
When playing songs from a playlist or radio station, the player freezes the entire OS. Mouse movement ceases. Not difficult to reproduce as it tends to happen ~80% of the time. Happens with the December 8 commit and at least one prior to this. The freezing lasts for ~3 seconds, the next song does start playing, but the rest of the system appears unresponsive. Intel i7 4770k (not overclocked), 8 GB

[2015-12-09 11:47] SweBeat opened #86 "Add more theming options?"
I like the idea of being able to theme Google Play Music to a color of my choice. However, I wish I could also change the main color that you use in the dark version. Is it possible to add control over that as well? So I can change both the orange to whatever I want and also the dark that you picked to anything I want?

[2015-12-09 19:24] MarshallOfSound commented on #85
I'm not sure what to tag this with :confused:

I'm tempted to tag invalid and call it a system specific bug (possibly an OpenGL rendering bug or a Flash Player bug.  Can you try monitoring CPU usage around the freeze point (changing songs) and see if it spikes in a particular application.  Focus on `flashplayer`, `CefBrowser.SubProcess` and `Google Play Music Desktop Player`.  One of them will be

[2015-12-09 19:50] Devo7v opened #87 "Bug: Scroll Bar Remains when Fullscreen"
When the normal window is open, if you open the GPM sidebar while music is playing and select the album art in the lower left corner to make it full screen, the scroll bar for the sidebar as well as the scroll bar for the main window is overlaid on the album art visualization.  This occurs with both the light and dark theme.  See the attached screenshot.
![untitled](https://cloud.githubusercontent

[2015-12-09 20:53] MarshallOfSound commented on #87
I've noticed this for a while and I am under the firm impression that it is a CEF bug.  I will monitor the situation with CEF and see if I can implement a workaround, but probably just a rendering glitch that won't be fixed till CEF pushes their next major

[2015-12-10 11:06] MarshallOfSound commented on #75
Hey @Tankatronic is there any progress on this I can look out, I'm looking to push out a 1.10.0 release in the next few days and really want a new installer to be part of it :smiley_cat:

[2015-12-10 14:36] Tankatronic commented on #75
I have it nearly finished. I have not had a chance after the weekend to finish it up. Currently I just need to add the ability for users to toggle installing a start menu shortcut and to provide links if the correct .Net or VC runtime are not installed. It currently does check if they are and will halt the install if they are not.

Other than that its finished.

[2015-12-10 14:39] Tankatronic commented on #75
If I have time today I can have it finished, otherwise sometime this weekend

[2015-12-10 16:31] j0nnymoe opened #88 "Request: Spam now playing info to IRC Client"
Send Artist - Song to irc chat via /nowplaying command in hexchat.

**Idea -  if possible to emulate foo_winamp_spam.dll plugin for foobar200, no need to develop any plugins for any irc clients alot of them already have plugins for this method**

https://github.com/RazielZ/foo_winamp_spam

[2015-12-10 20:00] MarshallOfSound commented on #75
@Tankatronic thanks for all the help :)  Looking forward to pushing it out :smile:

[2015-12-11 05:48] MarshallOfSound commented on #75
@Tankatronic It's going to have to go in next release as I will be pushing out an update in the next few hours, google made some changes that broke some of my JS so that has to be fixed urgently

[2015-12-11 06:24] #18 closed

[2015-12-11 06:27] MarshallOfSound commented on #88
Currently out of scope, their are programs out there that can read what song is currently playing through the title of this app.  Maybe you can try hooking one of those into this, either that or custom build this project and make the integration yourself.

Only out of scope due to the low potential userbase, the high complexity and my desire to keep this program simple and bare bones :)

[2015-12-11 06:27] #88 closed

[2015-12-11 12:04] stevenolsen commented on #85
I haven't been able to catch the culprit in action with the task manager open, however I've noticed the halt happens exactly between the event of a new song starting and the desktop notification appearing. Oddly enough, if I try to disable desktop notifications, they still appear even after restarting the app.

[2015-12-11 12:07] MarshallOfSound commented on #85
Is this on the latest release 1.9.2?? (a few hours ago)

[2015-12-11 14:20] Devo7v commented on #48
Would you be willing to upload a zip version of the files in addition to the current installer?  I would then be able to use the PortableApps installer to install the app directly as well as to update it without having to copy and move files.

[2015-12-11 14:39] Devo7v commented on #87
I also just realized that the scroll bars also show up on the miniplayer as well.  I've noticed them for awhile now, but couldn't figure out what the dark boxes were.  See attached.
![untitled](https://cloud.githubusercontent.com/assets/15945504/11746234/07915e32-9feb-11e5-91b7-183d979eb3e6.png)

[2015-12-11 14:48] NorberMDP opened #89 "Framework error in W10 when network is lost"
When I lost the network a framework error is displayed.
Details:
![image](https://cloud.githubusercontent.com/assets/16256833/11746459/0c42ed12-9ffd-11e5-82aa-1077b7071634.png)

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.Net.WebException: The remote name could not be resolved: 'lh

[2015-12-11 16:11] LordTowers commented on #31
still exists in 1.9.2 as well

[2015-12-11 18:45] stevenolsen commented on #85
Not sure where to check the version if I'm not compiling it. Properties on the executable hasn't been set and the version is not printed in the settings. It did ask me to update a few hours ago so maybe? I also restarted the app and it did not ask to update. I disabled desktop notifications in settings, not desktop settings. Once I did that I haven't had it freeze on me when changing songs but my

[2015-12-11 22:10] MarshallOfSound commented on #89
Woah, massive list of errors.  I'll try see if I can replicate this

[2015-12-11 22:12] MarshallOfSound commented on #48
Sorry, I kind of forgot to mention this but I have come up with a "compromise" for anyone who wants a portable installer.  Their is a zip file you can download from (here)[https://ci.appveyor.com/project/MarshallOfSound/google-play-music-desktop-player-unofficial/build/job/mtomsxikdi1skyst/artifacts]

A zip file is generated there every time I commit to master so it will always be the latest versi

[2015-12-12 04:28] MarshallOfSound commented on #85
Do you have last.fm turned on?

[2015-12-12 07:39] superjase commented on #37
this is such an important feature! being able to control my media without having to open the player on the screen is mandatory!

[2015-12-12 07:41] superjase opened #90 "media buttons not working on my logitech keyboard"
my play/pause, stop and skip buttons do not work for the player. these buttons work perfectly in other players (such as vlc, winamp).

[2015-12-12 07:51] MarshallOfSound commented on #90
I have tested this with the only logitech keyboard I have (a K260) and it works perfectly fine.  Can you please confirm which keyboard you have?

[2015-12-12 07:54] MarshallOfSound commented on #37
@superjase Their are global hotkeys, they are set to the standard play/pause, previous and next track buttons.

If you want to customize them, for now you can use something like AutoHotkey to map keys to other keys

[2015-12-12 21:09] superjase commented on #90
it is a logitech wave 2.4 cordless keyboard running setpopoint 6.67.83 and driver 5.90.41

[2015-12-13 19:02] IceKreem opened #91 "Spinning Circle (Will not load Certain Artist)"
When I click on Chase & Status (Artist) it loads the artist and shows their songs etc. .If I back out (go to Listen Now) and click Chase & Status again all I get is a spinning circle. I noticed that it only happens to this Artist. It will not work again unless I quit the app and re launch and then the same occurrence again and again.

![1](https://cloud.githubusercontent.com/assets/15200832/117686

[2015-12-13 19:03] MarshallOfSound commented on #91
That sounds like a Google Play Music bug, can you check if the same thing happens in a browser

[2015-12-13 19:05] IceKreem commented on #91
Yeah your right. Sorry completely forgot to check the browser (that's how good your app is :P) .

[2015-12-13 19:07] MarshallOfSound commented on #91
No problem, maybe try raising it with Google support, they might be interested :)

[2015-12-13 19:07] #91 closed

[2015-12-13 21:25] jbrr18 opened #92 "Desktop notifications can't be disabled"
When opening the application, desktop notifications are automatically enabled. Going to the settings section, they show as disabled. No matter which way I toggle the notification switch, they still show up

[2015-12-13 22:31] MarshallOfSound commented on #92
Please use the "Desktop Settings" option, instead of the normal "Settings" option.  Thanks

[2015-12-13 22:31] #92 closed

[2015-12-14 02:34] Tankatronic commented on #75
Sounds good. I was out of town this weekend and didn't end up getting back until later. I'll have the installer complete within the week.

[2015-12-14 03:15] hschneidman opened #93 "Feature Request: Keyboard command to Find"
I often use Ctrl+F to find a song or artist from a long list. Would be nice if it was possible to do in the app. It doesn't need to be mapped to Ctrl+F necessarily.

[2015-12-14 03:20] MarshallOfSound commented on #86
This is related to https://github.com/twolfson/google-music.js/issues/13

There is a massive push by a few people in this GPM player space to get libraries made for things like that, monitor that repo and progress their for progress on this issue

[2015-12-14 03:20] #86 closed

[2015-12-14 03:21] MarshallOfSound commented on #60
No point having this issue persist, when I can I will implement, until then it is a `won't fix` / `can't fix`

[2015-12-14 03:21] #60 closed

[2015-12-14 03:21] MarshallOfSound commented on #90
Can you use something like Auto Hotkey to see what key is actually being received the computer

[2015-12-14 16:12] DecoyJoe commented on #37
@superjase This is what I do with AutoHotkey to make global shortcuts (My keyboard doesn't even have media keys)

[code]

[2015-12-14 18:36] Devo7v commented on #48
Thanks for the response.  Maybe I'm dense, but I can't seem to find a link to download the zip?  Is there a public link to it or do I need to create an account in order to access the downloads?
![untitled](https://cloud.githubusercontent.com/assets/15945504/11790033/afa2b264-a267-11e5-8151-03953d592846.png)

[2015-12-14 18:48] MarshallOfSound commented on #48
@Devo7v
You have to follow a link path from that latest build, to the x86 build to the artifacts page.

Which you will find here
https://ci.appveyor.com/project/MarshallOfSound/google-play-music-desktop-player-unofficial/build/job/cqm9v3kt96b832w0/artifacts

[2015-12-14 19:28] Devo7v commented on #48
Sorry I was so dense, I got it figured out.  I've also updated the portable installer so that it will download the files and extract them to the appropriate directory.  This only works for one specific download link, so if the link changes I will need to update the installer.  Typically it would be better to just include all the program files inside the installer, but since you are not officially

[2015-12-15 15:50] googlebot-xx opened #94 "crash on win7 32bit"
[1030/013334:ERROR:renderer_main.cc(200)] Running without renderer sandbox
[1030/013336:ERROR:backend_impl.cc(1991)] Corrupt Index file
[1030/013336:ERROR:cache_util_win.cc(20)] Unable to move the cache: 5
[1030/013336:ERROR:cache_util.cc(132)] Unable to move cache folder C:\Users\Samuel\AppData\Roaming/GPMDP to C:\Users\Samuel\AppData\Roaming\old_GPMDP_000
[1030/013336:ERROR:cache_creator.cc(133)

[2015-12-15 17:50] MarshallOfSound commented on #94
Closing this issue as all I have is a massive string of some kind of log file, I'll reopen when you give basic details on how to reproduce the error, what platform you are running on and such

[2015-12-15 17:50] #94 closed

[2015-12-16 14:59] superjase commented on #90
hi. i think it has something to do with the (stupid) way setpoint handles the media keys. see the following links:
http://tomse-blog.blogspot.co.za/2014/11/logitech-setpoint-and-media-keys-not.html
http://www.mediamonkey.com/support/index.php?/Knowledgebase/Article/View/49/2/multimedia-keyboard-buttons-dont-work

are you able to work out what line i need to add to my players.ini file?

[2015-12-17 00:26] MarshallOfSound commented on #90
I have no idea mate, try the first fix on that page, or use autohotkey

This is confirmed as not being my fault / problem.  Good luck :smile_cat:

[2015-12-17 00:26] #90 closed

[2015-12-17 05:52] ericralph opened #95 "GPDMP refuses to open on my Surface Pro 3 w/ up-to-date Windows 10"
I love this app and use it all the time on my desktop running Windows 8.1. I would love to use it on my SP3 as well but it simply refuses to open :( I've tried the current version (1.9.2) and two most recent previous builds both in x86 and x64 and neither have worked. I have the most recent version of Flash installed, btw.

Let me know how I might help you get to the bottom of this issue, as I'd l

[2015-12-17 06:00] MarshallOfSound commented on #95
Easy: Download either the x86 or x64 version of this https://www.microsoft.com/en-nz/download/details.aspx?id=30679

if you get the x86 version you need the x86 version of this app, if you get x64, you need the x64 version of this app.

Have fun :smile_cat:

[2015-12-17 06:00] #95 closed

[2015-12-17 19:10] Devo7v commented on #90
I just wanted to chime in here since I was having the same problem.  I installed UberOptions and set all three of the media keys to "Other:Generic Button ".  Play/Pause, Next, and Previous all work regardless of if GPMDP has focus or not.  I suggest installing UberOptions, just be aware that you will have to set up all your settings in SetPoint again.
![screenshot 1](https://cloud.githubuserconten

[2015-12-18 05:29] ghostryder13 opened #97 "Continue to run on windows 10 with screen off?"
Is there a way to have the program continue playing music with the screen off on Windows 10,

Thanks for the hard work by the way

[2015-12-18 07:22] MarshallOfSound commented on #97
What do you mean by screen off?  I can turn my monitors off and it keeps playing perfectly

[2015-12-18 14:48] Tankatronic commented on #75
@MarshallOfSound I just learned that in order to provide a hyperlink to download the prerequisites, it will require Windows Installer 5.0 which is only available on Windows 7 and later. I can still provide a link for earlier versions, but it won't be a hyper link and the user would have to copy\paste. Thoughts?

[2015-12-18 16:52] Devo7v commented on #48
I've been working more on this to try to improve the usability for the end user.  One of the issues I'm running in to is that the GPMDP folder in C:\Users\USERNAME\AppData\Roaming gets larger and larger the more you use GPMDP, right now my folder is at 345MB.  The way the portable launcher works is it moves the GPMDP folder from the portable directory to C:\Users\USERNAME\AppData\Roaming when laun

[2015-12-18 21:44] esni opened #98 "Design / UI request"
Hello,
This program is amazing, I had been looking for this for months when I found this !
I'm sorry for posting a request in the issue tab, But I believe there is one minor flaw in the design to make it perfect.
In fact, the small orange borders (at the bottom and the sides of the screen) are bothering me, I think it would look cleaner without them.
I understand most people will like it, so I am

[2015-12-19 00:38] MarshallOfSound commented on #75
@Tankatronic That sounds perfectly OK, if you are still using Vista or XP you can copy and paste the link out of shame :smile_cat:

[2015-12-19 00:59] MarshallOfSound commented on #98
This is not something I am willing to officially support because if I add an option for something small like this, people will want other options for other small things and then the settings window becomes ridiculous....

If you however want to manually disable them I would recommend looking into this line here
https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/ma

[2015-12-19 01:00] #98 closed

[2015-12-19 01:07] MarshallOfSound commented on #75
Also @Tankatronic I was just looking through your installer code (quite interested in WIX) and I noticed that here

https://github.com/Tankatronic/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/Wix-Installer/Google%20Play%20Music.Installer/Product.wxs#L25

You appear to be checking for VS2013, where the requirement is VS2012.  It also appears to me (I might be wrong here) that we are only check

[2015-12-19 01:17] Tankatronic commented on #75
@MarshallOfSound Good catch. I will fix the version this weekend and I will make sure its checks for the right platform.

[2015-12-19 12:23] tuur29 opened #99 "Narrow screen width hides some controls"
I use my secondary monitor in portrait mode, but it's only 768px wide/high. Apparently Google decided that this screensize isn't important anymore. The global minimum width seems to be around 980px, while the controlbar minimum width is around 850px.
Result: you have to horizontally scroll to see playtimes and the queue and miniplayer buttons are completely hidden. This is the default behaviour on

[2015-12-19 21:49] ghostryder13 commented on #97
So on my laptop, which is a 2 in 1, as the screen goes to sleep to save
battery music stops playing, unless I am using windows native music
player.  It is not a necessity as for the mean time I just alter the screen
timeout to 5 hrs while playing music.  I was just curious if it was a
possibility.  Thanks for the hard work, it is nice to have a program for
play music.

Thanks

Jim

On Fri, Dec 18,

[2015-12-20 09:43] MarshallOfSound commented on #99
I'm working on documentation for this but you can actually set a zoom level (woo hoo).  Just use the shortcuts you would use in any other browser

Ctrl + --> Zooms in
Ctrl - --> Zooms out
Ctrl 0 ---> Resets Zoom

[2015-12-20 09:43] #99 closed

[2015-12-20 12:39] superjase commented on #90
thank you so much!!! this has solved my problem 100% :)

[2015-12-20 21:32] szeichorn opened #101 "Need to kill GPM via task manager after using "Reset & Close application" button."
This isn't a big issue, but when using the "Reset & Close application" button, I needed to find GPM in the task manager & kill it before GPMDP would open again.
[screencaps](http://www.gfycat.com/ConstantUnacceptableLamprey)

[2015-12-21 03:11] FuzzAU commented on #93
I'm submitted a pull request #103 for this feature, I thought it was a good idea

[2015-12-21 03:38] MarshallOfSound commented on #93
@FuzzAU next time in your PR description say "Fixes #93" then when it gets merged this issue will automatically close :+1:

[2015-12-21 03:38] #93 closed

[2015-12-21 04:14] stevenolsen commented on #85
I do not. I've never used that service.

[2015-12-21 04:50] Stevoni commented on #89
This appears to be a multiple location error that is occurring in both the SongAlert constructor and in the LastFM.Integration.

The changes I'm currently working on will address the application crashing because of the LastFM.Integration error (client.PostAsync), but will not address the failure of SongAlert attempting to download the album art.

[2015-12-21 05:27] MarshallOfSound commented on #89
@Stevoni I'm currently working on a fix for the album art, basically just an 404 code checker to ensure the image exists before trying to fetch it

[2015-12-21 05:28] MarshallOfSound commented on #85
Do you have a GPU?  Maybe the fading is too intensive for your CPU?

[2015-12-22 08:47] LabLayers commented on #63
I had the same issue, but installing Visual Studio C++ Redist 2012 fixed it for me. :+1:

This should be included as a prerequisite in the Readme.md file.

[2015-12-22 18:35] iskenxan opened #106 "CefSharp and Gma"
How do install CefSharp and Gma libraries? I tried installing CefSharp.Common package but it's not the one program is asking for. Thanks

[2015-12-22 18:36] MarshallOfSound commented on #106
I'm assuming you're trying to get developer tools working?  If you are using Visual Studio just go to "Manage Nuget Packages" in the tools menu, and click "Restore All Packages"

[2015-12-22 18:57] iskenxan commented on #106
I am trying to compile Google Play Music project from the solution , I did as you said but CefSharp library is still missing, I am getting an error on line "using CefSharp" in CoreMusicApp.cs

[2015-12-22 19:09] MarshallOfSound commented on #106
Once you have restored nuget packages you may have to close VS2015 and reopen it.  Also if you installed the wrong version by accident you might have to delete / uninstall that version before the correct ones can be fetched from Nuget

[2015-12-22 19:55] iskenxan commented on #106
I am using 2013, but yeah restarting visual studio solved that problem, thanks for quick response

[2015-12-22 19:56] #106 closed

[2015-12-24 02:15] stevenolsen commented on #85
I do not at the moment, it is out for repair/replacement. Intel video is quite good though. If it can't handle fading that's likely a driver issue, not hardware. It's an Intel i4770k that isn't overclocked. Don't the notifications just use Windows 10 notification system? No other notifications cause my mouse to hang.

[2015-12-24 08:56] TheHaf opened #107 "Both 32bit and 64bit version of the installers use the same "Program Files (x86)" folder"
I downloaded the latest 64 bit release and started to install it but was confused initially, as the installer suggested the installation path "C:\Program Files (x86)\GPMDP". Normally only installers for 32 bit applications pre-select the "Program Files (x86)" folder. So I thought maybe the installers were mixed up. I downloaded the other one as well and got the same suggestion. Then I decided to i

[2015-12-24 10:05] MarshallOfSound commented on #107
Duplicate of #75

[2015-12-24 10:05] #107 closed

[2015-12-24 12:55] TheHaf commented on #107
Oh, sorry about that, somehow I didn't spot the previous issue.

[2015-12-26 20:18] ericmiller0774 opened #108 "Chromecast Option add"
Love this program, but I use Chromecast quite a bit and was wondering if it was possible to add it natively through the program rather than through Chrome browser.

[2015-12-26 20:27] #108 closed, assigned to nobody

[2015-12-26 20:29] ericmiller0774 opened #109 "Chromecast Option add"
Love the Program, but I use Chromecast quite a bit in the Chrome Browser and was wandering if this could be implemented natively in this software?
Thanks

[2015-12-27 02:40] MarshallOfSound commented on #109
See #72

[2015-12-27 02:40] #109 closed

[2015-12-27 05:03] btburbank opened #110 "Will not launch at all on Win10 X64 Pro"
I've tried both the x64 version and the x86 version and neither work.

Debug log attached.
[debug.txt](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/files/72591/debug.txt)

[2015-12-27 05:09] btburbank commented on #110
Resolved issue myself.

[2015-12-27 05:09] #110 closed

[2015-12-27 07:39] TeamTorch5942 commented on #37
Maybe this is a separate issue, but my keyboard media keys don't work at all. I have a logitech k330 wireless keyboard, and have never had issues with another application.

[2015-12-27 21:15] MarshallOfSound commented on #37
@TeamTorch5942 Your issue is because logitech trys to be fancy and fails miserably... :smile:

Read #90 for info on how to fix

[2015-12-28 06:40] superjase commented on #37
i confirm that [#90](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/90) solved my logitech issues. it's the setpoint software that causes the problem. my logitech keyboard now works perfectly with all media buttons, and all other custom buttons, too.

[2015-12-28 12:42] amaitland commented on #106
If you migrate to `Automatic Package Restore` then this will no longer be necessary :smile:

https://docs.nuget.org/consume/package-restore/migrating-to-automatic-package-restore

[2015-12-28 12:46] amaitland commented on #34
If you upgrade to `45.0.0` then this should be resolved.

[2015-12-28 21:31] MarshallOfSound commented on #34
@amaitland Yeah, that did have a few breaking changes though so I'm hitting those and new bugs that have arrisen before pushing 45

[2015-12-28 21:51] amaitland commented on #34
Other than the new requirement for `VC++ 2013` the `45.0.0` release is a fairly minor upgrade from a `CefSharp` perspective. Was there a particular change your having problems with?

[2015-12-28 22:00] MarshallOfSound commented on #34
@amaitland Woah, didn't realise you contribute an insane amount to CEF#.  Thanks for all your great work man, mostly just some timing bugs (I think I was exploiting a timing issue with bound JS objects to do some actions in a certain order)

[2015-12-28 22:03] MarshallOfSound commented on #34
@amaitland Also that VC++ req you mention does through a bit of a spanner in the works because my current installer does not handle those requirements so if I push out an update it will suddenly stop working for a bunch of people.

[2015-12-28 22:07] amaitland commented on #34
No problem :+1: Nice to see someone using `CefSharp` for an open source project :smile:

If you have a specific question then let me know if I can clarify something.

Totally understand that one. Which installer are you using?

[2015-12-28 22:12] amaitland commented on #34
There are potentially some new features in the upcoming `47.0.0` release that might simplify your code.

You should soon be able to hook the `DOMContentLoaded` event in `JS`. It's not a particularly well tested new feature, so finding a real world use case for it would go a long way to ironing out any small bugs :smile:

https://github.com/cefsharp/CefSharp/pull/1460/files#diff-aaf166e702850ed5527

[2015-12-28 22:15] MarshallOfSound commented on #34
Currently using some random "SimpleInstaller" thing I think, however there is an open issue with progress on moving to WIX which would fix these requirements issue #75

I remember reading somewhere in your wiki at one point that you could embed VC++ runtimes into the application.  Is that still a doable thing?

[2015-12-28 22:33] MarshallOfSound commented on #34
@amaitland Ooh, that DOMContentLoaded thing looks quite good, I've been doing that manually by wrapping in JS event listener before injecting code

[2015-12-28 22:39] amaitland commented on #34
Should be, it's just a matter of including the relevant dlls along side your executable. I've just updated the `FAQ` to include references to `VC++ 2013`.

https://github.com/cefsharp/CefSharp/wiki/Frequently-asked-questions#6-how-do-i-include-the-visual-studio-c-2012-redistributables-on-the-target-app

Relevant `MSDN` article is https://msdn.microsoft.com/en-us/library/ms235299.aspx

[2015-12-28 22:48] amaitland commented on #34
@MarshallOfSound Does `GPM` need `Flash`? I see `NPAPI` is enabled. Not sure if your aware that `Chromium` removed `NPAPI` support in `45`, so the newer `Pepper Flash` is required.

https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/Google%20Play%20Music/CoreMusicApp.CEF.cs#L20

[2015-12-28 22:51] MarshallOfSound commented on #34
Yeah, another thing that'll break for people :cry:

Wondering if there is a way to embed pepper flash inside the app without violating adobes copyright or redistributing rights :thought_balloon:

[2015-12-28 22:55] amaitland commented on #34
I had a quick look a while back, couldn't find clarification on that. Technically it would appear to be quite easy, you can manually load the flash `dll` in `CefSharp`, so no need to actually install `Flash`.

[2015-12-28 23:17] amaitland commented on #34
It might be possible to query the registry, find where `Chrome` is installed, then load it's version of `pepflashplayer.dll`. Haven't tested this theory yet.

[2015-12-28 23:45] MarshallOfSound commented on #34
@amaitland This might be a silly question but I don't understand C++ enough to get it.  If I use the x64 version of CefSharp do they need the x64 version of VC++ 2013 Redist installed?

The examples appear to only indicate x86?

[2015-12-29 00:20] amaitland commented on #34
Correct

`VC++` comes in both flavors and so does `CefSharp`. Most people use the `x86` version so that's what the documentation tends to favor.

[2015-12-29 00:32] MarshallOfSound commented on #34
Thought so :+1:

[2015-12-29 01:09] amaitland commented on #34
Looks like it's possible to use the `Pepper Flash Plugin` that comes with `Google Chrome`, just have to load it manually.

See https://github.com/cefsharp/CefSharp/commit/6abfe427b16bfa18c34ecec3570d9f97d1fb5ba6 for an example. If user has sufficient rights I suspect it's possible to query the registry to determine `Chroms's` location

[2015-12-29 02:49] Stevoni commented on #85
I just experienced my mouse stuttering when the notification form was opening. I unfortunately cannot recreate it but I do have last.fm turned on.

Specs:
- Intel i7 4770k overclocked (4.2-4.4?)
- 32 GB RAM
- GTX 980
- Win 10.

My notification is appearing on a video card monitor not the processor monitor.

[2015-12-29 04:45] Talor-A opened #111 "nothing happens after build"
Hi, I first tried a fork of this project and uninstalled it because I wanted to use the master one here instead. The first worked fine, but attempting to reinstall isn't working. Visual Studio builds successfully, but the player isn't installed in either Program Files\ or Program Files(x86)\. Is there a step I'm missing? executing the Google Play Music in the bin\x86\ folder inside the project doe

[2015-12-29 05:03] MarshallOfSound commented on #111
Couple of things
* The `master` branch is not guarunteed to be stable in any way
* Building in visual studio does not create an installer
* Running `Google Play Music Desktop Player.exe` in the output folder of Visual Studio *should* run it

If it doesn't I would reccomend clicking "run" in Visual Studio and choose to run in debug mode, that should give you more information

[2015-12-29 05:10] Talor-A commented on #111
At one point, I did get an installer. It created a shortcut on my desktop,
too. I'll try debug mode.
On Mon, Dec 28, 2015 at 9:04 PM Samuel Attard <notifications@github.com>
wrote:

--

-Talor

[2015-12-29 05:20] MarshallOfSound commented on #111
Unless you have pulled my WIX installer branch I have no idea where your "installer" came from?  Let me know how debug mode goes :+1:

[2015-12-29 07:52] Talor-A commented on #111
the installer was using @jogleasonjr's fork on the master branch.

On running debug mode, a NuGet package Manager popup opens and runs.
Then sometime during the build process the Github Desktop client crashes and restarts (probably unrelated).
Then I get this error.
![screenshot 3](https://cloud.githubusercontent.com/assets/11509865/12031143/6ebf2f5a-adbd-11e5-901c-e1987031daee.png)
after clicking

[2015-12-29 23:28] MarshallOfSound commented on #111
Something is glitched somewhere
Can you try just wiping the lot and cloning from scratch?

[2015-12-29 23:46] Talor-A commented on #111
I have, unfortunately. I suppose I'll try reinstalling Visual Studio later. I wonder if it's related to the mysterious installer. Weird.

[2015-12-30 01:50] MarshallOfSound commented on #111
I'm about to push a whole bunch of stuff to master so I'd say wipe out your local, reinstall VS2015, fetch nuget packages and then try running

[2015-12-30 02:11] MarshallOfSound commented on #75
@NobleRobot @strigona-worksight @Tankatronic

You three seem to be in this issue so could you please test out the new installer.  I took @Tankatronic branch and extended on it a bit

[x86 Installer](https://ci.appveyor.com/api/buildjobs/cce3s9lf3l97ravw/artifacts/Google%20Play%20Music.Bootstrapper/bin/x86/Release/Google%20Play%20Music%20Desktop%20Player%20x86.exe)
[x64 Installer](https://ci.appvey

[2015-12-30 02:13] #75 closed

[2015-12-30 02:13] MarshallOfSound commented on #111
Closing this for now as it does not appear to be an issue with the app rather a dev environment setup issue

[2015-12-30 02:13] #111 closed

[2015-12-30 03:18] MarshallOfSound commented on #34
@amaitland I have CefSharp 45.0 working on my local, but the only way I have it working is by pushing the PPAPI plugin `dll` files with my installer.  This consumes a solid extra 22MB on the 64bit installer and 16MB on the 32bit installer.

Do you have any ideas on how I could push this without the DLL's in the installer.  My main issues atm are
* We can't assume that people will have chrome insta

[2015-12-30 03:41] amaitland commented on #34
Without distributing the installer (which I'm not sure your actually allowed to do anyway) the options are somewhat limited.

Short term I'd probably load the `Chrome` version if it exists, once `CefSharp` has initialized, iterate through the loaded plugins and provide a set of instructions for the user to manually download and install flash if it failed to load.

If I think of any other options I

[2015-12-30 03:53] MarshallOfSound commented on #34
@amaitland  Another setback is that Chrome's PPAPI plugin is only one of 32bit or 64bit depending on the chrome you have installed.  That might not correspond to the architecture you chose to install for this app...

I'll keep thinking :/

[2015-12-30 04:06] MarshallOfSound commented on #34
@amaitland For know I've pushed a branch of what I have working

https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/commit/f8950497ba62be762672b986a576ff57eb633f2f

Could you give that the once over, being a cef guy and all :+1:

[2015-12-30 04:24] amaitland commented on #34
Other than the annoying `Nuget Restore` target that keeps re-adding it's self (I have yet to find a workable solution) nothing else jumps out at me :smile:

At some point it's probably worth renaming a few of your classes to match the files they're contained within, make navigating the code a little bit easier :smile:

[2015-12-30 04:26] MarshallOfSound commented on #34
@amaitland Yeah, I originally wrote this so I could use it around the place and pushed it to Github purely for version control.  I never wrote it originally with the idea others would work on it :cactus:

The whole thing needs a bit of a clean up at some point :smile_cat:

[2015-12-30 04:35] amaitland commented on #34
I can relate :smile:

[2015-12-30 04:41] MarshallOfSound commented on #97
I have looked into this, and unfortunately Microsft do not publish how to do this publicly, it might even just be a side effect of your power settings

[2015-12-30 04:41] #97 closed

[2015-12-30 04:43] MarshallOfSound commented on #45
I can't replicate this issue with any proxy / vpn / network conf I have availible.

[2015-12-30 04:43] #45 closed

[2015-12-30 05:39] ghostryder13 commented on #97
Fair enough

Thank you

On Tue, Dec 29, 2015, 9:41 PM Samuel Attard <notifications@github.com>
wrote:

[2015-12-30 17:03] dazot opened #114 "Ubuntu version"
Thank for your program ... It is possible to create a version for ubuntu?

[2015-12-30 21:52] MarshallOfSound commented on #114
Sorry but no, this runs in a very windows specific environment.

[2015-12-30 21:52] #114 closed

[2015-12-30 22:55] Talor-A commented on #111
Fixed.

[2015-12-30 23:09] Talor-A opened #115 "Tiny Navigation Buttons"
Back & Forward buttons next to the search bar are not scaled correctly. Making the window larger fixes it, but they go back after the window is made smaller again.

![screenshot 4](https://cloud.githubusercontent.com/assets/11509865/12058959/4a09989e-af07-11e5-993f-ca625fa346c5.png)

[2015-12-30 23:35] Talor-A opened #116 "grey boxes on top of mini player"
![screenshot 5](https://cloud.githubusercontent.com/assets/11509865/12059170/e839ea5c-af0a-11e5-8531-6b39c966efc8.png)
![screenshot 6](https://cloud.githubusercontent.com/assets/11509865/12059171/e849fc12-af0a-11e5-88d6-538bc1ccbb0f.png)

two grey boxes appear on top of mini player album art. happened even after reinstall.

[2015-12-31 00:19] MarshallOfSound commented on #116
Duplicate #87

[2015-12-31 00:19] #116 closed

[2016-01-02 07:53] Pheoxy opened #117 "Chomecast Support"
It would be great feature if chromecast support was added.

[2016-01-02 07:54] #117 closed

[2016-01-02 07:59] Pheoxy opened #118 "Search bar goes default white"
When searching the search goes default white color until you either delete what was written or click out of it.

[2016-01-02 22:42] MarshallOfSound commented on #115
Fixed on local, will push shortly

[2016-01-02 22:44] MarshallOfSound commented on #118
This is intended behavior

If I change it to black the search UI becomes quite hard to use

[2016-01-02 22:44] #118 closed

[2016-01-02 22:44] MarshallOfSound commented on #118
If you disagree with this decision please explain below :+1:

[2016-01-02 22:45] MarshallOfSound commented on #101
I think I'm just going to remove this button altogether, not very useful and far too much hassle

[2016-01-03 00:38] alaneje opened #119 "Idea"
Is it possible for you to be able to install an offline play / download / upload functions to the player?!

[2016-01-03 00:41] MarshallOfSound commented on #119
Unfortunately not easily at this current time.  Check out some other closed issues on this repo for more of an explanation, such as #80

[2016-01-03 00:41] #119 closed

[2016-01-03 00:43] ninjustin opened #120 "Will not launch on Surface 3"
I can't seem to get the program to launch at all on a non Pro Surface 3.  It works great in Windows 10 on my custom desktop though. Running specifically as an Admin does not help nor do any of the compatibility settings.

[2016-01-03 00:47] MarshallOfSound commented on #120
Can you ensure that Visual Studio 2012 C++ Redist is installed.

Or use this beta installer from https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/75#issuecomment-167918215

[2016-01-03 00:47] #120 closed

[2016-01-03 00:54] ninjustin commented on #120
That was it. Awesome app.  Thank you.

[2016-01-03 08:37] Pheoxy commented on #118
Seems like a good idea, but you could also do a very light gray for people who use darker colors.

[2016-01-03 11:09] #115 closed

[2016-01-03 11:10] MarshallOfSound commented on #87
With the new theming library I created in `gmusic-utils` this issue does not appear to be present anymore on my local

[2016-01-03 11:10] #87 closed

[2016-01-03 11:10] #56 closed

[2016-01-03 11:29] MarshallOfSound opened #122 "2.0 Release"
Should have made this issue a bit sooner, there isn't much left to do now.

- [x] Rework all the JS files, move as much as possibly into node modules
- [x] Upgrade to CEF 45 (will fix #34) --> This is a big change so might not make it into `2.0`
- [x] Rework the last.fm intergration and song alert code (will fix #89)
- [x] Try optimize the alert fading, possibly animate instead of increment (will

[2016-01-03 20:39] patommel opened #123 "Feature Request: Chromecast support"
Support for google cast would be fantastic.

[2016-01-03 20:42] MarshallOfSound commented on #123
#108 #109 #117 #72

Duplicate issue, read those for more info

[2016-01-03 20:42] #123 closed

[2016-01-03 22:07] MarshallOfSound commented on #34
Should be fixed in master now

[2016-01-03 22:07] #34 closed

[2016-01-03 22:13] MarshallOfSound commented on #85
I believe this should be fixed in master, you can check it out in the next release

[2016-01-03 22:13] #85 closed

[2016-01-03 22:17] #101 closed

[2016-01-03 22:42] #89 closed

[2016-01-05 09:21] MarshallOfSound commented on #122
Ready for release

[2016-01-05 09:21] #122 closed

[2016-01-05 13:42] RemyFV opened #125 "Weird scaling issue on 2.0.0 - maybe 4k related"
I just installed the new version and everything's scaling randomly when moused over, screenshot : http://i.imgur.com/VeGbLMJ.jpg

maximizing or restoring the window resets everything for a second but it soon rescales weirdly.

I uninstalled the 2012 VC++ redist I installed to use v1.9.2, uninstalled the 2013 redist included with 2.0, uninstalled and reinstalled the software, nothing helps.

I'm us

[2016-01-05 15:21] eddielement commented on #125
Same issue on a 1920x1080 display - maybe it has to do with windows display scaling? I have mine set at 125%.

[2016-01-05 16:24] Devo7v commented on #69
This bug exists again with the latest 2.0 release.  I've performed a clean install just to make sure it wasn't a legacy issue.  There's also a new issue that the "Controls Always Visible in Mini Player" setting doesn't function.  The controls always auto-hide no matter what.

[2016-01-05 16:28] LordTowers commented on #31
i know you're probably tired of hearing it but the issue persists in the 2.0.0 version as well

[2016-01-05 16:29] Devo7v commented on #48
The zip files are failing to build on appveyor, any chance you can take a look at it so I can create my portable version?

[2016-01-05 16:30] Devo7v commented on #87
I'm still seeing this on the latest 2.0 release.

[2016-01-05 16:49] joelpereira commented on #125
Same issue here on a surface pro 2 (1920x1080)

[2016-01-05 17:15] MarshallOfSound commented on #125
I'll try look into this later today, but I'll ping @amaitland who might know if this is a CEF bug?

[2016-01-05 17:17] MarshallOfSound commented on #69
Hmm, this appears to be a bug with the new extracted library https://github.com/MarshallOfSound/gmusic-mini-player.js  I''ll take a look at it later today

[2016-01-05 17:18] MarshallOfSound commented on #125
@joelpereira Do you have display scaling turned on?

[2016-01-05 17:55] #69 closed

[2016-01-05 18:48] jwfitt commented on #125
Same issue here on a surface pro 4. Disabling windows high DPI scaling on the .exe properties solves it, but the previous versions scaled just fine on higher res displays.

[2016-01-05 18:56] MarshallOfSound commented on #125
The temporary fix for you guys is this
<img width="184" alt="581323765-cefdpibug" src="https://cloud.githubusercontent.com/assets/6634592/12124569/fc45a6cc-b44a-11e5-875a-cf8ee793cacf.png">

[2016-01-05 19:15] RemyFV commented on #125
on a 15.6" 4k display it's way too small to be usable, so I reverted to 1.9.2 =)

[2016-01-05 20:10] joelpereira commented on #125
Clicking the "Disable display scaling on high DPI settings" fixed the weird display issues, but now things are smaller for my fat fingers. =)
Thanks!

[2016-01-05 20:15] MarshallOfSound commented on #125
@RemyFV @joelpereira If it is now too small for you to use you can use the shortcut "Ctrl +" to zoom in.  Not quite the same as DPI scaling but I think it will have the same affect till I can fix this.

Your zoom level is saved on exit aswell so its not going to be annoying :+1:

[2016-01-05 22:32] eligrey opened #126 "Feature request: Store install path"
I have GPMDP installed to a drive other than my C: drive, so every time I run the latest installer, it always defaults to picking my C: drive for the install path. If you store the install path in a registry key (or some file in %LocalAppData%), you could then reference this in the installer so that the install path defaults to the current install path.

[2016-01-06 00:30] SourceCode opened #127 "On Windows 8.1 the mouse locks intermittently on track change"
On Windows 8.1 the mouse locks intermittently on track change.  This occurs when a track changes and the small pop-up notice occurs.  It seems to lock the mouse into position and makes it unresponsive until the pop-up appears.

[2016-01-06 00:31] MarshallOfSound commented on #127
Hmmm, sounds like I'm consuming a GUI thread when I shouldn't be.  I'll look into it

[2016-01-06 00:33] erolfox opened #128 "2.0 severly borked: scaling too large"
v2.0 was just offered when I launched. upgaded. Not usable now. need to revert

pic shows bloated scaling. the app now flashes when loading, extra windows come and go. scale about double and not usable.

<img width="810" alt="2016-01-05" src="https://cloud.githubusercontent.com/assets/525280/12131712/fe27a07a-b3c9-11e5-8817-13586d5ab104.png">

[2016-01-06 00:35] MarshallOfSound commented on #128
See #125 for temporary workaround, I'm considered a official rollback release but trying to figure out how widespread the issue it

[2016-01-06 00:35] #128 closed

[2016-01-06 00:45] erolfox commented on #125
4K display w/ 150% scaling
x64

symptom:
  scrolling with wheel, display seem correct scale.
  but as soon as mouse is moved, scale enlarges,

[2016-01-06 00:46] MarshallOfSound commented on #125
@erolfox Have you tried enabling that compatabilty mode option?

[2016-01-06 00:49] eturk1 commented on #125
@MarshallOfSound where?

did try 100% scaling on Win10, same scaling issue

[2016-01-06 00:50] MarshallOfSound commented on #125
https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/125#issuecomment-169097043

[2016-01-06 00:56] eturk1 commented on #125
ah, windows compatibility

that takes care of the flashing and scaling dynamically. now just static too large (see pic)
<img width="540" alt="untitled" src="https://cloud.githubusercontent.com/assets/525280/12132086/3d4ed234-b3cd-11e5-806d-4901eff75465.png">

[2016-01-06 00:57] MarshallOfSound commented on #125
Now try the zooming trick in this comment
https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/125#issuecomment-169118970

You can use "Ctrl +" and "Ctrl -" to zoom in and out

[2016-01-06 01:17] amaitland commented on #125
@MarshallOfSound You may need to add a call to `Cef.EnableHighDPISupport()`, it's a new method introduced in `45.0.0`

https://github.com/cefsharp/CefSharp/blob/cefsharp/45/CefSharp.Core/Cef.h#L458

Should probably be called in `Program.cs`, somewhere early on, like https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/Google%20Play%20Music/Program.cs#L24

[2016-01-06 01:18] MarshallOfSound commented on #125
Thanks @amaitland I'll get a build running now so these guys can test it and I can push out a fix ASAP

[2016-01-06 01:25] MarshallOfSound commented on #125
@RemyFV @eddielement @joelpereira @jwfitt @FuzzAU @eturk1

Can you guys all please try this beta build
64 Bit: https://mega.nz/#!LFdCgQwD!aRcAtkrVgXnbw2Klu6tu2hfWZ2VMoWP_r33EdJJZC1o
32 Bit: https://mega.nz/#!2YkT0DCa!VHDZG3W2LDruQR95-6AWBkkc8mn1JpisWu1_Lrt4NCw

[2016-01-06 01:31] eturk1 commented on #125
ctrl +/- scales the base graphics, but it graphics quickly redraw.
move the mouse over app and that causes redraw to double scale

vid of error: https://vid.me/rX2C
pressed ctrl- 5 times then scrolled

[2016-01-06 01:33] MarshallOfSound commented on #125
@eturk1 Woah, thats actually awful.  Sorry for pushing this out.  I really need a high DPI screen to test though :cry:

Have you tried the beta builds I just posted

[2016-01-06 01:34] FuzzAU commented on #125
When I run the beta build it tells me I need to update, I take it I skip that for now?

[2016-01-06 01:34] jwfitt commented on #125
Just tried the beta build, looks like the weird flickering stuff I was getting before that etruk illustrated is gone, BUT the UI is not scaling like it used to in 1.9.6

[2016-01-06 01:36] MarshallOfSound commented on #125
@FuzzAU Yeah, ignore the update.  It's just a bit confused

@jwfitt Is your DPI scaling turned off in the compatibility settings still?  Might want to double check that :+1:

[2016-01-06 01:37] eturk1 commented on #125
no worries @marshall...
I wrote code for 14 years. (last century LOL). I know what it's like. maybe we have a beta test crew to help out?

fresh beta killded the mad continual redraws. well done!
now we just have the scaling issue. mouseover, scroll, interaction doesn't cause any redraws.

now just the scale :)

[2016-01-06 01:39] jwfitt commented on #125
Yeah, scaling was enabled in the exe properties, also killed the user data folder the preferences get saved in to be sure.

[2016-01-06 01:39] FuzzAU commented on #125
@eturk1 can you explain some steps that cause your scaling to fail?
I can't reproduce. I've got a 3440x1440

[2016-01-06 01:40] MarshallOfSound commented on #125
@eturk1  Thats good to hear
I'm assuming that now the zoom does work as a temporary fix for the scaling issues though correct?

@jwfitt Can we try a complete uninstall and reinstall? Sorry for putting you through this but you are basically my guinea pig at the moment :cactus:

[2016-01-06 01:41] jwfitt commented on #125
Sorry for not mentioning it, but I did a full windows uninstall and cleared my appdata/roaming prefs directory for the program when it didn't appear to be working and then reinstalled. Same results.
Great program btw! Thanks for the efforts!

[2016-01-06 01:43] MarshallOfSound commented on #125
Wait a sec guys
@jwfitt and @eturk1

If you guys messed around with the zooming shortcuts.  It is very possible that that setting was preserved through an uninstall.  Can you try reseting the zoom with "Ctrl 0" (I think)

[2016-01-06 01:43] eturk1 commented on #125
win10 x64
4K 3840x2160 @ 150% scaling

@MarshallOfSound , yes, pressing Ctrl- 21 times seems to get it close. ;)
w/ some mad tiny text
<img width="701" alt="untitled" src="https://cloud.githubusercontent.com/assets/525280/12132753/ddd63ca0-b3d3-11e5-8b3c-5348afa24326.png">

[2016-01-06 01:46] jwfitt commented on #125
Never messed with the ctrl +/- scaling

It's the core UI as you can see in the main control bar at the top of the program:
![gmp_example](https://cloud.githubusercontent.com/assets/3819172/12132796/31af1086-b3d4-11e5-8667-a1fa916739b4.PNG)

[2016-01-06 01:54] eturk1 commented on #125
did an uninstall with iobit. should remove any reg entries.
reinstalled and everything is tiny as @jwfitt
so, scale of UI and draw surface are similar.

[2016-01-06 02:09] MarshallOfSound commented on #125
I think I know how to fix the UI scaling.  But not sure about the scaling inside Google Play Music.  I'm actually at work still so I'll look into this in a few hours when I get home.  Everything I've done so far is through SSH :+1:

[2016-01-06 03:09] leadinurface opened #129 "Play Music Desktop Client Issues"
![play music issues 2](https://cloud.githubusercontent.com/assets/16569108/12134015/978c42b8-b3f0-11e5-9749-c2d99a49e5c7.png)
![play music issues 3](https://cloud.githubusercontent.com/assets/16569108/12133910/9d457f90-b3ef-11e5-8e61-b96ee24dff07.png)
![play music issues](https://cloud.githubusercontent.com/assets/16569108/12133913/9d46f0f0-b3ef-11e5-9141-5d7d4490565e.png)
![play music when it wor

[2016-01-06 03:11] leadinurface commented on #129
So it does this and wont click on the buttons correctly when i click right in the middle of the selected button all the way to slightly below and to the left of each either minimize maximize and exit. When i click on minimize in the center of the button it maximizes the program.  It does this regardless of the position on the screen and whether it is windowed or full screen
However when i click ri

[2016-01-06 03:11] MarshallOfSound commented on #129
Ahh, this is an ongoing issue that's being tracked in #31

I keep looking for solutions but its quite tricky.  Windows 7 is the problem :100:

I'll close this as its  a duplicate, you can "follow" issue #31 if you want updates on this

[2016-01-06 03:11] #129 closed

[2016-01-06 03:11] MarshallOfSound commented on #31
Details screenshots #129

[2016-01-06 03:12] leadinurface commented on #129
:D thanks sorry bout that

[2016-01-06 03:12] MarshallOfSound commented on #129
All good :smile:

[2016-01-06 05:21] MarshallOfSound commented on #125
@RemyFV @eddielement @joelpereira @jwfitt @FuzzAU @eturk1

Got another beta build coming through

**You will have to uninstall the old version before installing this one**
**I didn't increment the version**

Can you guys please try this
64 Bit: https://mega.nz/#!jNFyXZBK!A-q0HxNPwbnbp_S2Yd7HQH1zMG0TGrfM4tIHsBZebWM
32 Bit: https://mega.nz/#!TENWQKTD!CeSkvf3muv4A8kMR-s-HhcvAnHA4Pm66g1pc-dcm5bo

[2016-01-06 06:42] Talor-A commented on #31
would it be possible to use the system window frame, and on Windows versions that support it, change the window frame color to orange/black?

[2016-01-06 06:47] Talor-A opened #130 "Dark theme color issues"
Using dark theme, when an item in the sidebar is selected, the grey highlight color is the same color as the subtitle text, looking like this:
![screenshot 8](https://cloud.githubusercontent.com/assets/11509865/12136572/1b859fe4-b3fe-11e5-9f66-e3cdb2faf553.png)
![screenshot 7](https://cloud.githubusercontent.com/assets/11509865/12136573/1b86e390-b3fe-11e5-85e7-47d440c92466.png)
Why not replace the

[2016-01-06 07:07] eturk1 commented on #125
latest build unchanged. still tiny interface.
<img width="701" alt="2016-01-05 8" src="https://cloud.githubusercontent.com/assets/525280/12136907/051b737a-b401-11e5-868d-d82c8fd8e0e1.png">

[2016-01-06 07:09] MarshallOfSound commented on #31
I don't think so, not without massive code duplication.  Currently the window is themed due to a specific class "extends".  And you can't conditionally " extend" a class

[2016-01-06 07:19] MarshallOfSound commented on #125
@eturk1 Have you reset the zoom?

[2016-01-06 07:24] jwfitt commented on #125
Yeah, still mini for me - uninstalled and manually wiped all folders like before. Same tiny UI :/

[2016-01-06 07:44] MarshallOfSound commented on #125
@eturk1 @jwfitt
Another build, this one might look a bit funky
64 bit: https://mega.nz/#!KE9yRQBa!nOKdudFUn7FpZZCd621JovNZ1QNz0CsaGL3oKopi1cA

[2016-01-06 07:51] jwfitt commented on #125
Afraid not, same results on clean install

[2016-01-06 07:56] MarshallOfSound commented on #125
@jwfitt Can you double check compat settings and everything, Cos it definitely looks different on all 3 computers I have access to

[2016-01-06 08:01] jwfitt commented on #125
Double-checked:
![gmp_example2](https://cloud.githubusercontent.com/assets/3819172/12137810/96fa7d70-b408-11e5-8b0b-d5c4f3607dfc.PNG)

[2016-01-06 08:03] MarshallOfSound commented on #125
Can I see a screenshot of the player

[2016-01-06 08:11] jwfitt commented on #125
Main player controls seem ok, I was primarily noticing the core menu bar being microscopic:
![gmp_example3](https://cloud.githubusercontent.com/assets/3819172/12137987/166e13ae-b40a-11e5-9dad-4af3b32108f0.PNG)

[2016-01-06 08:13] MarshallOfSound commented on #125
Did the previous bets look like that as well?

[2016-01-06 08:14] jwfitt commented on #125
Yeah, they have all looked essentially the same as far as I could tell. 1.9.6 was the last version where all the UI scaling being handled by windows seemed to work normally with the program.

[2016-01-06 08:36] MarshallOfSound commented on #125
OK, so I'm removing the breaking bug tag as it appears to be working properly at the moment apart from the top bar being a bit small.  Pushing out 2.0.1 to handle the buggy DPI thing

[2016-01-06 08:36] RemyFV commented on #125
okay I just woke up, so I did not try anything before now. I downloaded and installed the last link you posted here @MarshallOfSound and the scaling seems to work correctly : http://i.imgur.com/qqjt3gS.jpg

the app started up sized for 1/4th the screen (correct for 1080p), but resizing the window didn't break anything and zoom in/out/reset works perfectly like it would in chrome.

the only thing t

[2016-01-06 08:40] MarshallOfSound commented on #125
@RemyFV thanks for the detailed report, that clarified what I suspected.  I'm about to push a pre-release and will link it here when I do.  Could you test that in a few minutes and then I'll make the release public.

The remote thing is a nice offer but maybe another time, I'm heading off for the night soon :+1:

[2016-01-06 08:43] RemyFV commented on #125
still one last funny bug in that scaling thing : http://i.imgur.com/aymtWmR.jpg
this is the maximum size of the mini player now, it feels all alone and lost in a cruel, cruel desktop x)

anytime for the remote access, thanks for your work!

[2016-01-06 08:45] MarshallOfSound commented on #125
Lol, I suspected that would be the case with the mini player because I use hard coded pixel values for it.  I'll have to interpret the DPI manually with that.

[2016-01-06 08:48] MarshallOfSound commented on #125
@RemyFV Just published the pre release, could you take a look :+1:

[2016-01-06 08:52] RemyFV commented on #125
downloaded, installed, works exactly the same for me (no scaling issue that is, but functionally not different from the megaupload file)  - I even get the "high DPI breaking update" warning at start. should I uninstall everything before reinstalling or is it normal ?

[2016-01-06 08:53] MarshallOfSound commented on #125
The DPI warning will be there until I make this release final :)

[2016-01-06 08:55] RemyFV commented on #125
and one additional thing : until the mini player can be resized there is no other way to close it and go back to the large UI than killing the entire app since the controls are over the restore button :(

[2016-01-06 09:10] MarshallOfSound commented on #125
@RemyFV I just updated the pre-release with a fix that I think will fix the mini player issue.  Could you test them ASAP so I can push out this release.

Cheers

[2016-01-06 09:15] RemyFV commented on #125
nope, exactly the same behavior - I can shrink it to almost nothing but the max size is 1/4th what it should be on a 4k display (if you keep the same ratio), controls extend outside the box and over the restore button.

[2016-01-06 09:19] MarshallOfSound commented on #125
@RemyFV  did you uninstall the old one first?  You need to completely remove the old ones for these debug builds

[2016-01-06 09:24] RemyFV commented on #125
no I didn't, so I did it now - everything works :)

zoom level reset at start and everything was very small but ctrl+ works to resize to whatever you like, and scaling works on the mini player as well. is the maximum size limit really needed though ?

maybe you should put those zoom keys in the startup warning once so people know and are not stuck with a very small UI.

[2016-01-06 09:28] MarshallOfSound commented on #125
Will do, releasing now

[2016-01-06 09:30] #125 closed

[2016-01-06 10:13] MarshallOfSound commented on #125
@RemyFV Can you do one final test of a version for me.  I just put out a pre-release of 2.0.2

[2016-01-06 10:19] RemyFV commented on #125
uninstalled, downloaded, reinstalled - first start with a HUGE scale (~200% of your new base scale apparently), ctrl-0 reset to a usable size which seems to be the same scale as on a 1080p resolution.

mini player controls are huge as well, and resizing the box does not affect them.

[2016-01-06 10:21] MarshallOfSound commented on #125
So to clarify @RemyFV
Initial Load everything was far too big (This was due to your previous zoom value)
After resetting the zoom everything was correct

Mini player controls are correct or incorrect??

[2016-01-06 10:22] RemyFV commented on #125
yes.

incorrect, attaching screenshot soon.

[2016-01-06 10:24] Pheoxy opened #131 "Malware warning Windows 10"
I get a malware warning as soon as I try to install 2.0.1.

Are you able to upload .md5 to verify?

[2016-01-06 10:30] RemyFV commented on #125
and actually key combinations work on the mini, ctrl-0 reset to standard size - window might not have been active when I tried the first time... sorry about that, wasting your time :(

[2016-01-06 10:31] MarshallOfSound commented on #125
Can we ensure that resizing the mini player doesn't screw with the sizing?

[2016-01-06 10:32] MarshallOfSound commented on #131
It's signed with a verified cert, let me check

[2016-01-06 10:34] RemyFV commented on #125
just tried it, reopening the mini player and resizing the window goes back to the huge scaling even if I reset the zoom in between every action.

the main window does not display this behavior and keeps zoom level consistent between app launchs, though.

[2016-01-06 10:35] MarshallOfSound commented on #131
@Pheoxy windows is just being stupid.  Here is a scan of the latest `2.0.2` version

https://www.virustotal.com/en/file/a9a404f6ad2c918c0b6d4190466b619b4404d3bd1f4d89ed412cfff795bfe610/analysis/1452076453/

The SHA256 hash of the file is there if you want to verify it that way, also literally all the executable I ship are signed with my code signing cert that verifies the files haven't been tamper

[2016-01-06 10:35] #131 closed

[2016-01-06 10:36] MarshallOfSound commented on #131
And here is an MD5 hash of the same file

http://sha1md5checksum.bugaco.com/cryptocalc/index.html

[2016-01-06 10:37] Pheoxy commented on #131
I just got a hash that doesn't match, I'm going to re download.

[2016-01-06 10:39] MarshallOfSound commented on #131
FYI, that is the hash of the installed file, not the executable.  The executable is technically just a wrapped MSI and therefore should be verified by windows itself.  If you want I could hash the installer?

[2016-01-06 10:40] Pheoxy commented on #131
Please.

[2016-01-06 10:44] Pheoxy commented on #131
Here's a SHA-256:
F7803B4765912DF367C5C772C2FCC76FB2061F40A5A94EC9BB39EC7B996C8D2B

MD5:
CC31C3483E55469D23111B645D8BCC2C

[2016-01-06 10:45] MarshallOfSound commented on #125
@RemyFV Fix incoming on the 2.0.2 pre-release

[2016-01-06 10:45] MarshallOfSound commented on #131
OK, this is the hash of the 2.0.1 release x64 installer

MD5:
cc31c3483e55469d23111b645d8bcc2c

[2016-01-06 10:46] Pheoxy commented on #131
Just finished the redownload I'll do virus check on my end with an uploaded setup.

[2016-01-06 10:55] MarshallOfSound commented on #131
Anything @Pheoxy ??  Heading off for the night and don't want to leave a fresh update with a potential virus sitting on it

[2016-01-06 11:18] Pheoxy commented on #131
Sorry, I'm back on slow ADSL...
https://www.virustotal.com/en/file/f7803b4765912df367c5c772c2fcc76fb2061f40a5a94ec9bb39ec7b996c8d2b/analysis/

[2016-01-06 11:19] Pheoxy commented on #131
Yea it failed 3/54

[2016-01-06 11:21] Pheoxy commented on #131
Downloading your 2.0.2 update to see if its got anything. I may be getting MITM.

[2016-01-06 11:26] Pheoxy commented on #131
Whats the MD5 and sha-256 of 2.0.2?

[2016-01-06 11:37] MarshallOfSound commented on #131
Hold up, I just scanned the installer with all my local scanners (Windows Defender, Zone Alarm and Malwarebytes) and it got nothing.  But uploading it to virustotal triggered some hits....

Looks like a whole bunch of false positives

[2016-01-06 11:38] Pheoxy commented on #131
Hmm. why's it trigger them though?

[2016-01-06 11:42] MarshallOfSound commented on #131
If you look through my issues here I think #11 we had a false positive before that I resolved by changing a JSON library I was using.....  False positives are the bane of small developers like myself because we can't do anything about them.

You can build from source if you want or scan the installed files.  The installers are clean, and just to have a transparent build process they are actually b

[2016-01-06 11:44] Pheoxy commented on #131
Thanks I'll take a look.

[2016-01-06 11:57] Pheoxy commented on #131
Here's the check on 2.0.2 by the way:
https://www.virustotal.com/en/file/cbf8cd373a6d63781f3761ad201a4b8821b6a7bbe557a181b92b0a8b3f7e7e1e/analysis/1452081269/

Might be some changes that are causing it.

[2016-01-06 12:06] MarshallOfSound commented on #131
I'm running a complete system scan now to ensure nothing is piggy backing onto the installer

[2016-01-06 12:07] Pheoxy commented on #131
I'll do my own scan to check as well.

[2016-01-06 12:24] jprivard opened #132 "Windows 10 "zoom flicker""
Hey there,

I don't know how to explain the issue I currently have, but on my Windows 10 Surface Book, the latest version of the application is buggier than the one before. When I hover some links, there's like a part of the application screen that zoom and it flickers on and off. It's disturbing.

![Here's how it looks like to me](https://cloud.githubusercontent.com/assets/1730158/12142482/74e805

[2016-01-06 15:20] LordTowers commented on #31
Since it seems to be Aero related would a 'first fix' be a toggle switch to turn it on or off so we can still enjoy the newer versions while this is getting resolved (or become the permanent Windows 7 fix if you can't?

[2016-01-06 15:49] RemyFV commented on #125
everything works fine with the last 2.0.2 release :)

any address I can use to paypal you a beer or two ?

[2016-01-06 15:51] Talor-A commented on #31
@MarshallOfSound I don't know Visual Studio, but can't you use the standard window frame on all platforms, and then on windows 8/10 simply set the color to orange? This wouldn't involve code duplication.

[2016-01-06 15:56] RemyFV commented on #132
uninstall completely, download the latest 2.0.2 release, reinstall - it should work properly :)

[2016-01-06 16:28] strigona-worksight commented on #75
I uninstalled & installed and all appears to be working correctly!

[2016-01-06 17:17] MarshallOfSound commented on #132
Can confirm @RemyFV is correct

[2016-01-06 17:17] #132 closed

[2016-01-06 17:18] MarshallOfSound commented on #125
There is a paypal button on the README if you want to :+1:

:beer:

[2016-01-06 18:12] MRTrololololo opened #133 "flash player"
Keeps asking me for flash player, When i already  have flash installed.

[2016-01-06 18:18] MarshallOfSound commented on #133
Are you up to date?  Flash player is actually included in the latest release...

[2016-01-06 18:19] MRTrololololo commented on #133
Yes

[2016-01-06 18:21] MarshallOfSound commented on #133
Can you ensure that their is a folder called "Resources" with a flash ppapi DLL file inside it in your install folder

[2016-01-06 18:29] MRTrololololo commented on #133
there's no folder called Resources

[2016-01-06 18:31] MarshallOfSound commented on #133
.....  Doesn't sound like you are on version 2.0.2

Can you redownload the installer and install again.  Uninstall the old one first

[2016-01-06 18:38] MRTrololololo commented on #133
THANK U, it finally works

[2016-01-06 18:52] MRTrololololo opened #134 "inteface bug"
minimaze and fulscreen button is buggy

[2016-01-06 18:52] eturk1 commented on #133
congrats on a stable release!
1. still tiny UI on my 4K
2. mini player scale is off
<img width="150" alt="2016-01-06" src="https://cloud.githubusercontent.com/assets/525280/12151298/4bb8dedc-b463-11e5-9992-2614e6a48589.png">
<img width="150" alt="2016-01-06" src="https://cloud.githubusercontent.com/assets/525280/12151302/5001a0aa-b463-11e5-8dd2-46f7b0abe3cf.png">
(see pics)

for future, maybe a ch

[2016-01-06 18:56] MarshallOfSound commented on #133
Confirm the version number you downloaded.  Was it 2.0.2

[2016-01-06 19:17] eturk1 commented on #133
@MarshallOfSound I assume it's 2.0.2 as I uninstalled old, install from: https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/releases/tag/2.0.2

exe file is 1.0.0.0 though so can't confirm (see pic)
<img width="301" alt="2016-01-06 2" src="https://cloud.githubusercontent.com/assets/525280/12152054/15b5519a-b467-11e5-9364-cb429bcfacd2.png">

[2016-01-06 19:28] MarshallOfSound commented on #133
Hmmm, that's strange.  Could you check control panel it should have the right version in the programs list.

And I think I will start up a beta stream, just looking at the best way to do it

[2016-01-06 19:29] #133 closed

[2016-01-06 19:29] MarshallOfSound commented on #134
Duplicate #31

[2016-01-06 19:29] #134 closed

[2016-01-06 19:31] eturk1 commented on #133
yes, 2.0.2 in uninstaller

(see pic to better show scale between outlook UI & GM player)

<img width="469" alt="2016-01-06 3" src="https://cloud.githubusercontent.com/assets/525280/12152339/e7c24502-b468-11e5-8081-2cf2f906f6c7.png">

[2016-01-06 19:44] MarshallOfSound commented on #133
I'm going to ping @amaitland again, there is definitely some strange DPI things going on here still

[2016-01-06 22:26] amaitland commented on #133
Can you clarify `Tiny UI`? Do you mean the `Titlebar buttons`?

`GitHub` allows you to tag a release as `Pre-release`. You may wish to consider having a `Stable` branch.

@MarshallOfSound Likely need some sort of diagnostic information/logging, get some more information about the hardware/environment. Can even be as simple as a key sequence that copies information to the clipboard so users can pas

[2016-01-06 22:30] MarshallOfSound commented on #133
@amaitland I think he is referring to the text inside CEF, if you look on the screenshot it is visibly much smaller than the example given in outlook.

And yeah, I'm tempted to move away from using github as a update platform though because it isn't the most user friendly platform for people who have never been to github before.  I can messages all the time on reddit asking how to download because

[2016-01-06 23:19] amaitland commented on #133
A couple of point sizes smaller at most. Anyway, if it's supposed to be bigger then I guess that's a problem still.

@eturk1 Are you up for helping us out a little? If your up for it, I'd like you to download `cefclient`, it's a reference implementation of the `Chromium Embedded Framework (CEF)` for which powers the web browser. The exact version is important, so please pay attention.

![capture](

[2016-01-08 17:00] SourceCode opened #137 "Window controls have strange issue - Windows 7 64bit"
I just installed the latest build and for some reason the interface buttons in the top right corner want to pop-out the original default windows controls over the skin.  They also pop-out strangely.

![gmpifacebug](https://cloud.githubusercontent.com/assets/55036/12203867/095db9ac-b5e6-11e5-81c8-b52d3a0b280e.jpg)

[2016-01-08 20:11] MarshallOfSound commented on #137
Duplicate of #31

[2016-01-08 20:11] #137 closed

[2016-01-10 02:16] NuclearFej opened #138 "2.0.2 doesn't like being installed over an earlier version"
See title, when I installed 2.0.2 over my previous version (didn't note which one, sorry!) it refused to run. I had to reinstall in order for the player to run.

[2016-01-10 02:41] MarshallOfSound commented on #138
Which previous version did you have?

[2016-01-10 02:46] MarshallOfSound commented on #138
I have tested the upgrade path from `1.7`, `1.8` and `1.9` on both x86 and x64.  I actually spent ages making sure these upgrade paths worked :smile:

[2016-01-10 11:52] adajan opened #140 "4K UI broken Ver. 2.0.2"
Hey,

It looks like the scaling of the window doesn't seem to happen, yet the web UI in the window seems to scale properly. Just need a few stuff tweaked

Mini player (Needs fixing):
https://gyazo.com/6b14ce9cb1f07fd31aef247843dfe238

Main Window (Fine):
https://gyazo.com/1de8c4555963af75abc96878e7e6b508

Desktop Settings (Fine):
https://gyazo.com/ed5b1a04f7a8b12b9b29e5c058aa1f7f

Side Notificatio

[2016-01-10 12:26] MarshallOfSound commented on #140
I was aware of the mini player issue but not of the notification one.  Though thinking about it they are the same problem just in two different places.  I have ideas on how to fix these issues but unfortunately I actually have no way to test them... :cry:

Without a high res screen with DPI scaling turned on all I can do is guess and hope for the next release.  Hopefully I'll guess good :cactus:

[2016-01-10 12:27] MarshallOfSound commented on #130
- [ ] Fix shuffle icon
- [ ] Fix visualizer color
- [ ] Fix sub-title text in the nav bar

[2016-01-10 12:44] adajan commented on #140
I'm downloading visual studios now to fix it for you. I will request a pull once I'm done.

[2016-01-10 17:22] NuclearFej commented on #138
I'm sorry, don't know which version I had. On Windows 10, what OS are you running?

[2016-01-10 18:43] MarshallOfSound commented on #138
Windows 10 as well, but I tested on 7, 8, and 10

[2016-01-10 19:47] ShepherdJerred commented on #138
Occurring to me as well

[2016-01-11 01:13] MarshallOfSound commented on #31
I have struggled with this for far too long....
Gonna ask for some help @IgnaceMaes <-- He wrote the Material Skin originally

Any ideas ^^

[2016-01-11 11:05] MarshallOfSound commented on #31
@Javierdsv @LordTowers @FISHunderscore @FuzzAU @ngramste @Talor-A

Hey guys,
Can some of you please try this latest beta build off AppVeyor

[32 Bit ZIP](https://ci.appveyor.com/api/buildjobs/rltkupfy9rohar9a/artifacts/Google%20Play%20Music/bin/x86/GPMDP.Beta.x86.zip)
[64 Bit ZIP](https://ci.appveyor.com/api/buildjobs/x3yxvn4cme2d0esp/artifacts/Google%20Play%20Music/bin/x64/GPMDP.Beta.x64.zip)

I'

[2016-01-11 12:33] cimnine opened #141 "Installation does not work"
The installation did not work on my PC, with or without uninstalling the previous version (which was the latest before 2.x).

It's my work PC and I do not have admin privileges, which was no problem for the old installer. For me, a zipped version would be enough, actually. I don't need an installer.

Here's the log of the installer:
https://gist.github.com/cimnine/24a49b70e3b2e46ba3be

~Chris

[2016-01-11 12:45] FuzzAU commented on #31
I haven't been able to reproduce sorry. I only have Windows 10 machines. Tried 150% scaling on my 3440x1440 and the buttons all operate ok.

This is a screenshot of the previous beta you sent in the above configuration:
<img width="859" alt="before" src="https://cloud.githubusercontent.com/assets/1161763/12233754/5615562c-b8bd-11e5-8730-c686dc20abe9.png">

and this is a screenshot of the latest fr

[2016-01-11 16:28] Devo7v commented on #130
To add to this topic, the vertical lines for the pause icon should be white to match the other icons.

[2016-01-11 18:53] MarshallOfSound commented on #141
I don't officially provide a ZIP installer for usability reasons.  Mainly there are quite a few dependencies that need to be installed and I don't have the time to field the "I used the ZIP and now its not working" issues.

If you really want a ZIP you can get builds from AppVeyor
https://ci.appveyor.com/project/MarshallOfSound/google-play-music-desktop-player-unofficial/build/1.9.2-100

Just foll

[2016-01-11 18:53] #141 closed

[2016-01-11 18:55] MarshallOfSound commented on #31
Hmmmm, @FuzzAU Does it scale like that on `2.0.2`?

[2016-01-11 20:31] eturk1 commented on #140
just checking back in (going to this open issue to continue)
still on 2.0.2 (reported in uninstall) from when I first noted the 4K scaling issue.

image of where we left off. tiny interface elements in upper right and font for music:
![image](https://cloud.githubusercontent.com/assets/525280/12245726/295a7602-b85f-11e5-87b9-019bcc787169.png)

[2016-01-11 20:34] MarshallOfSound commented on #140
Scaling Issues
--------------------
- [ ] Custom title bar (Minimize, Maximize, Close)
- [ ] Interior font sizing

[2016-01-11 22:45] LordTowers commented on #31
Looks like the x64 debug version fixed the issue for me! The program runs super sluggishly though but I assume that's just because this is a debug version

[2016-01-11 22:47] MarshallOfSound commented on #31
@LordTowers Not sure why it would run slower than normal, possibly just a placebo affect or something?

This is technically a release build

[2016-01-12 10:16] #31 closed

[2016-01-12 10:16] #140 closed

[2016-01-12 10:26] MarshallOfSound commented on #125
@RemyFV @eddielement @eturk1 @joelpereira @FuzzAU @yopspanjers @FuzzAU
Hey guys,

I think I have completely nailed this fix now.  UI Scaling on all components seems to be working.
Check out the builds below:
[x86 Build](https://ci.appveyor.com/api/buildjobs/k169oa7gx74willf/artifacts/Google%20Play%20Music.Bootstrapper/bin/x86/Release/Google%20Play%20Music%20Desktop%20Player%20x86.exe)
[x64 Build](

[2016-01-12 16:04] LordTowers commented on #31
Possibly, i've also been running v1.6 up to now (last ver w/o the issue) so perhaps the newer/fancier versions load and run just a tad slower

[2016-01-13 00:36] adinklotz opened #143 "Miniplayer is tiny"
Recently (I'm not sure exactly when), the miniplayer has been showing up much smaller than it used to, making it impractical and annoying to use.  See the attached image -- that's the normal Windows desktop, with the tiny mini-player.
To reproduce: just open the miniplayer with the arrow button at the bottom of the window.
I am on Windows 10, if that helps.
![minplayer](https://cloud.githubusercon

[2016-01-13 01:03] MarshallOfSound commented on #143
Do you have a 4K display?  Or DPI scaling turned on?

[2016-01-13 01:05] MarshallOfSound commented on #143
If so:
Check out the builds below:
[x86 Build](https://ci.appveyor.com/api/buildjobs/k169oa7gx74willf/artifacts/Google%20Play%20Music.Bootstrapper/bin/x86/Release/Google%20Play%20Music%20Desktop%20Player%20x86.exe)
[x64 Build](https://ci.appveyor.com/api/buildjobs/58g0xct0kkaty6fd/artifacts/Google%20Play%20Music.Bootstrapper/bin/x64/Release/Google%20Play%20Music%20Desktop%20Player%20x64.exe)

Hope

[2016-01-13 01:37] adinklotz commented on #143
No. I have a normal HD display, and no special graphics settings enabled
On Jan 12, 2016 8:03 PM, "Samuel Attard" <notifications@github.com> wrote:

[2016-01-13 01:41] MarshallOfSound commented on #143
Have you tried one of the beta builds I linked, you have to uninstall your old version first.

[2016-01-13 01:56] MarshallOfSound commented on #138
Closing as it appears to be a limited issue.  And not much I can do about an already released installer :/

[2016-01-13 01:56] #138 closed

[2016-01-13 02:08] adinklotz commented on #143
I just installed the x64 build, and it works now!

[2016-01-13 02:08] #143 closed

[2016-01-13 14:40] amitj975 opened #144 "logging in issue"
It is not working in INDIA
How can bypass the country logging thing

please help

[2016-01-13 14:44] Javierdsv commented on #31
Just passed by to say Thank You.
The zips you attached had a solid fix to the issue,  it is completely gone.
No slowing issues here though, working as intended :100:

[2016-01-13 17:26] collinjackson93 opened #145 "Thumbs Up and YouTube Buttons Overlap in Mini Player"
Title pretty much sums it up. I attached a screenshot below to illustrate. The issue occurs in the bottom left corner.
![image](https://cloud.githubusercontent.com/assets/5580739/12301926/3664915e-b9e8-11e5-992c-0caf8379d748.png)

[2016-01-13 17:29] MarshallOfSound commented on #145
Youtube button....
I have never seen that... Ever.... :thought_balloon:

In what scenario does that button appear

[2016-01-13 17:30] MarshallOfSound commented on #144
I'm sorry, but I can't help you get around Google's country filter

[2016-01-13 17:30] #144 closed

[2016-01-13 19:21] chrismou opened #146 "Smartscreen"
Not sure if this is even an issue, downloaded the latest installer and when I ran it it popped up with the smartscreen warning, telling me something about trying to run an unrecognised file downloaded from the internet and had to confirm with my password before it'd run.

Generally I'd just assume this was normal, but I recall reading something on your release notes about an Microsoft signed key,

[2016-01-13 19:25] MarshallOfSound commented on #146
It's expected for a while and appears to be only on some machines, smart screens works based on a "trust" system.  So the more people that install it the higher a "trust" level it gets.  The certificate actually reset my trust level as previously I was using a personal self signed cert (which apparently had a trust level.......)

Normally it takes a few weeks for microsoft to figure out that a cer

[2016-01-13 19:25] #146 closed

[2016-01-13 21:15] chrismou commented on #146
:+1: No worries, like I say, was just a heads up in the case the cert was borked or something

If I spot it again after say Feburary, I'll let you know :smile:

[2016-01-13 22:00] collinjackson93 commented on #145
I am a YouTube Red/Google Play Premium subscriber. Maybe that's why it comes up?

[2016-01-13 22:11] MarshallOfSound commented on #145
Ahhh, youtube red... Well, this might be hard to fix cos I can't see the button so I can't put it in the right place.  You're actually really lucky it ended up in a not so bad place....  Could have been worse :P

[2016-01-14 03:07] collinjackson93 commented on #145
Agreed! It's not a huge deal to me, and if it doesn't bother other people, I'm fine with it staying where it is. I'd hate for you to spend a lot of time fixing a small bug that only affects a couple of people.

[2016-01-14 06:46] MarshallOfSound commented on #145
Not even sure where I would move it to TBH, I would probably just hide it...

[2016-01-14 16:42] cimnine commented on #141
Alright, the ZIP did not work. Whatever. But it's too bad that I can't use the software anymore because the installer does not work either. See https://imgur.com/tCSAELp .

[2016-01-15 03:44] afollestad opened #147 "Issues with small UI"
This is on a Surface Book:

![capture](https://cloud.githubusercontent.com/assets/1820165/12344879/cf5eb8b0-bb07-11e5-8651-a95456e0b874.JPG)

When maximized, the titlebar is still very small in height and text/icon size.

[2016-01-15 03:46] MarshallOfSound commented on #147
I believe this is a duplicate of #143 and #140

Check out the builds below:
[x86 Build](https://ci.appveyor.com/api/buildjobs/k169oa7gx74willf/artifacts/Google%20Play%20Music.Bootstrapper/bin/x86/Release/Google%20Play%20Music%20Desktop%20Player%20x86.exe)
[x64 Build](https://ci.appveyor.com/api/buildjobs/58g0xct0kkaty6fd/artifacts/Google%20Play%20Music.Bootstrapper/bin/x64/Release/Google%20Play%20

[2016-01-15 03:46] #147 closed

[2016-01-18 11:53] JoshuaGarrison27 commented on #145
Could you have it hover in the middle of the Album art? That that is what Google does on the web version.

[2016-01-20 20:19] Devo7v opened #148 "Feature Requests"
I didn't see a good place for feature requests so I figured I'd post here.

1.  Double clicking anywhere on the miniplayer opens the full player.  Depending on how small someone makes the miniplayer it can be difficult to click the even smaller expand button.
2. The ability to change how long the splash screen is shown or even disable it completely.  It just seems that between 1.9.2 and 2.0 the pr

[2016-01-20 20:50] MarshallOfSound commented on #148
@Devo7v I'll take a look at this a bit later but quickly now.  The splash screen is not in `2.0.0` as far as I am aware...

Are you on a beta?

[2016-01-21 01:09] Devo7v commented on #148
Sorry, I'm on 2.0.2
On 20 Jan 2016 3:50 p.m., "Samuel Attard" <notifications@github.com> wrote:

[2016-01-21 02:05] MarshallOfSound commented on #148
@Devo7v Still doesn't make sense, the splash screen was added between the 2.0.2 release and now.

https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/compare/2.0.2...master

[2016-01-21 02:19] Devo7v commented on #148
It looks like I am using a beta version. It was the first version labeled
as 2.0.2 on AppVeyor for my portable installer, which included the splash
screen. Sorry for the confusion.
On 20 Jan 2016 9:05 p.m., "Samuel Attard" <notifications@github.com> wrote:

[2016-01-21 02:24] eturk1 commented on #148
BTW, what is the latest version.
tuned out when 4K DPI made app have super tiny txt

is that fixed?
is there a beta channel build(s) to test and offer feedback?
is version now in exe to see what ver we've got?

[2016-01-21 06:09] MarshallOfSound commented on #148
@eturk1 4K DPI issues have been entirely fixed but not released yet, you can enjoy that fix if you jump on to the betas from appveyor.

A proper opt in beta channel will open up in the next release

[2016-01-21 07:00] eturk1 commented on #148
Thanks!
Where to find appveyor beta?

[2016-01-21 09:32] MarshallOfSound commented on #148
@eturk1

Here is a link to the latest build, choose a platform (x86 or x64) and then choose "artifacts"

https://ci.appveyor.com/project/MarshallOfSound/google-play-music-desktop-player-unofficial

[2016-01-21 11:10] Pheoxy commented on #131
Sorry for lateness completely forgot about this. My system check was fine, it's probably some of your code when you have keybindings or some other piece. Good luck on finding a way around that when you have the time.

[2016-01-21 13:47] seeb0h commented on #145
I have a overlap problem but different :
![miniplayer](https://cloud.githubusercontent.com/assets/4989990/12482061/be5de5ea-c04d-11e5-83e0-ac8b84c6971d.png)

windows 7 64bits, GPMDP 2.0.2

[2016-01-21 14:18] seeb0h opened #149 "Window control buttons glitch"
A gif says everything.
![window_controls](https://cloud.githubusercontent.com/assets/4989990/12482908/8171f9dc-c052-11e5-97b8-e90215a58dca.gif)

I cannot click them and ugly (win32?) controls appear.

Win7, 2.0.2

[2016-01-21 17:58] MarshallOfSound commented on #149
This has been fixed in master and will be pushed in the next release.  If you can't wait, there is a beta build available here

https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/31#issuecomment-170509781

[2016-01-21 17:58] #149 closed

[2016-01-21 19:04] eturk1 commented on #148
ah, thanks a bunch @MarshallOfSound !

screen cap to compare scaling. Looks like app is still scaling smaller than what people will expand in a standard window:
![2016-01-21 1](https://cloud.githubusercontent.com/assets/525280/12491171/5eda4dd0-c02e-11e5-9521-1a92cae1f6ba.jpg)

[2016-01-21 19:05] MarshallOfSound commented on #148
@eturk1, that doesn't look like the beta did you uninstall the old one first.

[2016-01-21 20:25] eturk1 commented on #148
I downloaded from here: https://ci.appveyor.com/project/MarshallOfSound/google-play-music-desktop-player-unofficial/build/job/mxujbwkg8nffk4l0/artifacts
is that correct place?

(uninstalled and deleted C:\Program Files\GPMDP as well before install)

[2016-01-21 20:26] eturk1 commented on #148
sure would be great to have a build # in exe properties/details :)

[2016-01-21 23:00] adinklotz opened #150 "Music stuttering"
What the title says.  In the latest version (as of about a week ago), audio has been stuttering and skipping a lot as it's playing.
It doesn't seem to be a problem with my internet or anything, since the browser player still works fine; the audio's only weird in the desktop player.

I am on Windows 10 x64

[2016-01-21 23:10] MarshallOfSound commented on #150
Does this happen all the time or randomly?

[2016-01-21 23:22] adinklotz commented on #150
It will play fine for ~30 seconds, then skip and stutter for a few seconds, then play fine for ~30 seconds, etc.

[2016-01-22 00:09] MarshallOfSound commented on #150
Sounds like a bug with flash on your specific hardware, can you post your specs and I'll see what I can piece together

[2016-01-22 00:28] PandawanFr commented on #150
Same for me, I haven't tried updating flash yet, don't know if there's an update.

Will get back to you.

I am on Win 10 x64

[2016-01-22 00:29] MarshallOfSound commented on #150
You can't update flash, on the latest version it is embeded (PPAPI)

[2016-01-22 00:31] PandawanFr commented on #150
Yeah, just found out it's browser based... So seems like it's a problem only you can fix

[2016-01-22 08:22] seeb0h commented on #145
As I had another bug (https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/149) I tried the beta version.

I couldn't reproduce the bug with the beta.

[2016-01-22 08:23] seeb0h commented on #149
Ok. Sorry for the duplicate. I didn't checked closed issues.
The beta works fine.

[2016-01-22 08:46] seeb0h opened #151 "lastfm login not working on beta version"
Right credentials => login failed.

With this version : https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/31#issuecomment-170509781

Worked with 2.0.2

Win7 x64

[2016-01-22 09:47] seeb0h opened #152 "Main window resizing problems (beta version)"
Two bugs :
1. Arrow cursor appears on every edges and borders but there are useless. Upper left/right and top one move the window. Other ones do nothing.
2. Using win → or win ← does nothing. win ↑ and win ↓ works

With this beta version : https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/31#issuecomment-170509781

Win7 x64

[2016-01-22 10:08] MarshallOfSound commented on #151
That is to be expected on a beta appveyor version.  No last.FM API key

[2016-01-22 10:08] #151 closed

[2016-01-22 10:22] #152 closed

[2016-01-22 10:41] MarshallOfSound commented on #152
Fixed in master

[2016-01-22 12:54] dceightfive opened #153 "Versions newer than 1.5.0 refusing to open"
Hi,

I am having trouble opening any version of the app that is newer than 1.5.0, I believe it is to do with the Material Skin as 1.6.0 was when it was introduced.

I'm trying to run it on Windows 7 Enterprise Edition x64, and I have got I get the following prerequisites installed; Visual Studio C++ Redist 2012 (x86), Visual Studio C++ Redist 2012 (x64), and the latest version of flash, and I have

[2016-01-23 16:42] blueswag80 commented on #145
I think I have found the element that causes this little problem.

class="now-playing-actions  has-youtube"

When I have hid this element on the webpage the youtube button and menu are gone. Problem is, it has been a long time since I have coded anything for the web. Marshall can you tell me where I have to go in the code to hide this element?

[2016-01-23 23:52] MarshallOfSound commented on #145
The mini player functionality is actually in a separate repository.  You probably want to add a CSS rule to this stylesheet.

https://github.com/MarshallOfSound/gmusic-mini-player.js/blob/master/lib/override.css

Let me know how it goes or if you need help setting up a dev environment

[2016-01-24 14:25] eladavron commented on #150
Having same issue, but less frequent than stated above.
Windows 10 x64 as well.
Yikes I hate Flash.

[2016-01-24 16:35] blueswag80 commented on #145
Hey Marshall, I have forked that other repo and have been looking at it. Sadly, I might need to get that help setting up the dev environment. I have been looking at grunt and believe I have installed all the dependencies however, I run grunt and it appears to finish just fine but nothing seems to happen. Is grunt supposed to compile everything into gmusic-mini-player.min.js?

[2016-01-24 18:37] MarshallOfSound commented on #145
@blueswag80 Try running `grunt build`

[2016-01-25 04:43] blueswag80 commented on #145
Okay I think I got it now. I may have also gotten rid of the up and down thumbs so let me know what you think of it right now. If need be, I can put the thumbs back (Not sure how, but I will :-) ) . When I have this sorted out you want me to commit the change to the mini player correct? Apologies ahead of time, this could be my first pull and I might screw it up.

![notube](https://cloud.githubuse

[2016-01-25 05:08] MarshallOfSound commented on #145
The thumb up / down button should appear when you play a radio station, could you test that they still do?

Once you've done that, commit to master on your fork and make a PR and I'll take a look at it :)

[2016-01-25 15:02] blueswag80 commented on #145
Ah that was it thank you. I am at work however, I managed to get a little time to build and check and I saw that the thumbs do appear when it is a station. When I get home I will commit my changes and submit the request. Thanks for all the help, it is really appreciated.

[2016-01-25 19:48] MarshallOfSound commented on #153
You need VS C++ Redist 2013

Those errors aren't actually errors.  Check Windows Event Manager for errors

[2016-01-25 20:30] Jespiee commented on #150
I'm having the same problem. On my laptop when I skip to a part that hasn't buffered yet it stutters for 30 seconds and then plays fine again. In my browser it plays fine.
It isnt the problem of my laptop because I'm playing from a SSD and my specs are: i7-4710HQ; 16GB memory; enough free space on both disks.

[2016-01-25 20:36] MarshallOfSound commented on #150
Can you guys @Jespiee @eladavron @PandawanFr check that this doesn't happen in chrome.  And then post the flash version in chrome.  To find that out go to `chrome://plugins/` and look for the "Adobe Flash Player" version string.  Should look something like `Version: 20.0.0.286`

[2016-01-26 05:41] Jespiee commented on #150
Adobe Flash Player - Version: 20.0.0.286
Shockwave Flash 20.0 r0

[2016-01-26 06:42] superjase opened #154 "feature request: a visualisation"
i would love a visualisation(s) for in the app. i don't use chromecast and i can find no way to show a visualisation on my pc while playing music. it would be grand for when the player is filling the screen.

thanks :)

[2016-01-26 07:39] MarshallOfSound commented on #154
This issue is not possible with adobe flash.  I'll keep this in mind with Nucleus Player

[2016-01-26 07:39] #154 closed

[2016-01-26 13:03] eladavron commented on #150
Indeed does not happen in Chrome.
It's worth mentioning though that my issue seems to be far less severe than other people are having it. It only stutters in the beginning of playback, and after about a minute or so settles down and everything works flawlessly thereon out.

Adobe Flash Player - Version: 20.0.0.286
Shockwave Flash 20.0 r0

[2016-01-26 14:35] dceightfive commented on #153
Thanks for your help MarshallOfSound.

I do already have VS C++ Redist 2013 installed both x86 and x64, along with 2005, 2008, 2010, so I'm not sure that, that is the problem.

Looking in the Windows Event Viewer I see an application error of:
[code]

and a .NET runtime error:
[code]

Is there something else I am missing?

Thanks,
Dean

[2016-01-26 19:04] MarshallOfSound commented on #153
Are you using a proxy?  Or a VPN?

[2016-01-27 02:33] rynti opened #156 "Feature: Playback Information API"
Currently there's no way for an external application of determining whether the player is playing a song or not. A possible solution would be to create a file that contains this information, and continuously update that file whenever playback changes. Furthermore we could also store additional information about the currently played song, etc. in the file.

Related pull request: #155 (Implements a

[2016-01-27 04:31] PandawanFr commented on #150
Nope, have tried on Chrome and Edge, it works fine...
Also, it seems that when I load the song on chrome and then move on to the desktop one, the stuttering stops, maybe because the song is stored in the cache or some sort of memory?

Adobe Flash Player - Version: 20.0.0.286
Shockwave Flash 20.0 r0

[2016-01-27 05:22] MarshallOfSound commented on #156
PR is now at #157

[2016-01-27 07:17] MarshallOfSound commented on #156
PR merged
Thanks @rynti

[2016-01-27 07:17] #156 closed

[2016-01-27 18:51] Waveharp opened #158 "Minimize, Maximize, Close buttons overlap and do not work"
The three window buttons - minimize, maximize, and close - do not work. When one of them is clicked, the icon for the adjacent button appears and displays the button press animation, but nothing happens.   Pressing minimize makes a small, gray maximize button appear just to the right of it. Pressing maximize reveals a close button, and if I click just to the left of the minimize button, a similar

[2016-01-27 18:52] MarshallOfSound commented on #158
This is a known issue and fixed in master.  Please see for instance #137 #31

The next release will contain a fix for this or you can download the latest beta from appveyor

[2016-01-27 18:52] #158 closed

[2016-01-27 18:54] Waveharp commented on #158
Awesome, thanks.

[2016-01-27 18:55] MarshallOfSound commented on #145
Closing as fixed in correct repo

[2016-01-27 18:55] #145 closed

[2016-01-27 22:09] gdaddy184 commented on #153
I am having the same issue. It was working fine for me until this morning.

[2016-01-27 22:11] MarshallOfSound commented on #153
@gdaddy184

[2016-01-28 14:16] dceightfive commented on #153
Thanks again Samuel,

No, not using a proxy or VPN, as I stated, the latest version works fine on my laptop but not on the PC which are both using the same connection.

Can you think of anything else that may be causing the crash?

[2016-01-28 14:56] pchertok opened #159 "Clicking the current playlist icon does not bring up playlist view"
I am on Windows 7 - Sometime when I click the playlist icon in the lower right you can see the playlist menu "open" but once the maximize animation complete the playlist is no longer visible.  Clicking on the playlist icon again will show the playlist doing its minimize animation.  The only way to bring everything back to normal is to quit the app and reopen it.

[2016-01-28 17:33] MarshallOfSound commented on #153
Well it's something to do with one of the webrequests I do.  It is probably something  like firewall rules, or network config.   I'll make a debug build for you tonight and we can try see whats going on

[2016-01-28 17:34] MarshallOfSound commented on #159
Please add screenshots to this issue, I can't quite understand what parts of the UI you mean

[2016-01-28 17:49] pchertok commented on #159
Here are the requested shots.  Hopefully this clarifies things.

![playlist_1](https://cloud.githubusercontent.com/assets/1420525/12653410/6e107e7a-c5bd-11e5-9b62-6e1e1df7879f.png)

![playlist_2](https://cloud.githubusercontent.com/assets/1420525/12653416/71c015e4-c5bd-11e5-8d7a-8ed1a8bbf88d.png)

[2016-01-28 17:50] pchertok opened #160 "Feature Request: Ability to see playlist in mini view"
It would be nice if we could still access the current playlist even in the mini view.

[2016-01-28 18:55] MarshallOfSound commented on #160
I do not think there is physically enough space in the mini player to show the upcoming playlist.  Can you please raise this issue on https://github.com/MarshallOfSound/gmusic-mini-player.js instead and I'll look into it

[2016-01-28 18:55] #160 closed

[2016-01-28 18:57] MarshallOfSound commented on #159
Ahhh, other players have experienced this problem as well I believe.  It is actually a bug in GPM not GPMDP.  I'll see if I can replicate the issue, but for now, if it does happen, you can force a browser redraw by simply resizing the window.  That should trick it into working again

[2016-01-29 19:33] maarten1055 opened #161 "Feature request: Sound Search History"
Play Music doesn't show us the sound search history playlist by default. Would it be possible to implement this?

https://play.google.com/music/listen#/ap/sound-search

This thing is awesome btw, great work!

[2016-01-31 05:54] MarshallOfSound commented on #161
Technically it would be possible, but it's a limited use case feature.  It might make more sense for you "the user" to use the "add playlist to playlist" button so that songs in `sound-search` get added to one of your pinned playlists

[2016-01-31 05:54] #161 closed

[2016-01-31 05:55] MarshallOfSound commented on #161
Not saying I wouldn't accept a PR for this feature, but it's not something I'm going to spend time on

[2016-01-31 05:56] MarshallOfSound commented on #159
I can't replicate this issue at all, appears to be a user specific / setup specific bug.  Without reproducible steps I can't proceed with this issue.

[2016-01-31 05:56] #159 closed

[2016-01-31 05:56] MarshallOfSound commented on #150
Closing as it is an upstream bug related to Adobe flash player, I will update our PPAPI flash ASAP though

[2016-01-31 05:56] #150 closed

[2016-01-31 05:58] MarshallOfSound commented on #148
OK so I've looked into these feature requests and here is my response

1. Not possible, in order to make the mini player draggable windows absorbs all click events on the window.  No way to determine a double click.
2. The mini player opening does not add any delay, it simply hides the initialization of Google Play Music therefore (wontfix)

[2016-01-31 05:58] #148 closed

[2016-01-31 05:59] MarshallOfSound commented on #130
Fixed issues upstream in `gmusic-utils/gmusic-theme.js`

[2016-01-31 05:59] #130 closed

[2016-01-31 22:25] maarten1055 commented on #161
No worries, I understand what you mean. Maybe I will look into it myself sometime.

[2016-02-01 08:22] maarten1055 opened #162 "Small bug in PlaybackAPI"
I was playing around with this trying to get it to work in rainmeter and I noticed that the artist and album are switched.

in JSBound:

`PlaybackAPI.Instance.UpdateCurrentSong(song, album, artist, url); `

And the method itself in PlaybackAPI is:

`public void UpdateCurrentSong(string song, string artist, string album, string imageURL)`

[2016-02-01 08:43] Pheoxy commented on #131
On current GMDP 2.1.0 I'm not getting the malware warning anymore.

[2016-02-01 09:23] MarshallOfSound commented on #162
That's a bit awkward..
*Stares pointedly at @rynti*

Just kidding, I missed it in the review, I'll push out a fix for this soonish

[2016-02-01 11:27] rynti commented on #162
Oops, opened a pull request with the appropriate fix, sorry for the inconvenience :smile:

[2016-02-01 11:30] MarshallOfSound commented on #162
This is really why we need unit tests for functionality like this, it just seems really hard to write :/

[2016-02-01 11:30] #162 closed

[2016-02-01 11:48] joelmayer opened #164 "Error on Install of newest version"
I tried to updated, received error.  I uninstalled old version, tried to install new version, same error.

![image](https://cloud.githubusercontent.com/assets/16683920/12716569/3626cec6-c8ea-11e5-9aa9-ae700aaa0442.png)

Interestingly, the file version doesn't show as 2.1.0, but I downloaded it twice from the update notice from the app, and twice for github.
![image](https://cloud.githubusercontent

[2016-02-01 11:57] JoshuaGarrison27 commented on #164
Can you post some of the Log file?

[2016-02-01 12:00] joelmayer commented on #164
Yep, sorry, meant to do that.  Attached.
[Google_Play_Music_Desktop_Player_20160201135855.txt](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/files/112174/Google_Play_Music_Desktop_Player_20160201135855.txt)

[2016-02-01 12:10] JoshuaGarrison27 commented on #164
Forgive me for asking basic questions but i have to ask based on what I am seeing in the log.

1) Do you have admin rights on your machine? Did you try to "Run as administrator"?
2) Have you tried a reboot? (Just in case another process on the computer is halting this for some reason)

[2016-02-01 12:24] rynti opened #165 "Command Line Briefly Opens During Startup"
Every time the player starts, a command line windows opens very briefly with the content "NOT SANDBOXED".

I've done some research and found that the issue seems to be that Pepper Flash (The Flash Plugin used) prints this debug message when it's not run in a sandbox, see: https://code.google.com/p/chromium/issues/detail?id=508002
Since they don't encourage usage of non-sandboxed mode, they don't s

[2016-02-01 12:25] joelmayer commented on #164
I had rebooted, but not "Run as Administrator".  Did that.

I only had an option to uninstall through installer.  Then, I ran again and it installed, but I am thinking that it's not the right version, because on application launch, it prompted me again to update.  Went through the whole process of download, uninstall, reinstall.

Still prompts me to update.

![image](https://cloud.githubuserconten

[2016-02-01 13:11] JoshuaGarrison27 commented on #164
Thats odd. I will let @MarshallOfSound take over from here. This is about as far as I might be able to get you. If I do think of anything I will chime back in.

[2016-02-01 15:32] collinjackson93 opened #166 "Update loop after installing newest version"
I installed the new release today, but every time I open the application, it still prompts me to install the latest version. I think #164 is experiencing the same issue, as well. I tried rebooting, then uninstalling and reinstalling and I still encounter the issue. When I run the installer, it gives me the option to uninstall, instead of installing, so I'm pretty sure I actually have the latest ve

[2016-02-01 15:57] uhh186 commented on #166
I had this issue too. I went to control panel/programs and features to uninstall to reinstall, but I noticed I had two entries for the program: one for the previous version and one for the new. So, I uninstalled them both, and now, when I try to run the installer for the latest version, it only gives me the option to "Uninstall," which fails because the source files have already been removed (It c

[2016-02-01 16:03] collinjackson93 commented on #166
I hadn't noticed that. I checked on my system and found that I actually have 3 entries.

![image](https://cloud.githubusercontent.com/assets/5580739/12722474/b783cf98-c8ca-11e5-869f-6fb05945f6e3.png)

[2016-02-01 16:03] mcarver2000 commented on #166
That is because the file is for version 2.0.2 and not 2.10.  Checking the properties of the download show it is version 2.0.2

[2016-02-01 16:10] uhh186 commented on #166
Yeah, the 2.10 download is apparently downloading 2.0.2.

Still can't get anything to reinstall though...

[2016-02-01 16:15] collinjackson93 commented on #166
I just checked both the x86 and x64 executables for 2.1.0 and they both show as 2.0.2.

[2016-02-01 16:17] collinjackson93 commented on #166
@uhh186 have you tried manually deleting the `C:\Program Files\GPMDP` directory? If that doesn't solve the problem, then you might want to open a separate issue.

[2016-02-01 16:29] uhh186 commented on #166
No, they uninstall the actual files just fine, there's something with uninstaller/installer that makes it think it hasn't been uninstalled, so it tries to uninstall, but can't because there's nothing to uninstall. When the 2.1.0 exe gets uploaded it should install fine since it's an update, so I think it's a problem with 2.0.2.

[2016-02-01 17:11] MarshallOfSound commented on #166
OK guys, I screwed up here, I'll be pushing out another update shortly

[2016-02-01 17:17] MarshallOfSound commented on #164
I'm going to close this in favor of #166

[2016-02-01 17:17] #164 closed

[2016-02-01 17:19] MarshallOfSound commented on #166
For those interested, I only version bumped the internal version number, not the actual MSI version number.  So it was getting quite confused as to whether it had updated or not.

[2016-02-01 17:21] #166 closed

[2016-02-01 17:22] MarshallOfSound commented on #166
Can you guys all please let me know if you still experience the issue after update

[2016-02-01 17:23] collinjackson93 commented on #166
I just tested and it's working fine for me, which is why I closed the issue.

[2016-02-01 17:24] MarshallOfSound commented on #165
Thanks for the in depth issue @rynti.  I have run in to this before and as you have discovered not many of the solutions are very easy to implement.  At some point however I will be moving away from WinForms and CefSharp to the electron framework.

The current plan is for my Nucleus-Player repository to become the `3.0.0` branch in this repository.  Electron actually doesn't even need flash as it

[2016-02-01 17:25] MarshallOfSound commented on #166
@collinjackson93 Epic response time, I had barely published the thing and it was closed.  Thanks mate

[2016-02-01 17:26] collinjackson93 commented on #166
Thank you for resolving the issue so quickly!

[2016-02-01 17:27] MarshallOfSound commented on #166
Yeah, I should really get out of the habit of pushing a release and going to bed, it means theres like an 8 hour gap till I hear about the issues.  But I do try and resolve stuff quickly #gottakeeptheconsumershappy :+1:

[2016-02-01 18:34] uhh186 commented on #166
The update fixes all the problems. Thanks again for all your work MarshallofSound, this app is a godsend and I love everything about it. Keep up the good work!

[2016-02-02 01:14] eligrey commented on #126
Your latest update with its built-in upgrade process uninstalled my current install, and installed GPMDP on my C: drive automatically. There was no option for me to specify the install path in the updater.

[2016-02-02 01:18] eligrey opened #167 "Updater skips selection of install path"
(Note: this issue is void if issue #126 gets implemented prior to fixing this. Unlike issue #126, this is a bug instead of a feature request)

Your latest update with its built-in updater stuff uninstalled my current installation on my H: drive, and installed GPMDP on my C: drive. There was no option for me to specify the install path in the updater.