[2016-04-01 16:27] MarshallOfSound commented on #869
You are not up to date, please accept the update pop up to fix this issue

You should be up to `3.1.0`

[2016-04-01 16:27] #869 closed

[2016-04-01 18:12] Alipoodle opened #870 "Missing "More Options" button Dark Theme"
**OS:**
Windows 10

**Version Of GPM-DP**
3.1.0 (Latest)

**Issue Descriptions:**
The Menu Button within My Library for doesn't appear on the dark theme.
![gpmerror](https://cloud.githubusercontent.com/assets/17199186/14215539/819c0aa8-f83b-11e5-86ab-54bda1b609a7.png)
The Picture above basically shows the problem with a comparison between the light and the dark theme.
Point 1: Shows on an item not

[2016-04-01 18:36] Alipoodle commented on #870
Found that it has been previously posted however never put on the GMusic Theme page like it was said to...

[2016-04-01 18:36] #870 closed

[2016-04-01 19:38] shakehar opened #871 "Pause music on screen lock"
**OS:** Windows

**Issue Descriptions:** It would be really nice if the app would pause music when the screen is locked.

**Steps to Reproduce:** n/a

[2016-04-01 19:52] jostrander commented on #871
Something like this would be almost impossible to implement cross platform, especially since there's no API in electron to listen for that type of event.

[2016-04-01 20:06] bugaevc commented on #862
Thanks ;)

[2016-04-01 21:25] epjaeger opened #873 "3.1.0 - Simulated (remapped) "Next Track" and "Previous Track" not working"
**OS:**
Windows 10 Pro x64 build 1511

**Issue Descriptions:**
Just tested shortcut keys in the new v3.1.0.  Play/Pause is now working properly, but Next/Prev track still are not working for me whether the app is in focus or not.  I’ve tried all the driver cleaning/reinstalls that I’ve found on reddit and other places on the net without any difference in behavior.  I do not have the Chrome extensi

[2016-04-01 21:40] jostrander commented on #873
Do your keyboard remaps work with say, windows media player or vlc?

[2016-04-01 21:51] epjaeger commented on #873
Haven't tested wimp but VLC works fine.

[2016-04-01 22:32] jostrander commented on #873
I'm thinking the issue here is the low-level keybindings on windows are registering the events pre-remap since you don't have native media buttons. Have you tried setting the hot keys in the settings using the browser buttons?

[2016-04-01 22:40] epjaeger commented on #873
Here's what I've tried so far:
1) Setting them to the default browser back/forward.  This allows me to go forward/back in the GPMDP app both in focus and out of focus (unless I'm focused on another web browser of course).
2) Disable the keys.   This obviously does nothing.
3) Set the keys to next/prev media.  No affect in focus or out of focus.

**In all three cases, I'm unable to bind the keys in

[2016-04-01 22:45] jostrander commented on #745
I create a native node module for this, now I just have to see if it's stable enough integrate into this project.

[2016-04-02 01:57] MarshallOfSound commented on #871
What @jostrander said :)

Also it's very subjective I like to lock my computer and have music playing while I work nearby.  I don't believe other music players (WPM) do this either

[2016-04-02 01:57] #871 closed

[2016-04-02 02:11] MarshallOfSound commented on #873
I'm on the fence for this one (As in whether it is a bug or not :confused: )

On one hand, you are not getting the expected behavior from the application.

On the other, you are using 3rd party software to trick other applications into thinking you have media keys that you don't :laughing:

I don't even think there is a way I can fix this, it will come to order of execution of the low level keyboa

[2016-04-02 02:17] epjaeger commented on #873
Third party?  It's the Microsoft keyboard driver.... Wouldn't that be first
party?
On Apr 1, 2016 8:11 PM, "Samuel Attard" <notifications@github.com> wrote:

[2016-04-02 02:18] epjaeger commented on #873
Sorry, that came off snotty and didn't intend for it to.  I figured if
Microsoft maps to the standard "next track" command that works elsewhere it
was working VLC, mpc, and that old outcoldplayer, that was essentially the
same thing.
On Apr 1, 2016 8:17 PM, "Eric Jaeger" <epjaeger@gmail.com> wrote:

[2016-04-02 03:02] MarshallOfSound commented on #873
It almost is, but also isn't.

From my limited knowledge of how there mapping logic works, they intercept the keypress events at the same level I am listening for them and then cancel that event and fire a new one representing the "simulated" key press or key combination.  The problem is, that event isn't fired at the same level.

And FYI the microsoft keyboard driver is considered third party in

[2016-04-02 04:10] #745 closed

[2016-04-02 04:14] MarshallOfSound commented on #857
I've mentioned in other issues the tray menu is already a bit bloated.  Is there any major UX reason why using the button in the existing UI is harder / unreasonable to use?

[2016-04-02 11:56] st33ly commented on #604
I think this might be a limitation of Google play music as he is pretty much just rendering the website. I would love this feature to become a reality (especially save playlist on close / auto resume on start up) but I'm not sure it can be implemented. Maybe one day Google will listen...

[2016-04-02 12:03] Filip013 commented on #196
Thank you for fixing this issue. However, I’d just like to point out that using the +/- sign on the numeric keyboard doesn’t work. I can only manage to zoom in and out using the +/- signs in the second row of the keyboard.

[2016-04-02 12:08] Alipoodle commented on #857
I personally prefer to go into my system tray and have to open the menu up. That's why i thought of an idea for a hotkey to open in full  / mini player. The idea for adding it into the system tray kind of came from jostrander.

[2016-04-02 12:56] st33ly opened #875 "Unresponsive UI when using touch input [3.1.0]"
Hello,

Really loving this app as it uses way less resources on my Surface Pro 3.

I have an issue though that I haven't seen anyone else report so here goes...

When using the touch screen on my surface to select various options (e.g. 'My Library', 'New Releases', play album button, etc) more often than not the app does not respond. The input is being recognised as the menu item highlights but it

[2016-04-02 14:26] timp3289 opened #876 "Last.fm login not working"
Hi
**OS: arch linux x64**
**Description**
When I click the login to last.fm button, the status changes to "authorization in progress" and the button says "..." Then the status changes to "not authorised"
There is no login box / username prompt or anything

**Steps to reproduce:**
Open app
Go to settings
Click log in to last.fm

[2016-04-02 14:33] MetaMonk opened #877 "Issue: 2FA Option to "Install Plugin" Causes Inability to Navigate App"
OS: Windows 7

Issue Descriptions: When using 2FA with a Yubi key, there is an option to install the Yubi key plugin that the instance of GPDMP doesn't have. Clicking install (I was curious :persevere:) takes you to the Chrome Web Store, from which you can't navigate backwards. Uninstalling the update and ten re-updating and using another 2FA method works fine.

Steps to Reproduce:
1. Click yes wh

[2016-04-02 14:48] MarshallOfSound commented on #877
This is what I would describe as a "DSTGSR" thing.  (I use that acronym far too much)

Do Silly Things, Get Silly Results :+1: :laughing:

I guess I could try prevent that link being clicked.  But I also want to maintain user trust by not injecting ANY code into the authentication page.

So TLDR clicking the link is a funky thing to do.  The bug where it makes the app unusable is a separate thing

[2016-04-02 14:51] MarshallOfSound commented on #876
This is due to how your AUR package works I believe.  Because it builds from source the last.fm API keys that I distribute with all the other packages aren't set.

You can register your own API keys and set the correct environment variables if you want to use them :+1:

[2016-04-02 14:51] #876 closed

[2016-04-02 15:31] epjaeger commented on #873
Ok got it.  The key combo mapping I made seems to be working fine so I'll
take it for now.  :)

If for some reason you're interested in resolving this or learning more
about the MS behaviors, I do have an old ergo 4000 with a squeaky spacebar
that I could send to you but shipping is damn near as expensive as the
keyboard itself!

On Fri, Apr 1, 2016 at 9:02 PM, Samuel Attard <notifications@github.

[2016-04-02 16:57] ThurnisH41ey opened #878 "Mouse button 4 still not working for back"
**OS: Arch Linux 4.4.5**

**Issue Descriptions: Though the changelog said that mouse button back should be working, I am still experiencing no response when pressing mouse button 4 to go back.**

**Steps to Reproduce: Open gpmdp, click on an album, press mouse button 4.**

[2016-04-02 17:02] jostrander commented on #878
Mouse button 4? Can you open `xev` and send me the output of your back button?

[2016-04-02 17:09] adinklotz opened #879 "Feature Request: Ability to download a song an unlimited number of times, like in Chrome"
In Google Chrome, Google Play Music allows you to download a song or album as mp3 any number of times, provided you have the Play Music extension.  In any other browser, and in GPM Desktop Player, there is a limit of 2 downloads per song.  If possible, it would be nice to remove that limit for the desktop player.  [(Here's what Google says about music downloads)](https://support.google.com/googlep

[2016-04-02 17:39] jostrander commented on #879
Just out of curiosity, what is the use case for this?

[2016-04-02 17:41] highstrike commented on #682
:cry: :cry: :cry:

[2016-04-02 17:44] adinklotz commented on #879
You can listen offline, or you can transfer the files to an mp3 player that doesn't have Play Music. Maybe other uses, but those are the 1st that come to mind

[2016-04-02 18:31] jbrr18 opened #880 "Feature Request: About section detailing version number etc"
Just checked out the new website today and noticed latest version is v3.1.0
Went to check what version I have but there appears to be now way to check this. Would be very nice to have a small about section with the current version number, check for updates button (I know this is done automatically), link to the website etc

Just a small bit of added info, not really affecting functionality or anyt

[2016-04-02 18:49] jostrander commented on #879
The likelihood of this being implemented is pretty slim, it's not a simple flag that can be switched on the GPM page. The chrome extension loads in the native binaries for music manager and quite a bit of code in order to make this happen which would be tough to reimplement.

[2016-04-02 21:01] davorb commented on #878
https://gist.github.com/davorb/aa1fce1678e49b4abd8ab312cc0b8bc4

[2016-04-02 21:06] jostrander commented on #878
@davorb Is your back button not working either? Are you using the master build?

[2016-04-02 21:27] Nealon01 opened #881 "Uncaught Exception: Attempting to call a function in a renderer window that has been closed or released. Function provid"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.0.1
**Time:** Sat Apr 02 2016 17:27:15 GMT-0400 (Eastern Daylight Time)

#### Error:
*Attempting to call a function in a renderer window that has been closed or released. Function provid*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-02 21:29] jostrander commented on #881
You are running an outdated version, please update to 3.1.0.

[2016-04-02 21:30] GPMDP-Magical-Unicorn commented on #881
Closing this automatically reported issue as a duplicate of #470

[2016-04-02 21:30] #881 closed

[2016-04-03 03:16] SicariusNoctis opened #882 "Feature Request: Mouseless searching"
My apologies for the repost, but I'm not sure if you saw this:

Is it possible to put the cursor on the search box at startup?

[code]

Or alternatively, the ability to bind a keyboard shortcut (Ctrl+F) to the search box:

[code]

Thanks

[2016-04-03 03:48] DanielWEWO opened #883 "Installation Failed on Fedora 23"
**OS:**
Fedora 23
4.4.6-300.fc23.x86_64

**Issue Descriptions:**
Installation through software center fails with error message "Sorry, this did not work; Installation of An electron wrapper for Google Play Music failed."

**Steps to Reproduce:**

Download 64 bit .rpm from https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/releases, double click to attempt to install wi

[2016-04-03 04:11] MarshallOfSound commented on #883
Did you try installing with the `--allowerasing` flag as the error suggests?

I think I've seen this before and that flag fixed it.

[2016-04-03 04:12] MarshallOfSound commented on #879
@adinklotz As has been pointed out by @jostrander there is a whole load of compiled code that is part of that chrome extension and unfortunately I can't replicate it.

[2016-04-03 04:12] #879 closed

[2016-04-03 04:13] MarshallOfSound commented on #875
Does this issue occur in chrome?

I think this is just because of how touch screens, they don't have a concept of "hover" so tapping once triggers the hover event.

[2016-04-03 05:11] DanielWEWO commented on #883
Yeah, if you look closer you can see that I tried it again with that flag, sorry for the bad formatting.

`[dlynch@localhost Downloads]$ sudo dnf install google-play-music-desktop-player-3.1.0.amd64.rpm --allowerasing Error: package google-play-music-desktop-player-3.1.0-1.amd64 is not installable`

[2016-04-03 05:20] jostrander commented on #883
I mean quite honestly it's a pretty vague error, what's it conflicting with? FWIW, triple back ticks on the line before and after will avoid line breaks.

[code]

[2016-04-03 05:28] DanielWEWO commented on #883
Thanks. Yeah, it is really vague and I'm not sure what's conflicting it's actually a relatively new Fedora installation. I tried installing with the verbose option and it didn't give any more information.

[2016-04-03 05:36] jostrander commented on #883
Can you try running with `--verbose` ?

[2016-04-03 05:39] DanielWEWO commented on #883
Other than my issues with repos lol, the output is the same.

[code]

[2016-04-03 05:41] jostrander commented on #883
I'm not an expert in fedora, but doesn't dnf get packages from repositorys and `rpm -i` installs them?

[2016-04-03 05:51] DanielWEWO commented on #883
dnf should work for local files, but I just tried with rpm -i and it worked! Thanks guys. I don't know why dnf wouldn't work though.

[2016-04-03 05:56] MarshallOfSound commented on #883
**Mystical ways of linuxy things*

[2016-04-03 05:56] #883 closed

[2016-04-03 06:07] #197 closed

[2016-04-03 06:07] #850 closed

[2016-04-03 06:07] #877 closed

[2016-04-03 06:07] #880 closed

[2016-04-03 06:07] #882 closed

[2016-04-03 12:31] st33ly commented on #875
Thanks for getting back to me so quickly!

Chrome behaves fine, I was using it briefly before I discovered your app. As I don't think the direct screen capture showed it off so well, I've recorded a video which shows a comparison between chrome and GPMDP.

Hope this helps, let me know if you need any more info

https://youtu.be/Yeh6WmNNjtE

Cheers

[2016-04-03 17:30] norenkonikita opened #885 "Thanks for the suggestion. But I have an issue with a white screen."
Linux Mint 17.3

I downloaded the .deb package with this githab. Install and open the player, I introduced the e-mail, password, and after my phone came sms with the code is authenticated two-stage player screen just white.

You can see my player on the screenshot. By the way, this bug appeared only in the new version, a week ago it worked.
#
![screen](https://cloud.githubusercontent.com/assets/13

[2016-04-03 17:47] jostrander commented on #885
So I'm assuming  you did try the `--disable-gpu` flag?

[2016-04-03 17:51] norenkonikita commented on #885
Thanks, it helped me. Everything is working.

[2016-04-03 17:51] #885 closed

[2016-04-03 18:03] kevincox opened #886 "Lyrics API can perform XSS attack."
[The recent added lyrics code](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/commit/ea917df658e4ce447cae870c6ce4dea40ae988ff#diff-1f78092df3330f593ead79d0d745d4deR18) opens the user to an XSS attack by the lyrics API. There is no reason to have this risk. Instead the received lyrics should be escaped properly.

@MarshallOfSound

[2016-04-03 18:09] jostrander commented on #886
I'll see if I can't push a fix for this in the next few minutes, unfortunately it will be stuck as a PR until it's approved.

[2016-04-03 18:14] kevincox commented on #886
Thanks @jostrander. A PR is better then no work being done :)

[2016-04-03 18:36] jostrander commented on #886
Actually it appears that all script tags and comments are removed via regex here:

https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/src/main/features/core/lyrics.js#L10

[2016-04-03 18:43] kevincox commented on #886
I don't think that completely does. It is just trying to extract the lyrics. Also call me paranoid but I don't trust a one-off regex that was designed to do something else. An explicit html escape sounds like a really good idea.

[2016-04-03 18:52] jostrander commented on #886
Fair enough, I'll import node xss and filter it.

[2016-04-03 18:54] kevincox commented on #886
Thanks. Also POC:

[code]

[2016-04-03 19:21] jostrander commented on #886
That should do it, used a purpose built xss library that allows whitelisting, and whitelisted only formatting tags such as strong/em/br.  Let me know if you see anything wrong on the PR itself.

[2016-04-03 20:15] jostrander commented on #878
Okay I need some more input from either of you before I can fix anything here.  @davorb You are registering key 8 as back, which is the correct key so everything should be working. @ThurnisH41ey If you have mouse button 4 registered as the back button, what mouse are you using? Buttons 4 and 5 are usually the scroll wheel.

[2016-04-03 23:46] #886 closed

[2016-04-04 00:27] knlin opened #888 "Uncaught Exception: Could not get code signature for running application"
An uncaught exception was reported.
#### Info:
**OS:** darwin
**Arch:** x64
**GPMDP Version:** 3.1.0
**Time:** Sun Apr 03 2016 20:26:56 GMT-0400 (EDT)

#### Error:
*Could not get code signature for running application*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-04 00:31] GPMDP-Magical-Unicorn commented on #888
Closing this automatically reported issue as a duplicate of #370

[2016-04-04 00:31] #888 closed

[2016-04-04 04:03] ThurnisH41ey commented on #878
ButtonPress event, serial 32, synthetic NO, window 0x1800001,
    root 0x1d1, subw 0x0, time 7961025, (577,684), root:(591,740),
    state 0x10, button 8, same_screen YES

ButtonRelease event, serial 32, synthetic NO, window 0x1800001,
    root 0x1d1, subw 0x0, time 7961149, (577,684), root:(591,740),
    state 0x10, button 8, same_screen YES

[2016-04-04 04:03] ThurnisH41ey commented on #878
Maybe it's not MB4 then. I'm using a Mionix Naos 7000

[2016-04-04 04:07] pgera opened #889 "Is it possible to integrate ublock origin ?"
ublock origin is a wide spectrum blocker with extensions for chromium and firefox. Are chromium and electron's APIs similar enough that it can be ported to work with this ?

[2016-04-04 04:32] MarshallOfSound commented on #889
My question here is why?  It's not like Google Play Music has ads on it?

[2016-04-04 04:32] MarshallOfSound commented on #889
Oops, misclick

[2016-04-04 04:33] pgera commented on #889
It does. Perhaps you are using a pro account ?

[2016-04-04 04:37] MarshallOfSound commented on #889
Hmmmm, interesting.  I do indeed have an All Access account and perhaps that is killing the ads for me.

As for integrating uBlock origin, unfortunately the chrome extension API's and electron API's are incompatible.  I would suggest using a system level ad blocker if blocking these ads is a major thing for you.

[2016-04-04 04:37] #889 closed

[2016-04-04 04:50] jostrander commented on #878
I'm not sure how the package system works on arch, etc, but is it possible for you to run this from shell and capture the output? The native module should be spitting out an error if the window is failing to register. Other than that I'm not sure specifically what would be causing the issue, as you both have mouse button 8 triggering xev.

[2016-04-04 12:15] slipperydippery opened #890 "Uncaught Exception: Attempting to call a function in a renderer window that has been closed or released. Function provid"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.0.1
**Time:** Mon Apr 04 2016 14:15:17 GMT 0200 (West-Europa (zomertijd))

#### Error:
*Attempting to call a function in a renderer window that has been closed or released. Function provid*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-04 12:15] GPMDP-Magical-Unicorn commented on #890
Closing this automatically reported issue as a duplicate of #470

[2016-04-04 12:15] #890 closed

[2016-04-04 12:18] MarshallOfSound commented on #890
Please restart the app and accept the update.  The latest version is `3.1.0`.  This issue has been fixed

[2016-04-04 13:40] smiller171 opened #891 "feature request: add "I'm Feeling Lucky" button to mini player (like the official mini player)"
**OS:**
OSX

**Issue Descriptions:**
When in the mini player, there is no "I'm Feeling Lucky" Button. I often use this in the official mini player and would like to have the feature in your app.

**Steps to Reproduce:**
Go to mini player, witness that there is no "I'm Feeling Lucky" button

[2016-04-04 14:45] EvilMilkshake opened #892 "Uncaught Exception: Could not get code signature for running application"
An uncaught exception was reported.
#### Info:
**OS:** darwin
**Arch:** x64
**GPMDP Version:** 3.1.0
**Time:** Mon Apr 04 2016 10:44:54 GMT-0400 (EDT)

#### Error:
*Could not get code signature for running application*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-04 14:46] GPMDP-Magical-Unicorn commented on #892
Closing this automatically reported issue as a duplicate of #370

[2016-04-04 14:46] #892 closed

[2016-04-04 14:55] MarshallOfSound commented on #891
Please raise this over at https://github.com/MarshallOfSound/gmusic-mini-player.js/issues

[2016-04-04 14:55] #891 closed

[2016-04-04 14:58] smiller171 commented on #891
Thanks. Didn't realize there were two repos

[2016-04-04 14:58] smiller171 commented on #891
Issue moved to [MarshallOfSound/gmusic-mini-player.js #6](https://github.com/MarshallOfSound/gmusic-mini-player.js/issues/6) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-04-04 15:47] christopherrobin commented on #850
I attempted to reproduce on OSX without luck, if anyone finds a reliable way to throw this error let me know please, thanks

[2016-04-04 16:59] MarshallOfSound commented on #890
@slipperydippery Could you please also upload the file found at `%LOCALAPPDATA%\GPMDP_3\SquirrelSetup.log` on your computer.  I am trying to determine why some users aren't updating

[2016-04-04 17:00] MarshallOfSound commented on #881
@Nealon01 Could you please also upload the file found at %LOCALAPPDATA%\GPMDP_3\SquirrelSetup.log on your computer. I am trying to determine why some users aren't updating

[2016-04-04 17:00] MarshallOfSound commented on #863
@rickwastaken Could you please also upload the file found at %LOCALAPPDATA%\GPMDP_3\SquirrelSetup.log on your computer. I am trying to determine why some users aren't updating

[2016-04-04 17:00] MarshallOfSound commented on #856
@Arsenalist Could you please also upload the file found at %LOCALAPPDATA%\GPMDP_3\SquirrelSetup.log on your computer. I am trying to determine why some users aren't updating

[2016-04-04 17:00] MarshallOfSound commented on #854
@Drat333 Could you please also upload the file found at %LOCALAPPDATA%\GPMDP_3\SquirrelSetup.log on your computer. I am trying to determine why some users aren't updating

[2016-04-04 17:37] roryhewitt commented on #387
@jostrander since you implemented this as a secret setting, does this mean that in order to be able to see it, I have to download the source and build it on my machine?

[2016-04-04 17:53] rgoliveira commented on #387
@roryhewitt no. That only means there's no visual option in the app. You have to set it by hand on the config file (on Windows it's `%USERPROFILE%\AppData\Roaming\Google Play Music Desktop Player\json_store\.settings.json`).

[2016-04-04 17:56] roryhewitt commented on #387
@rgoliveira

Groovy :)

[2016-04-04 17:56] rgoliveira commented on #387
It'll look like this:
![image](https://cloud.githubusercontent.com/assets/1731173/14257727/6ec29f96-fa75-11e5-8ae6-1a9e6d7578de.png)

[2016-04-04 18:13] roryhewitt commented on #387
Works for me. I am a happy bunny :)

[2016-04-04 19:21] rickwastaken commented on #863
Hello,

I've attached the document you requested.  Is there a manual way to update
the app? Or should I just uninstall and reinstall a newer version?

Thanks,
Rick

On Mon, Apr 4, 2016 at 10:00 AM Samuel Attard <notifications@github.com>
wrote:

[2016-04-04 19:24] jostrander commented on #863
I don't think email attachments work with Github, could you post it to https://gist.github.com?

[2016-04-04 19:47] jostrander commented on #878
Stable builds should fix this in the future, aka `gpmdp-git` in AUR because it's pre-built by Circle CI. The current non-stable branch on the AUR (aka `google-play-music-desktop-player-git`) won't build correctly until all the dependencies have been met, which are not present in PKGBUILD.

[2016-04-04 22:32] theforkofyork opened #893 "Error when opening the installer"
**OS:**
Windows 7 64 Bit
**Issue Descriptions:**
When opening the installer there's an error which is:

A JavaScript error occured in the main process
Uncaught Exception:
SyntaxError: Unexpected Token

**Steps to Reproduce:**
Open the V3.1.0 installer

[2016-04-04 22:35] jostrander commented on #893
Are you running it as administrator?
Do you have a previous installation of gpmdp?
Do you have UAC enabled?

Can you gather the full log from `%LOCALAPPDATA%/GPMDP_3` ?

If all else fails, can you try deleting the following folders and attempt to reinstall?

* %APPDATA%\Google Play Music Desktop Player
* %LOCALAPPDATA%\GPMDP_3

[2016-04-04 22:40] theforkofyork commented on #893
Deleting the %APPDATA%\Google Play Music Desktop Player and %LOCALAPPDATA%\GPMDP_3 files fixed it, thanks.

[2016-04-04 22:40] #893 closed

[2016-04-04 22:54] rickwastaken commented on #863
Here's a link to the log file:
https://gist.github.com/rickwastaken/c659c5a9fe75ecb3db274222bf6c288c

On Mon, Apr 4, 2016 at 12:24 PM Jesse Ostrander <notifications@github.com>
wrote:

[2016-04-05 00:30] MarshallOfSound commented on #863
@rickwastaken You can manually update the app by simply running the `3.1.0` installer (you can download it from the website).

Can you try accessing http://update.googleplaymusicdesktopplayer.com/api/versions and tell me what you get.

[2016-04-05 00:35] MarshallOfSound commented on #863
Also @rickwastaken do you use a proxy of any kind or a VPN?

[2016-04-05 01:02] BrianAllred commented on #878
@jostrander I maintain both AUR packages. Could you specify what I'm missing in the non-stable package? It builds, installs, and runs for me, though I don't have enough mouse buttons to test this functionality.

[2016-04-05 01:45] jostrander commented on #878
Currently in order for the mouse functionality to be built, the libx11-dev (ubuntu) package equivalent needs to be present, or at the very least the X11 headers for both 32 and 64 bit. I tried searching but I'll be honest my Arch knowledge is pretty slim. The stable build as I said is fine because you're pulling the pre-built deb which is built with all the dependencies.

This is the build error I

[2016-04-05 01:59] jostrander opened #894 "Allow for specific linux builds."
The build tooling should allow a package to be built for any one specific distribution so specific packages can be built without building for both architectures. Thoughts? This would specifically help the Arch community out so they can clone, build and update via AUR without needing both architecture libraries available.

[2016-04-05 02:01] BrianAllred commented on #878
Yep, looks like it won't build on a fully 32-bit or 64-bit system due to the build process building both by default. If you're running on a 64-bit Arch installation, edit /etc/pacman.conf, uncomment the multilib repository, and install gcc-multilib. This should allow you to build and install.

Sadly, because of the way Arch works, this effectively limits the package's compatibility to the subset o

[2016-04-05 02:05] jostrander commented on #878
Well unfortunately the mouse uses my custom built node native module to capture buttons 8 and 9 for the gpm window because electron doesn't capture them, and if that fails to build the deb will still continue because its only an optional dependency, but the buttons won't work. I was able to get the master branch to build from master and work with my mouse, but couldn't get you're pkgbuild to build

[2016-04-05 02:07] BrianAllred commented on #894
As stated over on issue [878](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/878), building both architectures by default limits those who want to build from source to 64-bit distributions with multiarch/multilib enabled only. Not limited to just Arch, either.

[2016-04-05 02:09] BrianAllred commented on #878
Gotcha. If you uncomment the multilib repository and run `sudo pacman -Syy gcc-multilib`, you should be good to go to use my PKGBUILD. Would you then be able to see if your module is being built?

[2016-04-05 02:32] jostrander commented on #878
I will spin up the VM and see what I can do, if you don't mind, where am I uncommented multilib?

[2016-04-05 02:35] BrianAllred commented on #878
in `/etc/pacman.conf` there should be two lines that look like

[code]

Uncomment those, then run `sudo pacman -Syy gcc-multilib`. Should be good. Note that I've not ever combined -Syy with a package name, so if that doesn't work, try `pacman -Syy` and then `pacman -S gcc-multilib`.

[2016-04-05 03:58] jostrander commented on #878
Still missing X11 dev headers in the master build processes:

[code]

[2016-04-05 04:07] jostrander commented on #878
However mouse buttons are working without issue for me now via AUR.

@ThurnisH41ey @davorb can you update your packages and see if it fixes the issue?

[2016-04-05 04:13] chrisjackson4256 opened #895 "Uncaught Exception: ENOENT: no such file or directory, open '/home/chris/GPMDP_STORE/playback.json'"
An uncaught exception was reported.
#### Info:
**OS:** linux
**Arch:** x64
**GPMDP Version:** 3.0.0
**Time:** Mon Apr 04 2016 23:11:46 GMT-0500 (CDT)

#### Error:
*ENOENT: no such file or directory, open '/home/chris/GPMDP_STORE/playback.json'*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-05 04:20] jostrander commented on #895
You are using a way outdated version, could you please download and update to 3.1.0?

[2016-04-05 04:32] chrisjackson4256 commented on #895
thanks... didn't realize my version was so out of date.  it had been working great until tonight.

[2016-04-05 04:33] jostrander commented on #895
Mostly feature updates, but also a lot of bug fixes, especially for linux ;)

On Tue, Apr 5, 2016 at 12:32 AM, Chris Jackson <notifications@github.com>
wrote:

[2016-04-05 04:35] chrisjackson4256 commented on #895
it's a great little app... i love it.  thanks again.

On Mon, Apr 4, 2016 at 11:33 PM, Jesse Ostrander
<notifications@github.com> wrote:

[2016-04-05 04:49] #895 closed

[2016-04-05 04:50] MarshallOfSound commented on #894
Hmmm, interesting.  This was always a design decision based of the assumption that we would never be building one without the other (I was not aware of AUR at that point).

I guess I'll have to figure out how to split them up without parrerellizing them :thought_balloon:

[2016-04-05 04:52] jostrander commented on #894
Well at any rate, if someone were to clone this on a 32 bit system and try building they would have to also sit through the 64 bit build as it failed horribly, so separating it out would benefit in that sense.

[2016-04-05 06:48] maxiSchaeff opened #896 "Feature Request: Background Audio"
Hi, is there a way to keep the music playing in connected standby when the screen is turned off? :)
In Chrome this is possible by running the program with the -enable-exclusive-audio flag.
Thank you!:D

[2016-04-05 07:08] MarshallOfSound commented on #896
The only workaround for this (I have looked into this before) is to use the `enable-exclusive-audio` flag but that flag blocks other programs from using the audio device which is not something you really want a music player to do.

So not really, no :cry:

[2016-04-05 07:08] #896 closed

[2016-04-05 09:12] RazvanRotari commented on #626
For me on Linux it the keys from the headset work only if I focus the "Desktop settings" window. I've tried with Play, Next and previous.

It is possible to make them global? I know that nuvola player has this functionality and it's really great.(For normal key at least)

The headset is PHILIPS SHB3060BK/00
OS:14.04.1-Ubuntu

[2016-04-05 10:04] bencprezola opened #897 "Mic is always open and app is uploading at about 16KB/s !!"
**OS:**
Linux

**Issue Descriptions:**
My mic is my webcam, and I noticed that whilst the app is running, the LED is on. Turns out GPMDP is using the mic for some reason. Also just as worrying, there is a consistent upload of 16KB/s whilst the app is running. This screams security issue.

**Steps to Reproduce:**
Run the app on linux and watch network and mic usage.

[2016-04-05 10:08] MarshallOfSound commented on #897
Have you got voice controls turned on?

[2016-04-05 10:09] bencprezola commented on #897
Yep. Sorry to have wasted your time and called this out as a security issue. Feel quite stupid now :P

[2016-04-05 10:09] #897 closed

[2016-04-05 10:15] MarshallOfSound commented on #897
Looool its ok.  Just blame it on the cat next door and have an :eggplant:

[2016-04-05 13:02] greenwald opened #898 "Can't set hotkeys in Ubuntu"
OS: Ubuntu 14.04.4

In the setting menu under Hotkeys I cannot actually set the hotkeys. I can seemingly select which one I want to set (the text highlights), but there is no response to typing.

[2016-04-05 13:06] MarshallOfSound commented on #898
Click in the hotkey box you want to set.  Try performing the hotkey.

An example is "Cntrl + Shift + E".  I know this works on Ubuntu because I have tested it :+1:

[2016-04-05 13:06] #898 closed

[2016-04-05 13:10] greenwald commented on #898
Ah, yes, indeed. Sorry. So I take it one cannot use the F# keys as hotkeys, nor function + (something) keys? It seems to only respond to ctrl + (something).

[2016-04-05 13:13] MarshallOfSound commented on #898
Yeah, there are some limitations at the moment.  See #413

[2016-04-05 14:39] nilsjha commented on #847
@MarshallOfSound In my case, at issue #861 (a duplicate of this issue) the problem occurs when I'm adjusting the audio level with the volume keys on my HP multimedia keyboard (model KB 38211). The level adjusts accordlingly in Windows ( as normal ), but the UI for GPMDP reports an uncaught exception if the window of GPMDP is selected in Windows..

The problem is not really a problem, but more sort

[2016-04-05 15:45] MarshallOfSound commented on #873
OK so I have looked into this as much as I can and as far as I can tell the Microsoft Mouse and Keyboard Centre application remaps keys at a software level and then sends fake key events to applications.  The problem with this approach is that global hooks method we use for MediaPlayPause does not work at the software level but closer to the driver level (we intercept raw vkCodes).

TLDR: This iss

[2016-04-05 15:45] #873 closed

[2016-04-05 15:52] MarshallOfSound commented on #604
OK so I originally typed out a massive response to this issue, but then my laptop died so know you get this tiny response :+1: :laughing:

Although everything you request is technically feasible.  The hackiness required to make it work (simulating clicks on a bunch of DOM elements) is ridiculous and not something I really want to push when this "feature" has a very limited use case.  Especially wh

[2016-04-05 15:52] #604 closed

[2016-04-05 15:55] epjaeger commented on #873
Ok thank you for follow up!   If you have other users in my situation
asking for a fix, just tell them to map the keys to ctrl+shift or ctrl+alt
shortcuts in MS Keyboard Center, and then map those shortcuts in your GPMDP
Hotkeys configuration.  Seems to work just fine for me.

[2016-04-05 16:05] MarshallOfSound commented on #873
Will do

Sorry there's not much more I could do

[2016-04-05 16:46] shakehar commented on #871
Amazon music player for windows does this. @jostrander It never occurred to me that electron might not expose such an event. @MarshallOfSound if possible this could be a setting that the user can toggle of/on

[2016-04-05 16:59] berryelectronics opened #899 "Error when starting GPMDP (also after fresh install of it)"
[Link of an Image of the error](http://puu.sh/o79vP/76ebd854a3.png)

So i tried to start GPMDP again aand got this error message saying that there is an error with javascript. deinstalled it, deleted the appdata folder of GPMDP and installed it again. same error

OS: Windows 10

Dont know how to reproduce, not sure what the problem is.

[2016-04-05 17:13] ajacobson commented on #857
On OS X this could work like iTunes via the "Window" menu in the menubar.  I don't know how feasible this approach would be on other platforms.  Even if this shortcut isn't visible from any menu, it would be great if there was a keyboard shortcut to toggle between the two modes.

![screen shot 2016-04-05 at 1 01 50 pm](https://cloud.githubusercontent.com/assets/617552/14290939/11660710-fb2f-11e5-8

[2016-04-05 17:25] Alipoodle commented on #857
I Was thinking of something similar to that.

[2016-04-05 19:51] stasfilin opened #900 "[ArchLinux] Error when Login"
OS: ArchLinux
Application Version: installed: 3.1.0.29.gbbe5111-1

Hi, so I have a blank screen when I try to login to the program.
Maybe it's 'cause I'm using 2-Step Verification?

A summary of the issue:

1. Start Program
2. Click login button
3. Use my email
4. Use my password
5. Then i have white screen, but google send me sms code.

[2016-04-05 20:08] jostrander commented on #900
Try with --disable-gpu
On Apr 5, 2016 3:52 PM, "Stanislav Filin" <notifications@github.com> wrote:

[2016-04-05 20:23] stasfilin commented on #900
@jostrander thanks, It's working for me

[2016-04-05 20:23] #900 closed

[2016-04-05 20:40] davorb commented on #878
Hey,

Sorry for the late reply @jostrander. I just built it on my machine (Ubuntu 15.10) and it works great.

Thanks!

[2016-04-05 21:17] slipperydippery commented on #890
Sorry for the late response.
Hope this helps, love the app!

[SquirrelSetup.log.txt](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/files/205368/SquirrelSetup.log.txt)

[2016-04-05 22:20] jostrander commented on #890
Server error translated:

The remote server returned an error: (403) Not allowed .

@marshallfsound, can you check k server logs or do you see anything
obviously wrong with the request?
On Apr 5, 2016 5:18 PM, "slipperydippery" <notifications@github.com> wrote:

[2016-04-05 22:48] BrianAllred commented on #878
@jostrander

Little late, but wanted to let you know I added libx11 dependencies to the unstable pkgbuild as make dependencies.

[2016-04-06 01:29] MarshallOfSound commented on #890
@slipperydippery Do you use a proxy of any kind?

@jostrander That was only the first error and has since been fixed server side, as you can see in the logs an update succeeded after those errors.  The new error translated is `The remote name could not be resolved` which is the same as all the others who can't update.  The current theory is a proxy getting in the way

[2016-04-06 01:34] MarshallOfSound commented on #878
@BrianAllred @jostrander Can I close this issue now considering the AUR's packages now build?

We can watch #894 for further progress

[2016-04-06 01:38] MarshallOfSound commented on #899
Could be a permissions error / bad install.  Can you redownload the installer from https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/releases and try a clean install

[2016-04-06 01:51] BrianAllred commented on #878
@MarshallOfSound Yes, I can confirm the back and forward shortcuts work using the AUR package. Found a mouse with enough buttons, lol.

[2016-04-06 01:58] jostrander commented on #878
I think it would be safe to close this issue and track #894 for future updates as the mouse buttons were only a side effect.

[2016-04-06 02:05] #878 closed

[2016-04-06 02:24] gustavowd opened #902 "Universal Windows App being considered?"
Have you ever considered to implement a universal app for google music player? Windows 10 mobile lacks a good google music client. An universal app could fulfil this gap, as well as produce a universal app for PCs, tablets and smartphones.

[2016-04-06 02:45] MarshallOfSound commented on #902
I believe there was an issue raised for this somewhere else.  But the TLDR is that the framework we use (electron) does not support UWA

[2016-04-06 02:45] #902 closed

[2016-04-06 03:03] mikelcarr92 opened #903 "Feature Request: Cache playlists/albums, similar to the android app"
The little orange tick!

[2016-04-06 03:03] jostrander commented on #903
Unfortunately this is not something that can be done on desktop period. There is no API for it. @MarshallOfSound this should be added to the FAQ.

[2016-04-06 03:13] HeyItsJono opened #904 "Unable to adjust individual volume settings in Windows Volume Mixer"
**OS:** Windows 8.1

**Issue Descriptions:** The option for GPMDP in the Windows Volume Mixer is incorrectly displayed and doesn't have a slider to adjust the volume. [Screenshot.](http://i.imgur.com/9Tbp3Rr.png)

**Steps to Reproduce:** Simply open the Windows Volume Mixer from the system tray and scroll to the GPMDP option.

[2016-04-06 03:16] jostrander commented on #904
Known issue, see #848.

[2016-04-06 03:18] HeyItsJono commented on #904
Oops, my bad, didn't see that.

[2016-04-06 03:18] #904 closed

[2016-04-06 03:36] MarshallOfSound commented on #903
@jostrander Indeed it should :+1:

[2016-04-06 03:36] #903 closed

[2016-04-06 05:13] MarshallOfSound commented on #845
@mmazzarolo I just pushed an update to the websocket api that includes `change:repeat` and `change:shuffle`

[2016-04-06 05:22] MarshallOfSound commented on #845
@mmazzarolo Also do you want / need theme endpoints for the WebSocket API.  So that the remote can have the same theme colors as the main application

[2016-04-06 06:20] mmazzarolo commented on #845
@MarshallOfSound thanks!
Yes, the theme color API endpoint sounds cool and I can implement that function easily :)

[2016-04-06 08:07] Dazzel opened #905 "Show play status in tray icon"
It would be great if the tray icon changes based up on the current state of the player:

* playing
* paused
* stopped

[2016-04-06 08:10] jostrander commented on #905
Just need new tray icons to be made with the overlay, assuming playing/paused only and stopped would be the normal icon.

[2016-04-06 08:30] MarshallOfSound commented on #845
@mmazzarolo You can also see progress on getting queue and playlist handling methods over at this issue

https://github.com/gmusic-utils/gmusic.js/issues/36

[2016-04-06 11:04] wengole opened #906 "Cinnamon sound applet shows "Unknown" for track information"
**OS:**
Arch Linux - Cinnamon DE

**Issue Descriptions:**
Although the cinnamon sound applet recognises GPMDP is playing music, and the controls work, the track information is missing. See screenshot
![menu_008](https://cloud.githubusercontent.com/assets/383857/14314504/7ba6d422-fbef-11e5-9578-b599891927b2.png)

**Steps to Reproduce:**
Using cinnamon DE, enable Playback API and start music. Notifi

[2016-04-06 11:08] MarshallOfSound commented on #906
@jostrander Not sure what could be going on here

[2016-04-06 11:44] slipperydippery commented on #890
@MarshallOfSound I sometimes use a VPN, but it's currently off. If I try restarting the app, the error persists. Should I try reinstalling manually?

[2016-04-06 15:02] jostrander commented on #906
@wengole Can you verify the info is available over dbus with the following command:

[2016-04-06 15:34] SpectralKH opened #907 "[Enhancement] Keep search bar in focus upon auto-searching"
So, if you wait long enough, and you have some text in the search field, GPM will automatically search for you. When that happens, the search field gets out of focus - Which seems impractical. It doesn't look like there's any hotkey functions to execute once you've searched anyway. So having it focused would be useful, for example when I'm browsing through a podcast, checking if I've got all the s

[2016-04-06 15:37] wengole commented on #906
[code]

So yes the data is coming through. As I mentioned, the notifications on track change work and have album art and track info, it's just the applet, but to be fair I've never used the applet with any other media players, but it does seem unlikely it doesn't work at all :P

[2016-04-06 15:38] jostrander commented on #907
If I'm not mistaken about what you're saying you can either use the / key
or ctrl+f (cmd f) to refocus the search field without having to click.
On Apr 6, 2016 11:34 AM, "KH" <notifications@github.com> wrote:

[2016-04-06 15:42] jostrander commented on #906
It's not the first time I've seen the cinnamon applet failing to work... I
would verify other players show data and make sure your up to date. I know
there was a "better sound applet" floating around that had a lot of bugs
squashed that was a direct replacement, maybe that one will work correctly.
On Apr 6, 2016 11:37 AM, "Ben Cole" <notifications@github.com> wrote:

[2016-04-06 15:42] MarshallOfSound commented on #907
Both `Control + F` and `/` will focus the search box again.  I've discussed modification to the search box behavior in other issues.  Basically its a no go :+1:  Use the shortcuts :smile:

[2016-04-06 15:42] #907 closed

[2016-04-06 15:43] SpectralKH commented on #907
@jostrander I originally assumed that CMD+F worked, but nothing happens when I use it. / does not work either, as it opens a keybord shortcuts cheat sheet.

[2016-04-06 15:54] wengole commented on #906
So it works with Banshee
![menu_009](https://cloud.githubusercontent.com/assets/383857/14323360/2324f936-fc18-11e5-84f1-b3490f62964a.png)
I did try [this](https://cinnamon-spices.linuxmint.com/applets/view/150) but although it worked, the controls were unusable.

[2016-04-06 15:58] wengole commented on #906
If it helps, this is the dbus output from Banshee switching tracks

[code]

[2016-04-06 15:58] jostrander commented on #907
The forward slash shouldn't bring up the menu unless you're holding shift.
As far as command F that should be working. Can you send a screen shot of
what's loaded when you try either?
On Apr 6, 2016 11:43 AM, "KH" <notifications@github.com> wrote:

[2016-04-06 16:00] MarshallOfSound commented on #907
@jostrander Thinking about it "Command + F" is implemented in master not in a release version yet :cry:

[2016-04-06 16:01] wengole commented on #906
The only difference I can see is that artist and albumArtist are arrays from Banshee (and that there's no albumArtist in GPMDP)

[2016-04-06 16:10] jostrander commented on #906
Good eye, listed here in the spec it is supposed to be an array:

https://www.freedesktop.org/wiki/Specifications/mpris-spec/metadata/#index6h4

I bet the JS in the applet is attempting to iterate over the string via loop and its breaking. I'll see if I can fix this and have a change pushed shortly.

[2016-04-06 16:13] jostrander commented on #907
Ah yep. Confusing at times when there are multiple release patterns for each OS. So no command+f yet. Sorry @SpectralKH. However as stated `/` should work as its a native GPM key.

[2016-04-06 16:13] wengole commented on #906
In fairness, I put it through a diff tool which helped :package:

Awesome if you can fix it soon, I can pull and test straight away

[2016-04-06 16:16] beall49 opened #908 "White screen on start up"
I received a white screen yesterday during playback. I closed and restarted, then reinstalled the app. I've reinstalled after uninstalling then downloading and cleaning out the old folders and still white screen on every launch.

Windows 7 X64.

Here's the SquirrelSetup.log file, it appears to be having an issue with a .squirrel-lock file. I've tried to recreating that file, but it deletes it agai

[2016-04-06 16:21] jostrander commented on #906
Looks like I might have an upstream issue to fix ith how arrays of strings are handled. This is more than a 30 second fix. :snail: In the mean time I will push my branch up to my repo and you can see if the current output works for you, but it broke my artist entry.

[2016-04-06 16:26] jostrander commented on #908
Looks like you already have an instance of squirrel running, can you verify everything is closed out via the task manager? I'm not entirely familiar with Squirrel windows, but I think it shares with other electron apps on the system hence the error `SingleGlobalInstance`.

@MarshallOfSound does that sound possible? If so apps like atom, slack, etc would need to be closed as well in order for squir

[2016-04-06 16:27] SpectralKH commented on #907
@jacobmischka @MarshallOfSound Awh, that sucks, got any ETA on the next release then?
However, / does not work for me. It just opens this menu here, which ironically also shows the search shortcut being /.
![screen shot 2016-04-06 at 18 27 21](https://cloud.githubusercontent.com/assets/11315492/14324476/39170ee8-fc25-11e5-803e-fdf58cc4651e.png)

[2016-04-06 16:31] MarshallOfSound commented on #908
Squirrel lock files should be independent of applications so other electron apps shouldn't be breaking this install.  Can you try deleting the lock file manually to try to reset it?

[2016-04-06 16:54] jostrander commented on #906
Actually, @wengole can you see if the fix-mpris-artist branch on my repo works for you? Here's what I'm getting in dbus when changing to an array:

[code]

and I think the variant type is causing an issue in gnome, but maybe it won't in cinnamon.

[2016-04-06 17:12] wengole commented on #906
This is what I'm getting now
[code]
And this is how the applet looks
![menu_010](https://cloud.githubusercontent.com/assets/383857/14325795/e1744180-fc22-11e5-8c30-30f6af39e395.png)

Weird that it's showing almost everything, but still complaining on the artist

[2016-04-06 17:13] wengole commented on #906
Also track progress is missing, and may be another issue with wrong type. You're sending a uint32 whereas Banshee was just using a int32, but let's focus on one thing at a time ;)

[2016-04-06 17:17] jostrander commented on #906
Heh, yeah its because variant is actually marshalled (encoded) to an object of sorts, so the underlying library is taking this:
[code]

[code]
instead of
[code]

Currently were using emersion/node-mpris, which is fine, but the underlying dbus library is the one at fault here, and its all written in CC since its native. There is a pure JS dbus library, but I'm not sure if its drop-in capable and/or

[2016-04-06 17:24] wengole commented on #906
Well I'm happy to run your branches if you need a tester. Figured out how to point PKGBUILD at a branch, and it's all good :smile:

[2016-04-06 17:38] jostrander commented on #906
I'm going to file a issue in the original dbus package, dbus-native is not a drop in replacement unfortunately and I don't want to have to rewrite the node-mpris module to make it work.

[2016-04-06 17:59] jostrander commented on #906
Issue raised: https://github.com/Shouqun/node-dbus/issues/120

[2016-04-06 18:03] MCManuelLP commented on #445
#909 should do it...

[2016-04-06 18:40] beall49 commented on #908
The lock file isn't even there....I tried creating it before install, and creating if after install with the player closed. In both instances the player deletes it (I'm guessing it deletes it)?

[2016-04-06 19:05] jostrander opened #910 "V8 Crash"
**OS:** Linux

**Issue Descriptions:**
[code]
**Steps to Reproduce:**
Unknown currently, this can be closed immediately, but I wanted to file it in case it comes up again.
_I was bug testing feature pause-after when this happened, could be GC error in that code possibly_

[2016-04-06 19:51] berryelectronics commented on #899
thanks. deleted roaming and local appdata folders of it and reinstalled the
3.1 version. works now. thank you :)
~berrylectronics

Samuel Attard <notifications@github.com> schrieb am Mi., 6. Apr. 2016 um
03:39 Uhr:

[2016-04-06 19:54] #910 closed

[2016-04-06 20:30] jostrander commented on #908
Do you have hidden files turned on when you're looking for that?

[2016-04-06 20:53] beall49 commented on #908
Yeah, there's always on (I checked again just to make sure). I uploaded some screenshots so you guys can see what my screen looks like. I turned off slack to see if that had anything to do with, uninstalled and reinstall and still no luck.

Question; if there was a network issue, do you think it could have anything to do with it? I haven't had anything else go wrong, but I don't control our web st

[2016-04-06 21:07] beall49 commented on #908
I connected to my phone, reinstalled and it started right up. It must be something web related....not sure if you can but maybe throw an error on a future update letting us know our network sucks. Sorry I wasted your time :|

FYI, your app rocks.

Thanks again for your help, I appreciate it.

[2016-04-06 21:07] #908 closed

[2016-04-06 21:10] jostrander commented on #908
Had a response half written out, but glad you got it! It's hard to say what it could have been, but the installer does connect and grab the nupkg from the releases page, as well as connect to @MarshallOfSound's website to query for the latest release, so could be one of those maybe.

[2016-04-07 00:37] bencmeyer opened #911 "Video button lays on top of thumbs up button in mini player"
Windows 10 64 bit Build 10586

When in the mini player, if the music playing has a video option, the video button lays over the thumbs up button regardless of size.

Play song that has a music video option.

![desktop player video icon](https://cloud.githubusercontent.com/assets/11997284/14336969/ffcbb0a8-fc2e-11e5-8449-a1991c710735.PNG)

[2016-04-07 00:39] bencmeyer commented on #911
I guess another issue is, if you click the video button... it starts playing within the app, but you can't control it from the mini player. Interesting.

[2016-04-07 01:27] BrianAllred commented on #906
@wengole I maintain the Arch packages, if you need help with the pkgbuild at all, shoot me a mention.

@jostrander @MarshallOfSound  Let me know if I can help at all. Also, if there's a way to auto-mention someone by keywords, I'm more than willing to get auto-notified of Arch bugs since they could definitely be related to my pkgbuilds.

[2016-04-07 02:29] #899 closed

[2016-04-07 02:30] MarshallOfSound commented on #910
@jostrander You should probably raise this against electron.  They love fixing V8 errors :laughing:

[2016-04-07 02:37] jostrander commented on #910
If you're being serious I will, but I don't even have a clue what caused it lol.

[2016-04-07 02:48] MarshallOfSound commented on #910
I have no idea what caused it but V8 errors shouldn't go unreported :+1:

Definitely raise it against electron

[2016-04-07 02:53] MarshallOfSound commented on #908
I tried running the application with a simulated speed of 10kb/s and with 0kb/s and couldn't replicate this issue.  Perhaps there was another underlying issue that fixed itself at around the same time you switched to your phone ? :laughing:

[2016-04-07 02:53] MarshallOfSound commented on #911
There is an open issue for this one on the mini player repository

[2016-04-07 02:53] #911 closed

[2016-04-07 03:39] Yages opened #912 "Uncaught Exception: Attempting to call a function in a renderer window that has been closed or released. Function provid"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.0.1
**Time:** Thu Apr 07 2016 13:39:20 GMT 1000 (AUS Eastern Standard Time)

#### Error:
*Attempting to call a function in a renderer window that has been closed or released. Function provid*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-07 03:50] GPMDP-Magical-Unicorn commented on #912
Closing this automatically reported issue as a duplicate of #470

[2016-04-07 03:58] MarshallOfSound commented on #912
@Yages Can you please send me a copy of your squirrel log file found at

`%LOCALAPPDATA%\GPMDP_3`

[2016-04-07 04:03] Yages commented on #912
Sure can, just tacked .txt on the end to keep GitHub happy.  I also noticed it had an update available when I restarted.
[SquirrelSetup.log.txt](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/files/207710/SquirrelSetup.log.txt)

[2016-04-07 04:05] GPMDP-Magical-Unicorn commented on #912
Closing this automatically reported issue as a duplicate of #470

[2016-04-07 04:05] #912 closed

[2016-04-07 04:19] jostrander commented on #912
The unicorn was not happy.

[2016-04-07 11:45] MarshallOfSound opened #913 "WebSocket API should implement some kind of zeroconf"
Looking at something like https://www.npmjs.com/package/polo

[2016-04-07 11:47] MarshallOfSound commented on #913
/cc @mmazzarolo From what I know of React Native you could use the polo module to discover correct?

[2016-04-07 12:24] mmazzarolo commented on #913
I'm at work right now so I can't investigate further but it seems that the polo package uses dependencies not available in React-Native (`request` is node-only for example, just like `http`).

[2016-04-07 12:27] SpectralKH commented on #907
@MarshallOfSound @jostrander Just by the way, do you know if the built-in media shortcuts for Previous Track/Pause are implemented, cause it doesn't seem like they do to me? I have a standard Apple keyboard, whereas only the "Next Track" media key works. This is kind of a bummer as someone with a gaming mouse with 6 keys used for music/volume :p

[2016-04-07 12:44] MarshallOfSound commented on #907
Those media keys are definitely implemented and definitely work on OS X.  Do those media keys work in any other application (thinking it could be a hardware issue)?

[2016-04-07 13:35] SpectralKH commented on #907
@MarshallOfSound Actually, no. I should've checked beforehand. Will have to look into it myself :)

[2016-04-07 18:20] aleonb21 opened #914 "Uncaught Exception: listen EADDRINUSE 0.0.0.0:5672"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.1.0
**Time:** Thu Apr 07 2016 14:20:00 GMT-0400 (Eastern Daylight Time)

#### Error:
*listen EADDRINUSE 0.0.0.0:5672*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-07 18:21] GPMDP-Magical-Unicorn commented on #914
Closing this automatically reported issue as a duplicate of #325

[2016-04-07 18:21] #914 closed

[2016-04-07 18:54] beall49 commented on #908
FYI, It's a new web filter setting at my work.

I went directly to the play music site and it gave me ERR CONNECTION RESET errors. I emailed the sys admins and they found it being blocked and white listed the site(play music). I guess the filter blocked it because there's games on the play store, so the site falls under the gaming filter. Anyway, they removed the block and it works fine now.

So n

[2016-04-07 22:03] mattcfox opened #915 "Media keys do nothing MATE"
**ENV:**
Fedora 23 MATE spin
MATE 1.12.1
Player verison 3.1.0
**Issue Descriptions:**
The media keys, they do nothing.   I don't believe I've got Chrome hogging them.

I was able to work around this issue by mapping the keys to dbus methods.
ex.
`dbus-send --session --type=method_call --dest=org.mpris.MediaPlayer2.google-play-music-desktop-player /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Play

[2016-04-07 23:07] MarshallOfSound commented on #915
Just going to ping the residential linuxy dbus person @jostrander

[2016-04-08 00:28] mattcfox commented on #915
FYI, this is the dbus signal for Play/Pause on MATE
[code]

[2016-04-08 01:05] jostrander commented on #915
Thanks @mattcfox. I'm going to take a look and see if mate follows the same syntax as gnome, and if so figure out how to pick up which one is available currently and forward the right Dbus info. Currently keys are only available for gnome desktop over dbus.

[2016-04-08 01:20] mattcfox commented on #915
@jostrander, I think that PR will solve it.

[2016-04-08 01:24] #847 closed

[2016-04-08 02:51] jostrander commented on #906
This has a PR upstream and should be fixed as soon as its merged, provided node-mpris package (or @MarshallOfSound's clone) gets updated to use the new version.

[2016-04-08 03:25] #915 closed

[2016-04-08 03:26] MarshallOfSound commented on #906
@jostrander Can you link the upstream PR so I can follow it's progress

[2016-04-08 03:29] jostrander commented on #906
https://github.com/Shouqun/node-dbus/pull/121

[2016-04-08 03:35] MarshallOfSound commented on #906
@jostrander I have just updated my fork with that PR.  Deleting that node module and reinstalling on your machine should fetch the latest version :+1:

[2016-04-08 03:57] jostrander commented on #906
@wengole, can you confirm the above PR works for you?

[2016-04-08 06:55] TheDJ42 opened #918 "Feature Request: How about an ARM version?"
Hey there, I absolutely love this. I've been using it both on a personal machine running Linux and a machine that I use for a computer programming class running Windows. At home I have a Raspberry Pi 2 running Ubuntu Mate, It's connected to my TV and I thought it would be cool to use this player because clearly a browser is not an option. And I'm not a terribly large fan of downloading a bunch of

[2016-04-08 07:01] MarshallOfSound commented on #918
I don't see why the code won't compile on a raspberry pi.  What commands did you run to try get it working?

Unfortunately my raspberry pi is in a different country right now :cry: so I can't test this myself.  Unless there is a raspian VM :+1:

[2016-04-08 07:03] jostrander commented on #918
Travis has arm builds I think, something we can possibly use?

On Fri, Apr 8, 2016 at 3:01 AM, Samuel Attard <notifications@github.com>
wrote:

[2016-04-08 07:21] TheDJ42 commented on #918
I used NPM like it said in the README. I'm not familiar with npm like I am with GCC and mono so I couldn't tell you why it failed.

[2016-04-08 07:50] wengole commented on #906
@jostrander That works, thanks all.

What I did was fork your fork @jostrander then rebase it off @MarshallOfSound's master, then rebuild the Arch package off my fork. Fun times. But it's working now.

[2016-04-08 08:00] MarshallOfSound commented on #918
This seems relevant https://github.com/electron/electron/issues/5069

[2016-04-08 08:01] #906 closed

[2016-04-08 09:46] wengole opened #919 "Cinnamon sound applet low res album art and missing progress bar"
Thanks for your help so far.

Two (relatively) minor things wrong with what the cinnamon applet shows is a lack of track progress bar, and the album art is low res.

The former I believe is another case of incorrect typing of the track length, as #906 had snippets of dbus data sent from Banshee and GPMDP and there was a definite discrepancy in the type.

I'm not sure the latter is even fixable, un

[2016-04-08 10:58] jostrander commented on #919
The progress bar showing up is an issue with the applet itself. If you don't mind, take a look into the JS for the applet.
The one I'm familiar with is here:
https://github.com/linuxmint/Cinnamon/blob/master/files/usr/share/cinnamon/applets/sound%40cinnamon.org/applet.js#L25
but yours may be different.
Currently it looks like there is a whitelist for players that support the progress bar, and its

[2016-04-08 11:00] wengole commented on #919
I'll look into the progress bar issue.

Image size, I think 512px would indeed be best, at least double what it is now though.

[2016-04-08 12:46] Juburin opened #920 "Lot's of CPU usage while idle"
**OS:** OS X 10.11.4

**Issue Descriptions:** The player utilizes a lot of cpu even when idle. I don't have this problem with other electron apps and even chrome has a better cpu usage when i have https://play.google.com/music/listen open.

<img width="785" alt="bildschirmfoto 2016-04-08 um 14 30 19" src="https://cloud.githubusercontent.com/assets/767690/14383775/824e04d6-fd97-11e5-872f-471db87b22

[2016-04-08 16:41] ahatzz11 commented on #920
I am also having this issue. I'm not sure why there are so many processes running for this one app, but it is consistently using a large portion of my CPU.

![](http://puu.sh/oaQ9m/c4ff4f4b92.png)

![](http://puu.sh/oaQfG/0eaa540f52.png)

**Steps to Reproduce:** Run on OS X, check CPU usage

[2016-04-08 18:07] TheDJ42 commented on #918
It might be relevant. Do you want me to upload the build logs? Also important: I'm not using Raspbian, I'm using Ubuntu Mate 15.10

[2016-04-08 19:46] rattboi opened #921 "Last.FM doesn't work with proxy settings"
**OS:**
Windows 7

**Issue Descriptions:**
Last.fm is blocked, so I have a socks proxy I use. I only want the traffic for GPMDP going through the proxy. I've enabled my proxy by adding '--proxy-server="socks5://localhost:8089"' to the gpmdp shortcut. I've tested that the music is using the proxy by stopping the proxy server, and seeing that music streaming no longer works, then starting the proxy

[2016-04-08 20:06] keerah opened #922 "No ASIO4ALL in devices list"
OS: Windows 10
Issue Descriptions: No ASIO4ALL in audio devices list

When ASIO4ALL installed it's impossible to choose it as audio output, no such item in the list
Other programs work well with it
ps. No WASAPI devices present in the list as well

[2016-04-08 21:09] rattboi commented on #921
Perhaps it's related to this? https://github.com/electron/electron/issues/183

[2016-04-08 22:42] MarshallOfSound commented on #918
Yes please, upload them and I'll see what's going on :+1:

[2016-04-08 22:43] MarshallOfSound commented on #922
Does it appear as a sound device in your "Playback Devices" menu.

You can reach that menu by right clicking on the volume icon in the tray and clicking "Playback Devices"

[2016-04-08 22:44] MarshallOfSound commented on #921
It is exactly that problem @rattboi and unfortunately that is quite tricky to fix.  It would require the app using handling proxy settings internally which is quite complex

[2016-04-08 22:48] TheDJ42 commented on #918
[Here is the build log](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/files/210971/npmlog.txt)

[2016-04-08 22:51] MarshallOfSound commented on #918
This bit right here is your problem

[code]

https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/wiki/Development-FAQ#all-platforms

We require node `4.4.1`

[2016-04-08 22:52] MarshallOfSound commented on #918
The easiest way for you to get up to date is to install [nvm](https://github.com/creationix/nvm)

[2016-04-08 23:08] TheDJ42 commented on #918
There does not appear to be an ARM version of nvm in the Ubuntu Mate Repos. Is there source code I can build from?

[2016-04-09 00:13] MarshallOfSound commented on #918
Try running

`curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.31.0/install.sh | bash`

[2016-04-09 02:16] RemeJuan opened #923 "JavaScript exception on launch"
**OS:**
Windows 10 Pro
**Issue Descriptions:**
When Launching the application I am thrown an error :

'A JavaScript error occurred in the main process.

Uncaught Exception:
SyntaxError: Unexpected token

**Steps to Reproduce:**
Happens on launch every single time, have reinstalled the application, disabled AV, run as admin, uninstalled/reinstalled.

[2016-04-09 02:49] Noobevil opened #924 "Zooming out mulitple times makes the interface disappear permanently"
**OS:** OS X 10.11.14

**Issue Descriptions:** When zoomed out too much the screen goes black and then there is no way to go back.

**Steps to Reproduce:** Zoom out all the way.

[2016-04-09 02:54] MarshallOfSound commented on #924
That's an interesting bug, but, you can get back by zooming back in or resetting the zoom with Control + 0  (it might be Command + 0 on mac)

[2016-04-09 02:54] #924 closed

[2016-04-09 03:01] Noobevil commented on #924
Thanks, I've tried zooming back out and its not doing anything, same with Command + 0, usually it works but I was in fullscreen at the time. Is there a way to delete settings file to reset saved settings of the program to get back to default settings ?

[2016-04-09 03:06] MarshallOfSound commented on #924
Yep, you just need to find the `settings.json` file and modify the "zoom" settings.  Strange that you can't reset with the shortcut though.  I just testing and it works :cry:

[2016-04-09 03:07] Noobevil commented on #924
Thats strange, I was just testing how far it goes (usually i can get back) but this time I was in fullscreen mode and the whole screen is black. I can open the settings panel but nothing else is showing.

[2016-04-09 03:10] keerah commented on #922
No it doesn't.
But other audio software like Foobar player has it in audio outputs list along with ASIO and WASAPI
I think it's important for any player to be able to use ASIO

[2016-04-09 03:15] MarshallOfSound commented on #922
If it doesn't appear in that list it is not considered a system audio device and I have no idea how other programs would pick it up.  Regardless, it not appearing is a limitation caused by fundamental chromium code which I have 0 control over and 0 ability to attempt to patch.  I would suggest raising an issue over on the chromium forums if you want ASIO support in chromium

[2016-04-09 03:15] #922 closed

[2016-04-09 03:37] keerah commented on #922
I see. Thank you, that's already done :)

[2016-04-09 20:25] Pjstaab opened #925 "Stuck on web store after clicking 2 factor extension link"
I have my yubikey setup as one of my 2 factor methods to login. It was the first method it asked for when logging in and it complained about a missing extension and gave a link to the chrome web store. After clicking the link I'm now stuck at the web store and can't get back to google music. Something like a home button would be nice when you get stuck on a page that isn't google music.

[2016-04-09 20:25] rameezv opened #926 "Uncaught Exception: listen EADDRINUSE 0.0.0.0:5672"
FYI: GPMDP can't find any audio devices and won't play any songs.

An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.1.0
**Time:** Sat Apr 09 2016 14:24:26 GMT-0600 (Canada Central Standard Time)

#### Error:
*listen EADDRINUSE 0.0.0.0:5672*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-09 20:40] GPMDP-Magical-Unicorn commented on #926
Closing this automatically reported issue as a duplicate of #325

[2016-04-09 20:40] #926 closed

[2016-04-09 21:06] jostrander commented on #844
Can we use `scaleFactor` from the screen API to figure out which icon to use? The only issue I can think of is someone having a secondary screen that doesn't match DPI.

[2016-04-09 22:59] rgavs opened #927 "Adjust show funtionality"
**OS:** Archlinux
Window Manager: Openbox
GPMDP version: 3.1.0.29.gbbe5111-1
**Issue Descriptions:**
In the tray, when selecting "Show" it simply unminimizes the window, that however is less helpful if it is not on the current desktop. If "Show" could be made into a hook for the desktop environment/window manager it would be far more helpful.

[2016-04-09 23:29] jostrander commented on #927
Can you explain in a little bit more detail what you're looking for as far as a hook goes?

[2016-04-10 00:33] jostrander commented on #923
Can you delete the `%localappdata%\GPMDP_3` folder and reinstall?

[2016-04-10 00:38] jostrander commented on #919
Added 300px album art, 512 seemed a bit excessive.

[2016-04-10 00:58] MarshallOfSound commented on #925
Yeah this is annoying. The workaround currently is too delete the settings file and not go there again and the issue has been fixed in master

[2016-04-10 00:58] #925 closed

[2016-04-10 01:01] MarshallOfSound commented on #844
@zabri The tray icon on windows issue is electron based and you can track that here

https://github.com/electron/electron/issues/5062#issuecomment-207153874

[2016-04-10 01:02] MarshallOfSound commented on #844
@jostrander Not necessarily, for instance on OS X if you give it an incorrectly sized image it doesn't auto scale it to fit it just crops it.  I am not sure if some linux OS's do this as well (Windows doesn't).

I'm wondering if electron will respect the @2x and @5x images for HiDPI linux environments.

[2016-04-10 01:03] MarshallOfSound commented on #923
What @jostrander said is the known fix for this issue.

[2016-04-10 01:03] #923 closed

[2016-04-10 01:10] jostrander commented on #844
I highly doubt it, as an alternative can we use a linux only conditional as well as scaleFactor in order to provide a high DPI tray icon?

[2016-04-10 01:18] jostrander commented on #919
As far as the track length, unfortunately it looks like there's no way to marshall into int64 from Javascript as Javascript doesn't support 64 bit integers natively.

[2016-04-10 01:23] MarshallOfSound commented on #919
@jostrander That 64bit integer thing should probably be handled by a c++ native module (node-dbus) probably.

[2016-04-10 01:38] jostrander commented on #919
v8 doesn't support checking for 64 bit integers it appears, so even a native module won't work in this case, but maybe I'm wrong as I don't play with C++ too much.

http://bespin.cz/~ondras/html/classv8_1_1Value.html

[2016-04-10 01:42] MarshallOfSound commented on #919
I'm pretty sure that `Integer::Value()` returns a 64bit integer in V8

[2016-04-10 02:05] rgavs commented on #927
Actually, hook is not the right term.

What I mean to say is when using a desktop environment with multiple virtual desktops, it doesn't work as well if `Show` is clicked from another virtual desktop. So I would want the option to either open the window in the current virtual desktop or to switch to the one the window is located. There's a few X utils like xprop or xdpyinfo/xwininfo that get that

[2016-04-10 02:26] jostrander commented on #919
The issue is that the marshaller in node-dbus doesn't support 64 bit integers because as far as I can tell the v8::Value object has no method to check for 64 bit integers. See https://github.com/Shouqun/node-dbus/blob/master/src/encoder.cc#L34

First check is for Uint32, then Int32, then Number, which returns type Double. If I put a 64 bit integer it returns a double.

[2016-04-10 03:07] RemeJuan commented on #923
I did that, 3 times before posting this, deleting files is part of the uninstall process, it does not work, it fixes nothing.

I just did it once again rite now, deleted the files, redownloaded the installer, reinstalled, aaand error.

[2016-04-10 03:07] Double44 commented on #920
I noticed this too, particularly when the application is in the foreground.

[2016-04-10 03:09] MarshallOfSound commented on #923
@RemeJuan There are quite a few folders and not all are deleted during uninstall.

`%LOCALAPPDATA%\GPMDP_3`
`%APPDATA%\Google Play Music Desktop Player`
`%LOCALAPPDATA%\Google Play Music Desktop Player`

All 3 folders might need to be manually deleted

[2016-04-10 03:10] MarshallOfSound commented on #920
Do you guys have voice controls turned on?
What are the specs of your mac?

[2016-04-10 03:12] Double44 commented on #920
I forgot to mention I'm on Windows 10..
![capture](https://cloud.githubusercontent.com/assets/6753152/14407887/be1709da-fe97-11e5-9696-f09ede5283d9.PNG)

[2016-04-10 03:18] MarshallOfSound commented on #920
I use windows 10 as my daily driver and the player uses on average `0.2%` CPU when inactive and in focus and `1.1%` when active and in focus.

[2016-04-10 03:24] RemeJuan commented on #923
Aha, thanks, that third one however I did not have, there was a GPMDP in AppData\Roaming though which I deleted anyway.

[2016-04-10 03:46] Double44 commented on #920
The top process can reach up to 20%, but the second Task Manager and Snipping Tool becomes foreground, the player calms down.

[2016-04-10 15:30] MarshallOfSound commented on #918
@TheDJ42 Any work on this, can I close this issue as a node version issue?

[2016-04-10 16:05] ahatzz11 commented on #920
@MarshallOfSound I do not have voice control turned on.

Macbook Pro 15" - 2.3 GHz Intel Core i7, 16GB 1600 MHz DDR3, Intel Iris Pro 1536 MB.

[2016-04-10 21:31] LiamDawe opened #930 "Keeps pausing/resuming based on clicks to any item"
On Ubuntu Linux 16.04, any time it's playing music, if I click any other item the music will pause (or play if paused).

It's making using the app impossible to use.

Version 3.1 downloaded direct from website.

[2016-04-10 21:47] jostrander commented on #930
While I'm not running 16.04, I am running 14.04 and 15.10 and I don't have this issue, can you explain in more detail what's happening?

[2016-04-10 23:32] MarshallOfSound commented on #930
@LiamDawe I had this issue yesterday for a brief period of time.  It appears to have been a bug in Google Play Music as a simple restart of the app fixed the issue

[2016-04-10 23:32] #930 closed

[2016-04-11 09:12] LiamDawe commented on #930
Weird, I did quit and restart a few times, but it's fine today.

[2016-04-11 13:51] TheDJ42 commented on #918
I haven't been able to compile recently due to technical difficulties. I
will be able to tell you later today.

On Sun, Apr 10, 2016 at 9:30 AM, Samuel Attard <notifications@github.com>
wrote:

--
--

Dylan Johnson

[2016-04-11 14:50] jweede opened #931 "[Ubuntu] Uncaught Exception: listen EADDRINUSE 0.0.0.0:5672"
An uncaught exception was reported.
#### Info:
**OS:** linux
**Arch:** x64
**GPMDP Version:** 3.1.0
**Time:** Mon Apr 11 2016 10:47:34 GMT-0400 (EDT)

#### Error:
*listen EADDRINUSE 0.0.0.0:5672*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-11 15:31] MarshallOfSound commented on #931
This one is quite obvious really, you turned on the PlaybackAPI and you already have something running on port 5672

[2016-04-11 15:31] #931 closed

[2016-04-11 15:35] jweede commented on #931
Thanks, @MarshallOfSound. The error message in the application doesn't indicate this. Only after I click the 'report' button do I see this error.

I was wondering if a proper error message would be more appropriate.

[2016-04-11 15:37] MarshallOfSound commented on #931
@jweede The problem is like 99% of users will have no idea what the error message means and will not want to see it in the slightest.  I wrote the error popup with a generic user in mind not a dev who knows what they are doing :+1:

On linux you can actaully get a more dev style experience by running the player with the `--dev` command line flag.  That way you get these errors in the console and s

[2016-04-11 15:44] jweede commented on #931
Thanks again @MarshallOfSound. Great work, btw. :+1:

[2016-04-11 19:46] TheDJ42 commented on #918
As of right now I'm getting the same build errors that I was getting before. (Node errors.)

[2016-04-11 22:28] aouelete opened #932 "Enable playback of local files"
Hi, I'm just wondering if there is any possibility to add support for the playback of local files.

Thanks for the great work so far!

[2016-04-12 08:01] Juburin commented on #920
@MarshallOfSound voice control is turned off.

MacBook Pro (Retina, 15", Late 2013), 2,3 GHz Intel Core i7, 16 GB 1600 MHz DDR3, NVIDIA GeForce GT 750M 2048 MB

[2016-04-12 09:52] Grega216 opened #934 "Unable to change audio device"
**OS:** Windows 10 (10586.164) Pro and Education 64-bit

**Issue Descriptions:** Cannot change audio device, it just loads ("Loading Devices..."), this problem is affected both of the Windows 10 machines I have tried (school and home)

**Steps to Reproduce:** Right click GPMDP in the notification area and hold over "Audio Device"
![skjermbilde 2016-04-12 11 40 07](https://cloud.githubusercontent.c

[2016-04-12 09:58] MarshallOfSound commented on #934
This is a bug that has been fixed in master.  The workaround is go open the settings window and change the audio device from there.  Or just open the settings window and then try changing the audio device from that menu.

TY for the bug report :+1:

[2016-04-12 09:58] #934 closed

[2016-04-12 10:24] wengole commented on #919
@jostrander Turns out that's the exact applet I am using, and that whitelist is identical to what it's showing on github. Don't know if that helps.

[2016-04-12 13:28] MidnightJava commented on #894
Can the rpm be installed on CentOS 6.7? I have 2.6.32-573.22.1.el6.x86_64 and it said "wrong architecture" when I tried to install the 64-bit Fedora RPM. So I installed the 32-bit Fedora rpm successfully. But after installing 32-bit dependencies one at a time based on "missing library" messages when trying to run the google-music player, I reached the error

google-play-music-desktop-player: /usr/

[2016-04-12 13:32] MidnightJava opened #935 "Can the player be installed on CentOS 6.7?"
I tried to install the rpm on CentOS 6.7. I have 2.6.32-573.22.1.el6.x86_64 and it said "wrong architecture" when I tried to install the 64-bit Fedora RPM. So I installed the 32-bit Fedora rpm successfully. But after installing 32-bit dependencies one at a time based on "missing library" messages when trying to run the player, I reached the error

google-play-music-desktop-player: /usr/lib/libstdc

[2016-04-12 13:46] jostrander commented on #935
It looks like its a known issue among electron based apps. See https://github.com/Microsoft/vscode/issues/1056 and https://github.com/Microsoft/vscode/issues/3603

I would try compiling from source and see if that fixes your library errors.

[2016-04-12 13:50] MidnightJava commented on #935
Thanks. I think it's the same issue that prevented me from installing the atom editor last week. I gave that a good effort and it proved impossible with CentOS 6, so I assume the same will be true here. I'll have to wait until I'm able to move to CentOS 7.

[2016-04-12 13:55] jostrander commented on #935
Yeah it's something to do with the c++ version not being latest. You might have luck with source, but only if you can get node/npm running initially.

[2016-04-12 14:49] MidnightJava commented on #935
I have installed node v4.4.2 and npm v3.86. npm install completes successfully, but running `npm start` gives the error below. I have `atom-1.6.1-0.1.fc21.x86_64` installed, and it provides libnotify at
`/usr/share/atom/libnotify.so.4`

[code]

[2016-04-12 14:56] MarshallOfSound commented on #935
Almost certainly due to the electron prebuilts not working on CENTOS, there is an open issue on the electron repository for fixing certain linux builds.  Unfortunately not much I can do :cry:

[2016-04-12 14:56] #935 closed

[2016-04-12 15:04] jostrander commented on #935
Do you have an entry for that directory inside your `ld.so.conf` configuration? `/etc/ld.so.conf.d/` should have something like `atom.conf` since atom is providing that library.

I would check by grepping the directory for `/usr/share/atom/` via
[code]
That should tell you if you have that library registered with ld, which assuming by that error, it is not.

[2016-04-12 15:22] MidnightJava commented on #935
Thanks for the suggestion, but unfotuntaely it didn't solve it. I didn't have any file with a `/usr/share/atom` entry. so I added one, and re-ran `npm run build`, and `npm start` still fails with the same message.

[2016-04-12 15:23] jostrander commented on #935
You'd have to run `ldconfig -v` as root in order for the cache to be updated. Also assuming you created a file called (for eg.) `atom.conf` with contents `/usr/share/atom`.

[2016-04-12 15:26] MidnightJava commented on #935
Yes I created a file in `/etc/ld.so.conf.d/` with a single entry `usr/share/atom` and ran `ldconfig -v`.

[2016-04-12 15:27] jostrander commented on #935
Yeah then the underlying issue is still probably the electron prebuilt binaries. :-1: Sorry, wish I had a solution.

[2016-04-12 17:31] torloch opened #936 "Uncaught Exception: Attempting to call a function in a renderer window that has been closed or released. Function provid"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.0.1
**Time:** Tue Apr 12 2016 12:31:06 GMT-0500 (Central Daylight Time)

#### Error:
*Attempting to call a function in a renderer window that has been closed or released. Function provid*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-12 17:36] GPMDP-Magical-Unicorn commented on #936
Closing this automatically reported issue as a duplicate of #470

[2016-04-12 17:36] #936 closed

[2016-04-12 18:30] kashleec opened #937 "Uncaught Exception: Attempting to call a function in a renderer window that has been closed or released. Function provid"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.1.0
**Time:** Tue Apr 12 2016 13:30:34 GMT-0500 (Central Daylight Time)

#### Error:
*Attempting to call a function in a renderer window that has been closed or released. Function provid*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-12 18:36] GPMDP-Magical-Unicorn commented on #937
Closing this automatically reported issue as a duplicate of #847

[2016-04-12 18:36] #937 closed

[2016-04-12 23:20] chops888 opened #938 "Uncaught Exception: Attempting to call a function in a renderer window that has been closed or released. Function provid"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.0.1
**Time:** Tue Apr 12 2016 16:19:54 GMT-0700 (Pacific Summer Time)

#### Error:
*Attempting to call a function in a renderer window that has been closed or released. Function provid*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-12 23:21] chops888 commented on #938
This keeps happening repeatedly. Can't see any detriment to program operation. Program continues to operate normally otherwise.

[2016-04-12 23:22] GPMDP-Magical-Unicorn commented on #938
Closing this automatically reported issue as a duplicate of #470

[2016-04-12 23:22] #938 closed

[2016-04-13 02:16] MarshallOfSound commented on #936
You are running an outdated version if the program.

Please can you upload your squirrel log found at `%LOCALAPPDATA%/GPMDP_3` so I can figure out why you aren't updating

[2016-04-13 03:42] MarshallOfSound commented on #932
I'm sorry but this isn't something that is possible for this player

[2016-04-13 03:42] #932 closed

[2016-04-13 08:55] sh8v opened #939 "Search Function Within The App Doesnt Work"
OS: Windows 10

When using the windows 10 desktop app the search function does not allow the user to search through their own music library. When entering text within the 'search music' field located at the top, a loading circle appears and then a subsequent blank screen. No results appear

[2016-04-13 09:00] jostrander commented on #939
Screenshot? Have you tried restarting the app, what version are you on?

[2016-04-13 09:05] sh8v commented on #939
I'm using Version 3.1.0. I have restarted the app on numerous occasions and the problem still persists.
I have attached tw
![screenshot 1](https://cloud.githubusercontent.com/assets/18438398/14488264/3d1a0b14-015f-11e6-8b6e-7bec72166938.png)
![screenshot 2](https://cloud.githubusercontent.com/assets/18438398/14488265/3d1b1306-015f-11e6-93c7-e612666950e1.png)

o screenshots, Screenshot 1 shows that

[2016-04-13 09:09] MarshallOfSound commented on #939
This would appear to be either a network issue or an issue internally inside Google Play Music itself.  We do not control or influence this functionality in any way.  I would recommend restarting the app and/or testing the search in a real browser.

[2016-04-13 09:09] #939 closed

[2016-04-13 10:06] SolarPolarMan commented on #939
I got this today and can confirm it doesn't work on my webbrowser. It may be to do with electron not having flash, as google music is now asking me to get flash.

[2016-04-13 10:35] MarshallOfSound commented on #939
@SolarPolarMan Can you explain more in depth your comment, it appears to contradict itself :confused:

1. Does the search function work in the Desktop Player?
2. Does the search function work in Google Chrome?
3. Does the Desktop Player ask you to install Flash?
4. Does google chrome ask you to install flash?
5. Does music still play in the Desktop Player?
6. Does music still play in chrome?

[2016-04-13 12:46] aouelete commented on #932
Ok

[2016-04-13 12:56] SolarPolarMan commented on #939
1. Not for me.
2. Not on my chromium browser or in firefox.
3. It did after their update but I dismissed it.
4. It did after their update but I dismissed it.
5. Yes
6. Yes

[2016-04-13 12:57] MarshallOfSound commented on #939
@SolarPolarMan Thanks for the responses.  It looks like Google messed up quite a few users in a recent round of A/B testing.  All I can say is I hope google fixes these issues for you soon

[2016-04-13 16:23] MarshallOfSound commented on #445
Handled in #909

[2016-04-13 16:23] #445 closed

[2016-04-13 16:28] MarshallOfSound commented on #927
So I've given this one a bit of thought and I've come to a personal conclusion that this should be something that electron should handle (and an issue should be raised with them).

My basic reasoning for this is that on Windows 10 it switches virtual desktops to the app when I call `show`.  And on OS X it switches through screens to the app when you call `show`.

I'm interested as to what you thin

[2016-04-13 17:06] thh0006 opened #940 "Uncaught Exception: Attempting to call a function in a renderer window that has been closed or released. Function provid"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.0.1
**Time:** Wed Apr 13 2016 12:06:24 GMT-0500 (Central Daylight Time)

#### Error:
*Attempting to call a function in a renderer window that has been closed or released. Function provid*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-13 17:08] GPMDP-Magical-Unicorn commented on #940
Closing this automatically reported issue as a duplicate of #470

[2016-04-13 17:08] #940 closed

[2016-04-13 19:18] rgavs commented on #927
That sounds entirely reasonable- I'm exactly very concerned with how the implementation might but that definitely fits the description of what I would like. I'll take a look into electron to see how that might work.

[2016-04-14 13:40] MarshallOfSound opened #941 "Version 3.2.0 - Minor Feature Release"
This issue is for tracking progress on the release process.  This release includes things like lyrics support (beta), linux app category fix, new ways to go forward and back on linux and OS X (mouse button 4 and 5 and swiping)

* [x] Build all platforms on CI
* [x] Check release process on staging update server `staging.googleplaymusicdesktopplayer.com`
* [x] Check operational on Windows
* [x] Che

[2016-04-14 13:41] MarshallOfSound commented on #941
My virtual box is throughoutly screwed at the moment for some reason.  Can @jostrander (linux) and @chrismou (OS X) test that the latest master doesn't crash / have any obvious major issues.

You're the first two that came to mind that have those platforms :smile:

[2016-04-14 13:41] MarshallOfSound commented on #941
This release will also fix certain things that don't quite look right since the GPM update

[2016-04-14 14:38] dhollinger commented on #883
DNF and/or YUM are the preferred way to handle the installation of RPM packages as they will also handle the issues related to "Dependency Hell". Something that rpm -i doesn't manage. As part of the RHCSA and RHCE training we are taught both methods, but using rpm -i and rpm -e are both strongly discouraged.

Point is, DNF and YUM provide checks to ensure that an RPM is properly built. If DNF or Y

[2016-04-14 18:30] tuolumne commented on #920
I have similar issues on  Fedora Linux  - CPU usage is out the roof. This is while playing music however.
![googlemusicdesktopapp-cpu-usage-2016-04-14 11 27 28](https://cloud.githubusercontent.com/assets/1174706/14539180/2aebad50-0234-11e6-9cd8-a027cbd1175a.png)

[2016-04-14 19:01] jostrander commented on #883
@dhollinger As stated, I'm by no means an expert with fedora or enterprise linux systems, yum, DNF, etc. I was relating the tools at hand to apt-get vs dpkg in debian. If you see something wrong with the RPM packages please feel free to submit an Issue or even better a pull request on how it can be fixed. However also please note the RPM is packaged via https://github.com/unindented/electron-insta

[2016-04-14 21:04] jostrander commented on #941
All seems to be working fine on Linux. Tested Lyrics, pause after, and mouse buttons. Also increased album art size seemed to be working on Mint + Cinnamon via MPRIS. I've been listening for the last hour on the master build with no apparent issues :+1:

[2016-04-14 22:19] MarshallOfSound commented on #920
@tuolumne Can you compare that somewhat insane CPU usage to listening to Google Play Music in Chrome with the Flash plugin disabled (Go to chrome://plugins and disable flash).  It's possibly that Chrome/Chromiums implementation of MP3 decoding is quite CPU intensive.

Also @Juburin @ahatzz11 can you try as well, ensure you disable flash player to force MP3 decoding

[2016-04-14 22:43] tuolumne commented on #920
Same CPU usage when I use the browser. I believe this is actually not related to the sound at all but the graphics. As soon as I expand the album art the CPU goes out the roof.

[2016-04-14 22:48] MarshallOfSound commented on #920
@tuolumne Are you running with the `--disable-gpu` flag?  That might explain the CPU offloading.

Though in a sense it's good to hear chrome has the same issue, it means it's something either internally in chromium or on Google Play Music's side of things that is using up the CPU.

[2016-04-14 23:35] TheDJ42 commented on #918
After updating node I got the first step, however when running 'npm run build' I get this:

dylan@System-4:~/src/Google-Play-Music-Desktop-Player-UNOFFICIAL-$ npm run build

[17:21:49] Requiring external module babel-register
module.js:327
    throw err;
    ^

Error: Cannot find module './lodash'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:27

[2016-04-14 23:36] MarshallOfSound commented on #918
Did you run `npm install`

[2016-04-14 23:36] TheDJ42 commented on #918
Yes I did.

[2016-04-14 23:38] MarshallOfSound commented on #918
Can you post the output of `ls node_modules`

[2016-04-14 23:40] TheDJ42 commented on #918
`babel-preset-es2015        electron-packager     gmusic-mini-player.js     gulp-clean     gulp-replace                    md5                 npm-debug.log      winston
babel-register             electron-prebuilt     gmusic-theme.js           gulp-concat    html-entities                   mkdirp              pre-commit         ws
chai                       electron-rebuild      grunt

[2016-04-14 23:44] MarshallOfSound commented on #918
Try running `npm i -g npm`

Then delete the `node_modules` folder

Then run `npm install`

[2016-04-15 01:45] rgavs opened #942 "Next/previous view navigation"
OS: Arch linux

I am unsure if this what is meant by "ways to go forward and backward" in #941 or if this should be in #413- in either case go ahead and close this. Otherwise, I have seen a number of instances discussing hotkeys but they seem to be primarily concerned with playback. I am interested in standard browser-like forward/backward navigation as in ALT-left or ALT+right within a view stack

[2016-04-15 06:27] MarshallOfSound commented on #942
@rgavs We currently support  a wide variety of keyboard and UI control for forward/back navigation.

* Mouse button 4 & 5 (Windows and Linux)
* UI Back Button (All Platforms)
* The "backspace" key (All Platforms)
* 3 Finger Swipe (OS X)

Do you still feel that the hotkey "Alt + Left" and "Alt + Right" fill a gap in this list?

[2016-04-15 06:39] rgavs commented on #942
Ah, I had not realized backspace serves that functionality. Sorry I thought I had done exhaustive searching.

But of my personal opinion, I would like "Alt + Left" & "Alt + Right" as it mirrors the standard configuration on most web browsers. So I just think that the addition of those two keybindings would make for a more seamless transition for users having traditionally used a browser.

[2016-04-15 07:48] rgavs commented on #942
I would also add, which I just realized, that I had not created an issue for this purpose earlier because I have two devices- a desktop and laptop, both Archlinux- where I had been utilizing the Mouse 4 & 5 button control without thinking about it.

So this is just to specify that the requested keybinding stems most from minor differences in my accustomed workflow on a laptop vs desktop with mouse

[2016-04-15 08:51] chrismou commented on #941
Sorry mate, missed this yesterday. Give me an hour or so and I'll give it a run through :+1:

[2016-04-15 09:58] chrismou commented on #941
Seems to be working OK. 3 albums in, no crashes, no glaring styling issues, lyrics seem to be loading OK :+1:

[2016-04-15 10:41] #942 closed

[2016-04-15 11:00] jostrander commented on #941
Electron prebuilt 37.6 just released 26 minutes ago in case you want to add that before releasing

[2016-04-15 16:52] fkazemi opened #943 "Uncaught Exception: UNKNOWN: unknown error, open 'C:\Users\kazemifa\AppData\Roaming\Google Play Music Desktop Player\jso"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.1.0
**Time:** Fri Apr 15 2016 12:52:16 GMT-0400 (Eastern Daylight Time)

#### Error:
*UNKNOWN: unknown error, open 'C:\Users\x\AppData\Roaming\Google Play Music Desktop Player\jso*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-15 16:57] MarshallOfSound commented on #943
The unicorn will close this soon as it is a duplicate.

But some quick things to help you fix it.
1. Did you install by "Running as Admin"?  If so, uninstall, then reinstall without running as admin.
2. Are you running this on a work PC with certain permission restrictions?

[2016-04-15 16:58] MarshallOfSound commented on #941
@jostrander I just updated to `0.37.6`, it brought a few "timing" issues and I think I caught them all.  Can you to a quick run through again please

[2016-04-15 17:12] jakelauer opened #944 "Uncaught Exception: Error processing argument -1."
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.0.0
**Time:** Fri Apr 15 2016 10:12:20 GMT-0700 (Pacific Daylight Time)

#### Error:
*Error processing argument -1.*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-15 17:13] GPMDP-Magical-Unicorn commented on #944
Closing this automatically reported issue as a duplicate of #326

[2016-04-15 17:13] #944 closed

[2016-04-15 17:14] jostrander commented on #941
Still seems solid, anything I should be on the lookout for?

[2016-04-15 18:15] colinclement opened #945 "Uncaught Exception: ENOENT: no such file or directory, open '/home/colin/GPMDP_STORE/.settings.json'"
An uncaught exception was reported.
#### Info:
**OS:** linux
**Arch:** x64
**GPMDP Version:** 3.0.0
**Time:** Fri Apr 15 2016 14:12:00 GMT-0400 (EDT)

#### Error:
*ENOENT: no such file or directory, open '/home/colin/GPMDP_STORE/.settings.json'*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-15 18:21] jostrander commented on #945
You are using an outdated version of GPMDP. Please manually update by downloading the latest package from http://gpmdp.xyz.

[2016-04-16 00:55] #945 closed

[2016-04-16 09:00] MarshallOfSound commented on #943
Bad @GPMDP-Magical-Unicorn ....

[2016-04-16 09:00] #943 closed

[2016-04-16 14:40] justmyfault commented on #920
I am on Ubuntu 16.04 beta and I noticed the same problem on both Google Play Music Desktop and regular Google Chrome tabs... However the problem of CPU usage does not appear using Firefox!
This is extremely disappointing, I can't use Google Play Music when I am on battery....
Some people on the google product forums reported that deleting the entire library and reuploading it solves the problem...

[2016-04-16 14:52] MarshallOfSound commented on #920
This sounds more and more like a not very efficient MP3 decoder inside Chromium.  I'm tempted to close this as a "Can't fix" but I'm going to do some more research first.

[2016-04-16 15:35] justmyfault commented on #920
I do agree on the fact that it's not your app's fault, however I tried with chrome with flash and not html5, and I tried also enabling and disabling GPU hardware acceleration but the problem is still there...

[2016-04-16 15:39] ryanguy426 opened #947 "When changing track, a popup shows instead of notification"
**OS:**
Ubuntu 16.04 Beta 2 (all updates)

**Issue Descriptions:**
On version below 16.04 (15.10 for example, tested), it'll show a notification with Notify-OSD when the song changes. On 16.04, it'll show a popop ([as shown in this screenshot](https://i.imgur.com/lpi1fDf.png)).

**Steps to Reproduce:**
* Install Ubuntu 16.04 Beta 2 (my install is fully updated)
* Install the amazing GPM app you've

[2016-04-16 15:41] jostrander commented on #920
I think there are two separate issues going on in this thread.

@tuolumne mentions:

[2016-04-16 15:49] jostrander commented on #947
There is an upstream issue that has been fixed, that should be in the next release that isn't present in the current release.

[2016-04-16 16:01] MarshallOfSound commented on #920
@justmyfault Are you sure you were using flash.  GPM ignores your HTML5 audio setting most of the time, the only way to be sure is to check for audio elements on your webpage.  Google is strange like that

[2016-04-16 16:03] MarshallOfSound commented on #947
As @jostrander mentioned this bug was fixed in the latest release of electron.

https://github.com/electron/electron/releases/tag/v0.37.6

The next release of GPMDP (which you can track here #941 will include this updated version of electron and therefore fix this issue

[2016-04-16 16:03] #947 closed

[2016-04-16 16:06] jostrander commented on #927
Can we close this an an upstream issue? I don't see this being something that we can fix independently in this project.

[2016-04-16 16:09] MarshallOfSound commented on #927
Yeah, was just confirming opinions

[2016-04-16 16:09] #927 closed

[2016-04-16 16:13] jostrander commented on #921
Can we use something like https://www.npmjs.com/package/global-tunnel along with reading the command line settings to set the proxy for the node side of the web stack?

[2016-04-16 17:47] namgdev opened #948 "Uncaught Exception: Update download failed: (null)"
An uncaught exception was reported.
#### Info:
**OS:** darwin
**Arch:** x64
**GPMDP Version:** 3.0.0
**Time:** Sat Apr 16 2016 18:47:36 GMT 0100 (BST)

#### Error:
*Update download failed: (null)*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-16 18:02] GPMDP-Magical-Unicorn commented on #948
Closing this automatically reported issue as a duplicate of #606

[2016-04-16 18:02] #948 closed

[2016-04-16 18:59] MaxRink commented on #920
I'm also affected by that. Based upon my quick research it related to executed animations.

[2016-04-17 10:58] MarshallOfSound commented on #941
Release is done, looks like it's going good :+1:

[2016-04-17 10:58] #941 closed

[2016-04-17 12:24] SpectralKH opened #949 "OS X wrong shortcuts"
Lots of shortcuts here are using CTRL instead of CMD, like search should be CMD+F, zoom should be CMD++/CMD+-,

[2016-04-17 12:36] SpectralKH commented on #949
CMD also does not work in the hotkey configurations

[2016-04-17 13:33] MarshallOfSound commented on #949
@SpectralKH The hotkey config has its own issue #413

[2016-04-17 15:51] toddmedema opened #950 "Add support for spacebar in windows hotkeys"
**OS:**

Windows 10

**Issue Descriptions:**

Cannot create hotkeys that utilizes the spacebar, such as ctrl + shift + space to pause

**Steps to Reproduce:**

Try to create a hotkey with ctrl + shift + space

[2016-04-17 15:53] MarshallOfSound commented on #950
Can you please add this as a comment to #413

[2016-04-17 15:53] #950 closed

[2016-04-17 17:06] toddmedema commented on #413
Would also be great to add support for the spacebar key in Windows - https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/950

[2016-04-17 17:19] MarshallOfSound commented on #413
I have some code that fixes this issue in a **really** (IMO) nice way, but it is currently blocked on OS X by this issue

https://github.com/electron/electron/issues/5188

Just giving you guys an update

[2016-04-17 17:54] djspacewhale opened #951 "Uncaught Exception: listen EADDRINUSE 0.0.0.0:5672"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.2.0
**Time:** Sun Apr 17 2016 11:54:46 GMT-0600 (Mountain Daylight Time)

#### Error:
*listen EADDRINUSE 0.0.0.0:5672*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-17 18:04] GPMDP-Magical-Unicorn commented on #951
Closing this automatically reported issue as a duplicate of #325

[2016-04-17 18:04] #951 closed

[2016-04-17 18:07] udeyrishi opened #952 "OS X: Icon changed to the default electron icon after update to 3.2.0"
OS: OS X El Capitan v10.11.4
Issue Description: The merged google play-electron icon is no longer being displayed; instead it's the default electron icon (see image attachment).
Steps to Reproduce: Upgrade to the latest version 3.2.0
Comments: Not sure if this is an intentional change. Please ignore if it is.

<img width="245" alt="screen shot 2016-04-17 at 12 06 30 pm" src="https://cloud.githubus

[2016-04-17 18:08] Sp4rkR4t opened #953 "Window Border colour keeps reverting to orange."
**OS:** Windows 10 x64

**Issue Descriptions:**

As the title really, After the update I started the client and the window border was orange do went into the setting and turned dark mode off and on, that fixed it but then after a while the border went back to orange.

[2016-04-17 18:17] Nxt3 opened #954 "OSX Gesture navigation not working"
**OS:** OSX 10.11.3

**Issue Descriptions:** Three finger swipe doesn't work; also, it should be a two finger swipe as three finger swipe interferes with switching between desktop spaces.

**Steps to Reproduce:** Try to swipe back

[2016-04-17 21:52] mholmPurdue opened #955 "Media keys rarely work"
**OS:**
 Windows 10 1511, 64bit, Intel CPU.
**Issue Descriptions:**
Media keys work about 10% of the time. Even if chrome isn't running. I can rapidly spam my media keys, or use them as normal, and it takes about 10 presses before the button actually registers to the application. Holding the media key has no effect. Hardware confirmed working.

I use a logitech G600 for media keys, so this MAY be

[2016-04-17 21:55] jostrander commented on #955
Do you have the Logitech software set up for your keyboard? If so can you
disable it and see if it fixes your media keys?
On Apr 17, 2016 5:52 PM, "mholmPurdue" <notifications@github.com> wrote:

*OS:*
Windows 10 1511, 64bit, Intel CPU.
*Issue Descriptions:*
Media keys work about 10% of the time. Even if chrome isn't running. I can
rapidly spam my media keys, or use them as normal, and it takes ab

[2016-04-17 22:06] aleonb21 opened #956 "Uncaught Exception: listen EADDRINUSE 0.0.0.0:5672"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.2.0
**Time:** Sun Apr 17 2016 18:06:04 GMT-0400 (Eastern Daylight Time)

#### Error:
*listen EADDRINUSE 0.0.0.0:5672*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-17 22:19] GPMDP-Magical-Unicorn commented on #956
Closing this automatically reported issue as a duplicate of #325

[2016-04-17 22:19] #956 closed

[2016-04-17 22:23] mholmPurdue commented on #955
It's a logitech mouse, so I can't use media keys without it, I'll try setting something up in Autohotkey to simulate media keys

[2016-04-17 23:22] mholmPurdue commented on #955
Looks like it was the logitech drivers, sorry

[2016-04-17 23:22] #955 closed

[2016-04-18 00:30] jostrander commented on #953
Can you pinpoint a particular action that switches back? I haven't been able to reproduce this yet.

[2016-04-18 00:52] MarshallOfSound commented on #952
Can't believe I missed this...

Fixed in 1faa02569e659da32f2fa3c478d3b2bfc1f55503

[2016-04-18 00:52] #952 closed

[2016-04-18 02:01] animusyosho commented on #920
I seem to be having high CPU usage, and there are 3-5 instances of the application in my process tab (on windows 7 T44 laptop). As an added bonus, after several minutes of this the sound distorts and then the audio device remains hung until I either restart my computer or bounce the Windows Audio service. So far in testing this issue only occurs after several minutes of having this application ope

[2016-04-18 02:20] Double44 commented on #920
Yes playing music through the browser is nowhere near as intensive on the cpu as the app is. I haven't been able to pinpoint the exact cause, but my laptop fan has a tendency to act up every time the GUI is in focus, but it does manage to calm down over time, dunno why. The cpu usage is a problem for me because I can't hear my music over the fan. I was hoping the recent update might fix this, but

[2016-04-18 05:03] MarshallOfSound commented on #954
Yeah, I totally didn't test this.  I just implemented the method (I don't have a mac).  From what I can tell you need certain settings turned on in System Preferences.

You can read more about that here https://github.com/electron/electron/pull/4843

As for two finger swiping, that's a different story.  I can look into it but it is hard to test code without a mac

[2016-04-18 09:28] adifbbk1 opened #957 "Issue of launching app in windows 10"
All issue are shown in .zip file
[https://mega.nz/#!As0hULoJ!6FRf9HFg3q2gKcrTXxm6c4meGJqthJm7euseEuG1w34](URL)

The app does not just open(in windows 10)

Here is my computer information
[DxDiaguseredited.txt](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/files/223426/DxDiaguseredited.txt)

[2016-04-18 09:31] adifbbk1 commented on #953
This is a small bug
If you don't like it, just use windows borders

[2016-04-18 09:33] MarshallOfSound commented on #957
First off, that's quite a cool recording step thingy :+1:

Secondly, it looks like Google Play Music itself is blocked on your network so it is not loading?  This could be due to a VPN or system level proxy

[2016-04-18 09:40] adifbbk1 commented on #957
I am having problem in internet only on internet explorer and Microsoft edge that can be fixed by turning off proxy auto-detect
Is this app uses internet explorer plugin?

The steps recording feature is preloaded in windows 10

[2016-04-18 09:41] adifbbk1 commented on #957
Now, the app was working
Thank You

[2016-04-18 09:46] #957 closed

[2016-04-18 09:50] adifbbk1 opened #958 "Now it shows another bug"
![image](https://cloud.githubusercontent.com/assets/18526984/14600103/accafb68-0578-11e6-87d3-20707337a52b.png)

I am from India and this player should show local mp3 in PC instead of google play music website as in mobile app

[2016-04-18 10:28] MarshallOfSound commented on #958
This is out of my control.  There are other issues on this repo explaining why

[2016-04-18 10:28] #958 closed

[2016-04-18 11:50] hugomd commented on #954
@MarshallOfSound I'm happy to test it on mine if you want to send me beta builds.

[2016-04-18 12:31] MarshallOfSound commented on #954
@hugomd It's the kind of thing that you need to muck around with numbers for.  Electron doesn't actually support a "2 finger" swipe event.  The way others have implemented it is to listen for the `wheel` event on the window.  https://developer.mozilla.org/en-US/docs/Web/Events/wheel

And then use to calculate horizontal scroll velocity, determine if it should be considered a swipe, and if so use t

[2016-04-18 12:42] adifbbk1 commented on #908
It was your internet explorer problems
Clear cache and cookies
Diagnose internet connection if failed to open google.com
Check proxy settings and disable it
Chech vpn settings

[2016-04-18 13:59] LoKaDah opened #959 "WebSocket API should provide complete status on connect"
Howdy! First of all, props on a fantastic job on this project! You're the whole reason I've even decided to use GPM again.

As a legacy user of a Logitech G15 keyboard, I decided to jump in and port the SpotifyStatusApplet plugin that displays playback info on the keyboard's LCD over to your program. So far it works pretty well if the player is playing, however I've noticed that there's no method

[2016-04-18 14:18] MarshallOfSound commented on #959
Hmm, that's an interesting flaw in the internal `PlaybackAPI` looks like my internal method `getCurrentSong()` returns `null` if the player is paused.

[2016-04-18 14:20] #959 closed

[2016-04-18 14:37] SpectralKH opened #960 "Back/forward shortcuts interfering with"
OS X

Click a song, press E, and click on a text field. Then, navigate through the text using ALT (That jumps the "cursor" word-by-word. When you do this, it both triggers that AND page navigation; ALT + <- gets you back to your previous page. Because of that, the text input field also gets out of focus. This might apply to other scenarios too?

[2016-04-18 14:40] MarshallOfSound commented on #960
OK, I know what the issue is here.  I'll fix it tomorrow :+1:  #tired

[2016-04-18 15:01] Nxt3 commented on #954
Not sure if this is possible, but if you were to implement the code, I could fix the plugging/chugging of numbers and fix it for you.

[2016-04-18 15:36] wengole opened #961 "Uncaught Exception: listen EADDRINUSE 0.0.0.0:5672"
An uncaught exception was reported.
#### Info:
**OS:** linux
**Arch:** x64
**GPMDP Version:** 3.2.1
**Time:** Mon Apr 18 2016 16:35:10 GMT 0100 (BST)

#### Error:
*listen EADDRINUSE 0.0.0.0:5672*
[code]
This issue was created automatically inside the `uncaughtException` handler

I'm running rabbitmq locally which uses this port.

[2016-04-18 15:49] GPMDP-Magical-Unicorn commented on #961
Closing this automatically reported issue as a duplicate of #325

[2016-04-18 15:49] #961 closed

[2016-04-18 15:53] wengole commented on #325
Can I suggest you not use this port? Or is it not up to you?

http://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=5672

This is the internationally recognised port number allocations.

[2016-04-18 16:30] rgoliveira opened #962 "When GPMDP updates, it creates a desktop shortcut"
**OS:** Windows 10 (64 bits)

**Issue Descriptions:** Everytime GPMDP updates, it creates a desktop shortcut.

**Steps to Reproduce:** With GPMDP installed and no shortcut to it on the desktop, let it update to a new version. A shortcut will be created without asking.

[2016-04-18 19:58] ccolorado opened #963 "Missing About section."
**OS:** Linux

**Issue Descriptions:** Finding the either the homepage or github repo is harder that it needs to. The app name is generic enough that you get hits form all over the internet, from the google play store, to tutorials and comparisons of online services. About section is either missing or very hard to find.

**Steps to Reproduce:** Try to find an About Section in the application.

[2016-04-18 20:53] MarshallOfSound commented on #962
Looks like this https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/src/squirrel.js#L31 should be moved from the update handler to the install handler

[2016-04-18 20:57] MarshallOfSound commented on #963
@ccolorado I'm not sure what you are asking for here, or what you think the issue is,  If you google search

* "google music desktop" the website is the 6th result
* "google play music desktop" the website is the 3rd result
* "google play music desktop player" the website is the 3rd result
* "playmusic desktop" the website is the 3rd result

There is only so much SEO I can do, and in most cases I

[2016-04-18 21:08] #960 closed

[2016-04-18 21:08] #962 closed

[2016-04-18 21:10] Grega216 opened #964 "Feature request: use Windows 10s colors"
**OS:** Windows 10

Is there possible to make an option for Windows 10 user that uses the colors and dark mode from the new Windows 10 theme and automaticly applies them?

[2016-04-18 21:11] MarshallOfSound commented on #918
There are quite a few electron issues with running on Raspberry Pi's, I'm going to close this as an upstream issue

[2016-04-18 21:11] #918 closed

[2016-04-18 22:35] ccolorado commented on #413
Not sure if this should be a separate issue. But the Hotkeys Section can't be edited at all on my archlinux system.
No matter what combinations, or how many times I hit the escape key. The  "Not Set" text never changes.

[2016-04-18 22:37] MarshallOfSound commented on #413
@ccolorado Have you tried a simple "Control + Shift + P" combination.  Currently all combinations require a control key

[2016-04-18 22:43] MarshallOfSound commented on #920
@Double44 It is possible your "browser" is using flash player so the CPU usage is off loaded to another process, or simply isn't as intensive as the native MP3 decoder.

[2016-04-18 22:44] ccolorado commented on #413
@MarshallOfSound Actually I was trying Ctrl+F10, Ctrl+F11, Ctrl+F12 for previous, play/pause, next.

Ctrl+Shif+P worked tho. I see issue [430](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/413) actually reports this.

[2016-04-18 23:06] SehWho commented on #953
Having the same issue, except I can't get the border to _ever_ be anything but orange.

[2016-04-18 23:09] ccolorado commented on #963
Yeah I guess I could have been a little more descriptive.
Most desktop applications have "About *" Sections on their menu.

I didn't mean't to go to try to rate higher on google. Just a local way to reference the application's landing page.

Here is the [skype](http://imgur.com/wa1C0ub) section as an example.

[2016-04-19 01:37] pcjl opened #965 "Update the icon to match the new GPM logo"
For reference: http://officialandroid.blogspot.ca/2016/04/a-new-look-for-google-play-family-of-apps.html

[2016-04-19 02:52] Preston159 opened #966 "Ignores Denied Update"
Unfortunately, because this issue is with the software updater, I will never be able to check that the issue still exists in the latest version (as it doesn't prompt for an update when it is up-to-date).  That being said, I'm currently running 3.2.1, the issue still existed in 3.2.0, and there was no related change in the update log, so I'm assuming the problem still exists in 3.2.1.

**OS:** Wind

[2016-04-19 03:14] MarshallOfSound commented on #966
Oops, looks like I missed a few 0's in my code.  It's set to `12000` milliseconds.  Pretty sure I meant `1200000` milliseconds...

[2016-04-19 03:35] #966 closed

[2016-04-19 03:54] MarshallOfSound commented on #965
I considered updating the icon, but personally I don't really like the new one :laughing:

What do you think of this one?

![play_music_triangle 2](https://cloud.githubusercontent.com/assets/6634592/14627277/2017d560-0636-11e6-87d8-ac04dfca2c96.png)

[2016-04-19 07:12] MarshallOfSound commented on #965
New icon added

[2016-04-19 07:12] #965 closed

[2016-04-19 07:14] MarshallOfSound commented on #953
@jostrander I eventually managed to replicate this, but only on my friends rubbish laptop :+1:   It looks like in the latest version of electron something changed in chromium in regards to DOM rendering so some of our inject code was running before the DOM was ready.  It has been fixed in master in 5c24c63d78761dde80c69de7e4bb5f500b4ae496

[2016-04-19 07:14] #953 closed

[2016-04-19 07:14] MarshallOfSound commented on #963
Oh, you can access our about menu from the tray icon. :+1:

[2016-04-19 07:14] #963 closed

[2016-04-19 07:16] MarshallOfSound commented on #905
I looked into this when I just updated the players icon and unfortunately (on windows at least) the tray icon is too low fidelity (this is a known electron bug) so that adding play/paused state icons simply weren't noticable

[2016-04-19 07:16] #905 closed

[2016-04-19 07:17] MarshallOfSound commented on #844
After quite a lot of testing, I realized the only platform that needs small icon files is OS X.  And OS X uses template images so other platforms can just use the HD icons :+1:

Fixed in master

[2016-04-19 07:17] #844 closed

[2016-04-19 07:18] MarshallOfSound commented on #769
I had some time to look into this recently and unfortunately the API's are quite a bit different and having two implementations would be quite messy.  last.fm seems to be the main one at the moment so we will stick with them till that changes

[2016-04-19 07:18] #769 closed

[2016-04-19 12:50] RodolfoSan opened #967 "Orange accent in 3.2.1"
OS: Windows 8/10.

Issue Descriptions: The orange accent is still present even when changing the theme to custom. Is there any way to fix this?

[2016-04-19 12:54] jostrander commented on #967
Duplicate of #953

[2016-04-19 13:00] RodolfoSan commented on #967
@jostrander It may be, thanks for the help.

[2016-04-19 13:06] jostrander commented on #967
If I could reproduce I'd try to help further, but it appears it only happens occasionally. It may already be fixed in master however.

[2016-04-19 13:34] cherya opened #968 "Uncaught Exception: listen EADDRINUSE 0.0.0.0:5672"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.1.0
**Time:** Tue Apr 19 2016 16:34:18 GMT 0300 (RTZ 2 (Ð·Ð¸Ð¼Ð°))

#### Error:
*listen EADDRINUSE 0.0.0.0:5672*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-19 13:34] GPMDP-Magical-Unicorn commented on #968
Closing this automatically reported issue as a duplicate of #325

[2016-04-19 13:34] #968 closed

[2016-04-19 14:33] MarshallOfSound commented on #967
@jostrander It comes down to load speed of the webview compared to load speed of the local DOM.  There is a race condition that was introduced in electron `0.37.4+` and fixed in master a few days ago

[2016-04-19 15:39] #967 closed

[2016-04-19 15:52] jostrander commented on #964
The API for this would be something either provided by electron or a native module, neither which currently exist to my knowledge. Not to mention the "Dark mode" is a registry hack currently is it not? That would require reading values directly from the registry, which in some versions of windows requires elevated privileges.

[2016-04-19 16:20] jostrander commented on #919
Upstream issue: https://github.com/Shouqun/node-dbus/issues/126

[2016-04-19 16:22] jostrander commented on #706
Can we just hide the "add your music" link in initial screen?

[2016-04-19 18:47] Grega216 commented on #964
In the newest Insider Preview they have made the Dark Mode a option in the Settings program

[2016-04-20 00:53] clmbtti opened #969 "Uncaught Exception: listen EADDRINUSE 0.0.0.0:5672"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.2.1
**Time:** Tue Apr 19 2016 21:53:07 GMT-0300 (E. South America Standard Time)

#### Error:
*listen EADDRINUSE 0.0.0.0:5672*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-20 01:04] GPMDP-Magical-Unicorn commented on #969
Closing this automatically reported issue as a duplicate of #325

[2016-04-20 01:04] #969 closed

[2016-04-20 09:24] DavidDohmen opened #970 "Google accounts with two-factor authentication not working"
**OS:**
Ubuntu 14.04 (elementary OS)

**Issue Descriptions:**
I know you mention 2 factor authentication but login doesn't work for me with it.

**Steps to Reproduce:**
When using my standard password, Google sends me an SMS with the code but the Google Play Music Desktop Player hangs up. Can kill it but not open it anymore until I restart my computer.
When I try to set up an app-password, the log

[2016-04-20 11:01] maarten1055 commented on #964
Dark mode is only for UWP (metro) apps, so this will probably not work natively.

[2016-04-20 11:09] MarshallOfSound commented on #970
Ta da

https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/wiki/FAQ#i-am-part-of-the-glorious-linux-master-race-and-it-doesnt-go-past-the-sign-in-screen

[2016-04-20 11:09] #970 closed

[2016-04-20 12:36] DavidDohmen commented on #970
Ah sorry for bothering! Didn't get this connection!

2016-04-20 13:09 GMT+02:00 Samuel Attard <notifications@github.com>:

--

Schornstr. 6
81669 München

Mobile: +49 - (0)172 - 718 2337

Tel.: +49 - (0)89 - 44 829 12

Fax: +49 - (0)89 - 244 16 160

[2016-04-20 15:36] gabriel92 opened #971 "Uncaught Exception: Attempting to call a function in a renderer window that has been closed or released. Function provid"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.2.1
**Time:** Wed Apr 20 2016 17:36:54 GMT 0200 (ora legale Europa occidentale)

#### Error:
*Attempting to call a function in a renderer window that has been closed or released. Function provid*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-20 17:44] Double44 opened #972 "Lyrics move too slow or too fast"
I use the Lyrics feature a ton, I just love it. The service you are using to retrieve them is very good. However I find that on most songs, the lyrics aren't always paced very well. Often the page scrolls way too slow, and other songs it can move too fast. I really like the automatic scrolling, but a manual scrollbar could be useful too, including the use of up/down keys.

**OS:**
Windows 10

**Is

[2016-04-20 20:19] samtfischer opened #973 "Window not opening"
**OS:**
10.11.4 OSX

**Issue Descriptions:**
When I launch the app, nothing happens. The program launches, but the window doesn't appear.
I tried reinstalling, but that didn't fix the issue

**Steps to Reproduce:**
Launching the app.

[2016-04-20 21:38] roryhewitt opened #974 "Details show up incorrectly in Windows mixer"
**OS:**

Windows 7 Enterprise

**Issue Descriptions:**

When I open the volume control in the taskbar and click the Mixer link, the SndVol.exe application incorrectly shows the GPMDP application, with almost no data. Even though I can't see the volume slider or the mute button, I can click where they SHOULD be, and they work).

![sndvol](https://cloud.githubusercontent.com/assets/11558891/14691327

[2016-04-21 02:11] MarshallOfSound commented on #974
This is a known issue with electron and we are waiting for it to be fixed upstream (probably in chromium)

https://github.com/electron/electron/issues/4838

[2016-04-21 02:11] #974 closed

[2016-04-21 02:12] MarshallOfSound commented on #973
Does the tray icon appear?

If so try using that tray icon to show the window

[2016-04-21 02:13] MarshallOfSound commented on #972
@Double44 There is a keyboard shortcut to access the lyrics "Cntrl + Shift + L"

Can you name a few songs that the auto scroll doesn't quite work for.  I tested on a stupid quantity of songs and the speeds / timing I ended up using worked for most of them

[2016-04-21 02:15] samtfischer commented on #973
The tray icon appears as well as the icon on the dock. I can pull up the settings window through the tray icon, but not the main window.

[2016-04-21 02:16] samtfischer commented on #973
The tray icon appears as well as the icon on the dock. I can pull up the
settings window through the tray icon, but not the main window.

Thanks,
Sam Fischer
samtfischer.com

On Wed, Apr 20, 2016 at 10:12 PM, Samuel Attard <notifications@github.com>
wrote:

[2016-04-21 02:16] MarshallOfSound commented on #973
@samtfischer Hmmm, this is very interesting.  Can you try downloading the code and running it in development mode to see if we can get it to actually spit out an error.

[2016-04-21 02:19] samtfischer commented on #973
How do I download the code and run it in development mode?

[2016-04-21 02:26] MarshallOfSound commented on #973
So the super simple steps are this

1. Download the [zip file](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/archive/master.zip)
2. Install [NVM](https://github.com/creationix/nvm) on your mac
3. Run `nvm install 4.4.1`
4. Run `nvm use 4.4.1`
5. Run the commands found [here](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-#developmen

[2016-04-21 02:31] samtfischer commented on #973
Sorry for not understanding. How do I actually run nvm install 4.4.1 or any of the other commands? I have the two files downloaded from steps 1 and 2.

[2016-04-21 02:33] MarshallOfSound commented on #973
You use terminal, it is in the utilities folder on your mac

[2016-04-21 02:37] samtfischer commented on #973
It's telling me that the command isn't found when I run it in terminal

[2016-04-21 02:39] MarshallOfSound commented on #973
Did you install NVM with the CURL command in the README of that repository?

[2016-04-21 02:43] samtfischer commented on #973
I just installed it with that method. I tried running npm install and it gave me this error:
![image](https://cloud.githubusercontent.com/assets/18582444/14696478/5720a956-0749-11e6-8c9c-d0cbd8a33b15.png)

[2016-04-21 02:46] MarshallOfSound commented on #973
Use the `cd` command to navigate to the folder where use extracted the ZIP file you downloaded in step 1

[2016-04-21 02:57] samtfischer commented on #973
Ok I ran the commands on that page and Terminal is showing this:
![image](https://cloud.githubusercontent.com/assets/18582444/14696695/4205aa88-074b-11e6-8b43-f0d54041dacb.png)

[2016-04-21 02:59] MarshallOfSound commented on #973
OK that all looks good, does the player not appear?

What happens when you click on the tray icon and click "Show"

[2016-04-21 03:00] samtfischer commented on #973
Nothing happens. Same as if I'm running the app normally.

[2016-04-21 03:01] samtfischer commented on #973
Could it have anything to do with Chrome/Chrome extensions?

[2016-04-21 03:01] MarshallOfSound commented on #973
No errors appear in the console?

[2016-04-21 03:01] samtfischer commented on #973
Nope. What you see in that picture is all that's showing in terminal

[2016-04-21 03:02] MarshallOfSound commented on #973
@samtfischer Give me a sec, just finding the path to our error log file.  We can check that in a sec.

[2016-04-21 03:02] samtfischer commented on #973
Not a problem

[2016-04-21 03:04] samtfischer commented on #973
The settings window still comes up like normal the same way it did in the normal app

[2016-04-21 03:07] MarshallOfSound commented on #973
In terminal run

[code]

Then upload the `gpmdc.log` file to this comment thread

[2016-04-21 03:09] samtfischer commented on #973
[gpmdc.log.zip](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/files/229134/gpmdc.log.zip)

[2016-04-21 03:12] MarshallOfSound commented on #973
Hmmmm, there are no usable errors in that log file.  Unfortunately there is not much I can do as I can't replicate this issue and no one else has reported it.

Can you think of ANYTHING that might make your setup unique in any way. (Strange network configuration, using a proxy, using a VPN, strange file system permissions Etc.)

[2016-04-21 03:14] samtfischer commented on #973
The only things I can think of is that it's POSSIBLY a permissions issue as I've had issues with permissions on this computer in the past. I also use an app called Bartender that helps organize the tray icons, but I can't imagine that would affect the functionality of the app. I can try checking the permissions in the applications folder as well as the app itself. I've been using the app for a whi

[2016-04-21 03:17] MarshallOfSound commented on #973
Yes, you can download the old version from the releases section on github, but it will auto update.  Let me examine the changes between the latest versions to see what might have broken.

[2016-04-21 03:19] #971 closed

[2016-04-21 03:20] samtfischer commented on #973
I just fixed the permissions on the applications folder and the application support folder, reinstalled the app and got this error window:
![image](https://cloud.githubusercontent.com/assets/18582444/14697035/6e74ebd0-074e-11e6-845a-37119438283a.png)

[2016-04-21 03:20] MarshallOfSound commented on #964
This is tricky in the sense that reading both dark mode and the custom color will require reading the registry.  On some systems that might require admin priviledges and from a users perspective, if the turn on the dark theme and it asks for admin control, you would be super suspicious...

I'll see if there are fancy ways to do this without reading the registry but I'm not in the mood at the momen

[2016-04-21 03:21] MarshallOfSound commented on #973
Delete the app from your applications folder.  And run

[code]

[2016-04-21 03:22] samtfischer commented on #973
After I click 'OK', the icon appears in the dock and the menubar changes to the app name, but it only gives me the option to quit the app. The tray icon doesn't appear either.
![image](https://cloud.githubusercontent.com/assets/18582444/14697073/ae2aeae0-074e-11e6-9dfe-b77e967cf23e.png)

[2016-04-21 03:22] MarshallOfSound commented on #973
Then re install the app

[2016-04-21 03:23] samtfischer commented on #973
Success!
![image](https://cloud.githubusercontent.com/assets/18582444/14697099/e3763038-074e-11e6-95d8-400dd8b1fa18.png)

[2016-04-21 03:24] MarshallOfSound commented on #973
So looks like it was all some funky permissions problem :+1:

[2016-04-21 03:24] #973 closed

[2016-04-21 03:24] samtfischer commented on #973
Thank you!

[2016-04-21 03:27] MarshallOfSound commented on #913
@mmazzarolo I just got back to looking into this and it appears there are React native modules that fill in those node gaps.  For instance

`dgram` = https://github.com/tradle/react-native-udp
`net` = https://www.npmjs.com/package/react-native-tcp
`http` = https://github.com/tradle/react-native-http

[2016-04-21 05:43] Double44 commented on #972
In Stereo - Fort Minor
Petrified - Fort Minor
Clint Eastwood - Gorillaz
Welcome to the World of the Plastic Beach - Gorillaz
Super-Charger Heaven - White Zombie
Black Sunshine - White Zombie

The Petrified lyrics are slightly messed up, which might account for the extra speediness.

[2016-04-21 06:15] rfuhrer commented on #920
I'm having the same issue as people above.  I hit 25% (100% usage on a single core) CPU in an i5 3.4ghz when I first open the application.  Even before playing a song.  I hit this number again while scrolling on any screen.  If i have the application in the foreground it jumps around between 10-20% usage across the multiple processes it has running.  If I minimize it the usage drops to 0.5-2%.  De

[2016-04-21 14:49] MarshallOfSound commented on #875
@st33ly Can you please confirm this issue is present on `3.2.1`

[2016-04-21 15:24] kilometrix opened #975 "How about to connect "Thumbs" buttons and last.fm loved tracks?"
Hi!

I think that everyone who uses last.fm wants to quickly manage his "loved songs" list with "Thumbs Up" and "Thumbs Down" buttons in player. So...
:+1:  to add track to loved songs on last.fm, :-1:  to remove. Is that function possible?

[2016-04-21 16:29] aouelete commented on #975
If possible, I would suggest adding a separate button for last.fm. I use thumbs up/down to refine Google's music suggestions and not all of those songs are worthy of being "loved".
This is just my opinion.

[2016-04-21 19:00] M3talArm5 opened #976 "Installation Failed"
Hi There,

I am using Windows 10 Home 64 bit and have downloaded the install from your website but whenever i double click it to install it i get "The installation has failed. Failed to extract installer". I have tried to run it as administrator but that didn't make a difference. I also have tried to download another copy but this didn't work either.

Let me know if you need anything more from me.

[2016-04-21 23:12] MarshallOfSound commented on #976
Do you get a SquirrelSetup.log file in `%LOCALAPPDATA%\GPMDP_3`

[2016-04-21 23:14] MarshallOfSound commented on #975
I don't see this fitting in with any pre-existing concepts in Google Play Music.  The thumbs up / down don't indiciate like/unlike they indicate like/dislike.  This is a rather significant difference.

I'm not for adding too many buttons to the UI either as it is just asking for trouble.

[2016-04-21 23:14] #975 closed

[2016-04-22 01:47] patrickliu-hk opened #977 "Uncaught Exception: Attempting to call a function in a renderer window that has been closed or released. Function provid"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.0.1
**Time:** Fri Apr 22 2016 09:47:35 GMT 0800 (China Standard Time)

#### Error:
*Attempting to call a function in a renderer window that has been closed or released. Function provid*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-22 01:50] GPMDP-Magical-Unicorn commented on #977
Closing this automatically reported issue as a duplicate of #470

[2016-04-22 01:50] #977 closed

[2016-04-22 04:44] lech opened #978 "Phantom border on second monitor"
**OS:**
Running the latest build downloaded yesterday on Win7 x64, Dark Theme

**Issue Descriptions:**
When the player is maximized under multiple monitors a phantom border appears on the monitor to the left. In this case, two 1080p monitors in left/right respectively. When the application is maximized on the right hand monitor, the right edge of the left monitor displays a phantom border.

Note t

[2016-04-22 10:50] outraider opened #979 "Uncaught Exception: Attempting to call a function in a renderer window that has been closed or released. Function provid"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.2.1
**Time:** Fri Apr 22 2016 13:48:34 GMT 0300 (FLE Daylight Time)

#### Error:
*Attempting to call a function in a renderer window that has been closed or released. Function provid*
[code]
This issue was created automatically inside the `uncaughtException` handler

Did not cause crash thou

[2016-04-22 10:50] GPMDP-Magical-Unicorn commented on #979
Closing this automatically reported issue as a duplicate of #971

[2016-04-22 10:50] #979 closed

[2016-04-22 13:43] TorgeirHolm commented on #978
I see what is probably the same thing on Windows 10, Dark Theme

[2016-04-22 18:36] Krojack opened #980 "Went to another webpage, can't get back to player."
Need help. Uninstall doesn't seem to clear all settings from the system.

**OS:**
Windows 10

**Issue Descriptions:**
After installing, went to log into my Google account and clicked a link that took me to some other google website within the program.  Now I can't get back to the login or to the Google play where the music is.  I tried uninstalled, removing any registry reference I could find and

[2016-04-22 22:41] jostrander commented on #980
Your settings file has the last stored page in it, I believe on windows it's under %localappdata%\GPMDP_3 or %appdata%\google-play-music-desktop-player. Check for a .settings.json file in there and remove the url from in between the quotes, or delete the file if you don't mind losing settings.

[2016-04-22 22:55] MarshallOfSound commented on #980
@Krojack This issue has been fixed in master.  The easy work around at the moment is to use the shortcut.

"Control + Shift + G" and enter the url

[code]

This will take you back to Google Play Music

[2016-04-22 22:55] #980 closed

[2016-04-23 00:13] lech commented on #978
Just to confirm, this also happens under the light theme as well as with any other custom theme options.

[2016-04-23 09:38] TorgeirHolm opened #981 "Colored window border on first run after booting."
On the first run after booting the computer, the window border is brightly colored in what seems to be the same color I have selected as accent color in the dark theme. After quitting, the player restarts with the normal dark border color.

Windows 10

[2016-04-23 09:40] MarshallOfSound commented on #981
@TorgeirHolm This issue has been reported once before and we think we fixed it in master.  Just to check, is your issue reproachable.  I.e. Can you make it happen again right now :+1:

[2016-04-23 10:30] M3talArm5 commented on #976
Hi,

Thanks for the reply. I realised as i was looking for the file this morning that it was my anti virus blocking it for some reason. I turned it off and the install went through no problems.

Thanks again for the program and support.

[2016-04-23 10:48] TorgeirHolm commented on #981
Yes, it still happens, see the attached screenshot from just now. Version 3.2.1, Windows 10.

You can also see the 8px ghost border (the other issue) on the left hand side in the same screenshot taken while maximized on my rightmost 1920×1080 monitor. Note that the screenshot dimensions are 1928×1080.

![screenshot 2016-04-23 12 42 26](https://cloud.githubusercontent.com/assets/18615991/14760915/f

[2016-04-23 10:52] MarshallOfSound commented on #981
Would you mind uninstall the version you have and installing this one https://ci.appveyor.com/api/buildjobs/2tpv3tkpavdovvf9/artifacts/dist/installers/win32/Google%20Play%20Music%20Desktop%20PlayerSetup.exe

Just to see if we have actually fixed the issue.  If we have you should reinstall the original version or you won't get updates :+1:

[2016-04-23 10:52] #976 closed

[2016-04-23 10:56] TorgeirHolm commented on #978
_Posting this screenshot here too, since it is relevant to this thread as well._

You can see the 8px ghost border on the left hand side in the screenshot taken while maximized on my rightmost 1920×1080 monitor. Note that the screenshot dimensions are are 1928×1090 – apparently there are black borders above and below as well.

![screenshot 2016-04-23 12 42 26](https://cloud.githubusercontent.com/a

[2016-04-23 12:11] TorgeirHolm commented on #981
Yes, this one has no colored border! (but throws a script error on start, and has no tray icon).

![screenshot 2016-04-23 14 03 47](https://cloud.githubusercontent.com/assets/18615991/14761312/1193955e-095d-11e6-97d4-5920fe5ad0d9.png)

[2016-04-23 12:30] MarshallOfSound commented on #981
The tray icon looks a bit different now and might be in your extended tray
menu.

That DLL error is to be expected

On Sat, Apr 23, 2016 at 10:11 PM TorgeirHolm <notifications@github.com>
wrote:

[2016-04-23 15:22] #981 closed

[2016-04-23 15:28] MarshallOfSound commented on #978
Raised upstream https://github.com/electron/electron/issues/5267

[2016-04-23 17:38] TorgeirHolm commented on #981
It's not in the extended tray. Also minimize doesn't work. But I'll report that if it happens on the official builds. Reverting back to that now.

[2016-04-23 18:27] MaxRink opened #982 "FR: UWP4Win"
hi, a port over to UWP for Win would be great as UWP-Apps can use Backgroundaudio which works in connected standby (would be great for notebooks)

[2016-04-23 18:54] jostrander commented on #982
Currently this is a limitation of the framework electron which thisbis
built on.
On Apr 23, 2016 2:27 PM, "MaxRink" <notifications@github.com> wrote:

[2016-04-23 23:43] lech commented on #978
Enabling the option to use the system windows border makes this go away, it's a little less pretty but no phantom border appears when this option is on and the window is maximized.

[2016-04-24 03:27] #982 closed

[2016-04-25 10:00] algerdby commented on #325
Thank you for link. I have had rabbitmq. Now, it's ok.

[2016-04-25 10:08] shaffe-fr opened #983 "Three dots menus with dark theme"
**OS:** any OS.

**Issue Descriptions:** When using the dark theme, three dots menus are not visible on album cards.

**Steps to Reproduce:** Go to Desktop Settings, activate the dark theme, roll over any album card, the three dots menu won't be visible on album cards.

[2016-04-25 10:39] MarshallOfSound commented on #983
Fixed upstream

https://github.com/gmusic-utils/gmusic-theme.js/issues/31

[2016-04-25 10:39] #983 closed

[2016-04-26 04:30] emancipateme opened #985 "Request: Libre.fm Support"
Any chance that support to libre.fm can be added?
It's an alternative to last.fm, which seems to love signing me out at random, and is getting rather frustrating.

[2016-04-26 04:32] MarshallOfSound commented on #985
Duplicate #769

[2016-04-26 04:32] #985 closed

[2016-04-26 14:02] MarshallOfSound opened #986 "Chromecast support tracker"
This is just so that I can maintain information around chromecast support progress.

**Option 1**

* [ ] Need to be able to capture a [MediaStream](https://developer.mozilla.org/en-US/docs/Web/API/MediaStream) from an HTML5 Audio Element
    * [ ] Depends on Chromes support of [captureStream()](https://w3c.github.io/mediacapture-fromelement/)
* [ ] MediaStream will be piped into a `Response` objec

[2016-04-26 17:41] pmsaue0 opened #987 "Adding a shortcut to the "thumbs up" playlist"
Hello,

I am wanting to add a global keyboard shortcut to navigate to the "thumbs up" playlist.  I think I would like to use:
`.executeJavaScript('document.querySelector(\'a[data-id="auto-playlist-thumbs-up"]\').click();');`

But I'm not sure where to put this code if I want to bind it to F6, for example.

Thanks!
Phillip

[2016-04-26 19:54] jakelauer opened #988 "Suggestion: Option to keep left menu always open"
I like to keep the menu on the left open all the time. It'd be great if there were an option to keep it open at all times!

[2016-04-26 22:58] peterrus opened #989 "Playlist/thumbs resource in api"
Would it be possible/feasible to allow the user to read and manipulate playlists via the json api? (Or any api for that matter).

[2016-04-27 01:32] MarshallOfSound commented on #988
If you simply open the menu once it never closes?  I don't see this as being a widely requested feature and as mentioned in other issues, modifying googles UI is risky at the best of times (UI glitches)

[2016-04-27 01:32] #988 closed

[2016-04-27 01:33] MarshallOfSound commented on #989
TLDR: No

:+1:

The closest thing we can do (I'm currently working on this) is to allow you to read the current queue

[2016-04-27 01:33] #989 closed

[2016-04-27 01:34] MarshallOfSound commented on #987
Unfortunately, navigating to playlists through the method you mention results in several internal GPM errors and is not possible at this time

[2016-04-27 01:34] #987 closed

[2016-04-27 17:43] Raputo opened #991 "Uncaught Exception: Attempting to call a function in a renderer window that has been closed or released. Function provid"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.2.1
**Time:** Wed Apr 27 2016 10:44:47 GMT-0700 (Pacific Daylight Time)

#### Error:
*Attempting to call a function in a renderer window that has been closed or released. Function provid*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-27 17:52] GPMDP-Magical-Unicorn commented on #991
Closing this automatically reported issue as a duplicate of #971

[2016-04-27 17:52] #991 closed

[2016-04-27 19:14] Dukko commented on #417
Still not working here on OSX :(

[2016-04-27 23:26] krainboltgreene commented on #973
I'm having the same issue but it's definitely not a permissions issue.

When I click the mac dock "Show all windows" it appears as a tiny dot.

[2016-04-27 23:28] krainboltgreene commented on #973
It appears to have happened because I put the window on my second monitor and my second monitor (my laptop monitor) was off (the laptop was closed).

Opening the macbook and restarting the application shows the window.

[2016-04-27 23:29] krainboltgreene commented on #973
Looks like this describes the situation: https://github.com/mawie81/electron-window-state/issues/1

[2016-04-27 23:33] MarshallOfSound commented on #973
@krainboltgreene Your inference is incorrect I believe.  I have code that checks if the position / screen is still available before attempting to position it there https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/src/index.js#L90

[2016-04-27 23:37] krainboltgreene commented on #973
@MarshallOfSound Well it seems to not be working because I just spent 10 minutes looking at an empty screen until I opened up my macbook.

[2016-04-27 23:38] krainboltgreene commented on #973
Or rather, perhaps Electron is lying to your logic?

[2016-04-27 23:41] MarshallOfSound commented on #973
I have tested the logic on a Mac and a Windows machine and the logic works.  This is almost certainly a separate issue.  Possibly something to do with the way that secondary monitors are rendered on OS X.  The GPU is forced on for chromium windows on a secondary display (don't know why) and this could be causing rendering bugs...

But this is almost certainly nothing to do with the re-positioning

[2016-04-27 23:45] krainboltgreene commented on #973
wat

[2016-04-27 23:54] jostrander commented on #973
I can't replicate this, however I'm not on OS X. I put the window on a monitor, quit, disabled the monitor and opened the app. App always ended up on an active screen when reopened. Tried with two monitors and laptop screen, toggling one off as well as different monitor layouts.

[2016-04-28 00:02] jostrander commented on #973
If you want to help provide debugging information, grab the .settings.json file before, when its open and not showing, as well as after you get it showing. At least then we can see some numbers on where it thinks it should be, etc.

[2016-04-28 00:06] jostrander commented on #986
I downloaded the CRX for chromecast and toyed around with the code trying to beautify it enough to understand what it's doing, and there is a LOT to it. I think however that it is probably the best way to get chromecast support into the desktop app as it will work natively with google's code inside the web frame.

[2016-04-28 00:11] jostrander commented on #972
Unfortunately without timestamped lyrics the scrolling will never work for absolutely all songs. Maybe have the auto scroll be a setting that can be checked on the lyrics screen?

[2016-04-28 02:37] ryanrms opened #992 "volume controls do not display properly in Volume Mixer on Windows"
**OS:**
Windows 10 64 bit - x86 OR x64 version
**Issue Descriptions:**
App isn't shown properly in Volume Mixer in Windows 10.  you can still set the volume for this app separately but it doesn't display properly
**Steps to Reproduce:**
Install either Windows version on Windows 10
Start playback
Open Volume Mixer
Screenshot:
<img width="344" alt="play music app volume issue" src="https://cloud.git

[2016-04-28 02:54] jostrander commented on #992
Holy ****, is this because of the tray icon being so huge?! @MarshallOfSound

[2016-04-28 02:56] MarshallOfSound commented on #992
@jostrander Yeah, I figured that out a few days ago.  I almost cried....

it's fixed in master

[2016-04-28 02:56] #992 closed

[2016-04-28 02:58] MarshallOfSound commented on #986
Yeah, we would have to mock out all of these methods

https://developers.google.com/cast/docs/reference/chrome/

It's a big job and should probably be done in a separate project.  Probably `electron-chromecast`

[2016-04-28 07:46] MarshallOfSound commented on #920
After quite a bit of research and trialing in multiple VM's I have come to the conclusion that there is literally NOTHING I can do about this :cry: .  I turned off all my custom code and just ran Google Play Music inside electron and I got the exact same CPU usage as with my customization.

TLDR: Oh well :cry:

[2016-04-28 07:46] #920 closed

[2016-04-28 07:47] MarshallOfSound commented on #845
I'm going to close this as the initial `change` methods that were missing are now implemented.  The playlist API endpoints can be tracked upstream and `gmusic-utils`

[2016-04-28 07:47] #845 closed

[2016-04-28 08:00] #949 closed

[2016-04-28 09:03] Juburin commented on #920
Thanks for your hard work. Hopefully Google will improve Play Music. 😢

[2016-04-28 21:24] NessDan opened #993 "Uncaught Exception: Cannot find module 'dbus'"
An uncaught exception was reported.
#### Info:
**OS:** linux
**Arch:** x64
**GPMDP Version:** 3.2.1
**Time:** Thu Apr 28 2016 17:24:13 GMT-0400 (EDT)

#### Error:
*Cannot find module 'dbus'*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-28 22:52] jostrander commented on #993
What version of linux?

[2016-04-29 05:47] NessDan commented on #993
Ubuntu 15.10, up to date and everything.

On Thu, Apr 28, 2016 at 6:52 PM Jesse Ostrander <notifications@github.com>
wrote:

[2016-04-29 06:04] juner opened #994 "Uncaught Exception: Attempting to call a function in a renderer window that has been closed or released. Function provid"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.0.1
**Time:** Fri Apr 29 2016 15:04:26 GMT 0900 (東京 (標準時))

#### Error:
*Attempting to call a function in a renderer window that has been closed or released. Function provid*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-04-29 06:07] #994 closed

[2016-04-29 06:29] MarshallOfSound commented on #993
@NessDan Are you running from master or from a release version?

[2016-04-29 09:38] paulietheboss opened #995 "GPMDP toggles pause/play with new pages loading?"
I've noticed that since the most recent update, GPMDP seems to be playing/pausing strangely through use of the back button? For example, I'll go into my library, artists, find an artist, open albums, open an album, play the album. First song plays.

Press back to go to albums, song pauses. Back again, see artist page, song plays. Back again to all artists, song pauses. Same thing happens if I clic

[2016-04-29 10:36] MarshallOfSound commented on #995
This is a bug in google play music itself, I thought they fixed it a few days ago, maybe you are still getting the bad files from them.  Regardless, it isn't the apps fault :cry:

[2016-04-29 10:36] #995 closed

[2016-04-29 11:50] berryelectronics opened #996 "Feature Request: Start on bootup"
Just checked the Settings, dont find a "Start with System Start" option. Would be neat i think. My Music player is generally something I use all the time when im on my pc, so a start on bootup would be really great.

[2016-04-29 12:50] ivesen opened #997 "orange borders after reboots"
Windows 10 pro 64-bit

the borders of the music player (both the mini player and the bigger one) are orange the first time I run it each boot.

simply reboot and open the program.

image for reference: http://puu.sh/ozZqJ/0ed7f45e56.jpg

[2016-04-29 13:10] MarshallOfSound commented on #997
Fixed in master

[2016-04-29 13:10] #997 closed

[2016-04-29 14:03] paulietheboss commented on #995
Ok - sorry about that I just thought I'd bring it to your attention in case it was the app. Thanks for the quick response and update (alos GPMDP is badass!)

[2016-04-29 14:06] MarshallOfSound commented on #995
:+1:

[2016-04-29 14:58] NessDan commented on #993
Master, I cloned the repo from Github yesterday, ran the build steps, and
installed it.

Is the dbus package a requirement for the app or is this another issue?

On Fri, Apr 29, 2016 at 2:29 AM Samuel Attard <notifications@github.com>
wrote:

[2016-04-29 15:20] MarshallOfSound commented on #993
Sounds like your `npm install` failed and missed a few packages.  In this case the dbus package.

Delete your `node_modules` folder and rerun `npm install`, then just check there is a `dbus` folder inside the `node_modules` folder

[2016-04-29 16:10] NessDan commented on #993
I think you're on to something.

I got these errors:

[code]

Then running `npm run make:deb`, I got this error:

[code]

On Fri, Apr 29, 2016 at 11:20 AM Samuel Attard <notifications@github.com>
wrote:

[2016-04-29 16:10] jostrander commented on #993
Did you install all the dependencies from circle.yml?
On Apr 29, 2016 12:10 PM, "Daniel Kaspo" <notifications@github.com> wrote:

[2016-04-29 16:11] NessDan commented on #993
@jostrander No clue, I just followed the README instructions.

[2016-04-29 16:15] jostrander commented on #993
There's currently an issue with building for a single architecture on Linux
so you have to install all the deps from circle.yml in order to build.
You'll see the deps listed as apt-get commands with you can run yourself.

Unfortunately the packages will still build without some of the deps from
circle because they are optional dependencies for so they won't cause build
failures on windows/OS X.
On

[2016-04-29 16:16] jostrander commented on #993
Also you might be able to get away with only installing the 64 bit versions
of the packages needed from circle.yml, but you'll still get errors from
the ia32 build when packaging.
On Apr 29, 2016 12:11 PM, "Daniel Kaspo" <notifications@github.com> wrote:

[2016-04-29 17:45] NessDan commented on #993
Thanks @jostrander , I installed all those dependencies manually, rebuilt everything, still got the errors I listed above _but_ the GP app isn't showing those errors anymore :smiley:

Thanks everyone!

[2016-04-29 17:48] jostrander commented on #993
:+1: No problem

[2016-04-29 17:52] #993 closed

[2016-04-29 22:05] berryelectronics commented on #996
Adding the String `"C:\Users\matthias\AppData\Local\GPMDP_3\app-3.2.1\Google%20Play%20Music%20Desktop%20Player.exe"` to the Registry HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Run works fine. Only thing to look it how to script it in the installer and swap change the user name out for the currents users name.

[2016-04-29 23:43] jostrander commented on #996
We can probably use something like this: https://github.com/ironSource/node-regedit but I'm not sure if it's something that will prompt for UAC or not.

[2016-04-29 23:46] berryelectronics commented on #996
@jostrander elsewise Using `HKEY_CURRENT_USER` should not prompt UAC AFAIK.

[2016-04-29 23:48] jostrander commented on #996
Agreed, because its under user scope, only HKEY_SYSTEM or w/e should cause UAC, or be rejected altogether with no prompt without elevation. You want to take a stab at implementing that? I don't run windows natively.

[2016-04-29 23:50] berryelectronics commented on #996
I could give it a try.

[2016-04-30 01:41] collinjackson93 opened #998 "Dark theme podcast image has white background"
**OS:** Windows 10 Education 64-bit

**Issue Descriptions:** Dark theme has an issue displaying the podcast image on the "Listen Now" page.

![image](https://cloud.githubusercontent.com/assets/5580739/14933026/7573fb24-0e47-11e6-93ed-bc84626c83ec.png)

[2016-04-30 07:40] MarshallOfSound commented on #998
This technically belongs over at https://github.com/gmusic-utils/gmusic-theme.js but I'll eave it here because these issues get more traffic.

Can someone in US who knows how find the CSS selectors for that podcast button.  Unfortunately being from NZ/AUS I can't use podcasts yet.

[2016-04-30 08:16] MarshallOfSound commented on #894
You can now run the following commands

- `gulp rpm:linux:32`
- `gulp rpm:linux:64`
- `gulp deb:linux:32`
- `gulp deb:linux:64`

[2016-04-30 08:16] #894 closed

[2016-04-30 10:01] MarshallOfSound commented on #996
As a place to start looking

https://github.com/Teamwork/node-auto-launch

Just be careful on windows as we NEVER want to prompt for UAC or need UAC to do anything.  Instead of using the registry there is a folder we can use

`%APPDATA\Microsoft\Windows\Start Menu\Programs\Startup`

[2016-04-30 10:07] berryelectronics commented on #996
Doesnt the Startup folder trap many antivirus programs because its known that many viruses use that folder?

[2016-04-30 10:15] MarshallOfSound commented on #996
@berryelectronics I am not aware of AV targeting the startup folder and in fact Slack is one of my applications that has put itself in there.

[2016-04-30 11:07] JamesCoyle commented on #701
I'd love something like this to pop up when left clicking on the taskbar notification area icon. Just some window which shows the album art, song name, thumb up/down, and the song controls.

[2016-04-30 13:58] collinjackson93 commented on #998
[code]

It looks like this is the relevant code. The `iron-icon` element is making the white background. I would be happy to look into the issue further, but I'm in the midst of final exams, so I wouldn't be able to get to it for a few days.

[2016-04-30 18:00] MarshallOfSound opened #999 "Version 3.2.2 - Minor Feature Release"
This issue is for tracking progress on the release process.  This release includes things like improved lyrics support, webSocket API improvements, a new icon and new build scripts for Arch Linux

* [x] Build all platforms on CI
* [x] Check release process on staging update server `staging.googleplaymusicdesktopplayer.com`
* [x] Check operational on Windows
* [x] Check operational on OS X
* [x] Ch

[2016-04-30 18:49] #999 closed

[2016-05-01 10:42] tyates opened #1002 "Update notification makes mini-player non-interactive"
**OS:**
Windows 10 (OEM/stable)

**Issue Descriptions:**
If the update notification box appears while in mini-player mode, it isn't possible to scroll the notification, close it, or get back to the full player. Music continued to play as normal. I had to quit via the system tray icon to get the app back to a state where I could interact with it/

**Steps to Reproduce:**
Obviously a little difficul

[2016-05-01 10:48] MarshallOfSound commented on #1002
Interesting, there are a few possible behaviors I could implement here.

1. Wait to be out of the mini player before showing the update notification
2. Force the player to full size and then show the update notification

Thoughts on either?

I'm thinking the first one is the way to go, interested in opinions though

[2016-05-01 11:17] MarshallOfSound opened #1003 "Provide native translations for GPMDP"
I recently refactored a significant portion of the app to allow for translations.

This means that all you people in non-english countries can start using GPMDP in your native language instead of English. However, I have zero faith in Google Translate so I'm looking for volunteers to translate a bunch of strings (there are about 90 of them) into the following languages.
- [x] German (@MetalMatze)

[2016-05-01 12:19] tyates commented on #1002
First option seems sensible. If I'm in mini player it means I want the app to stay out of the way and am probably not interested in messing around with updates at that moment.

[2016-05-01 12:54] berryelectronics commented on #1002
Got that same problem here. But i was able to scroll and close it, but not to update it. First option seems nice

[2016-05-01 16:34] Nxt3 opened #1010 "New icon in tray looks bad"
**OS: OSX 10.11.3**

**Issue Descriptions: See attached screenshot**

![screen shot 2016-05-01 at 12 32 59 pm](https://cloud.githubusercontent.com/assets/2940826/14942898/edc374cc-0f98-11e6-8cd1-b0b63a09c634.png)

I think it should just be the Dorito logo instead of the Dorito and vinyl track.

[2016-05-01 20:27] erikcgarneau opened #1011 "Equalizer not found - OSX"
Unable to locate equalizer in OSX, I noticed the issue had been previously reported and closed although I still can't find the feature.

[2016-05-01 20:53] 420foxbot opened #1012 "WebSocket API Provides a low-res version of the Album Art"
**OS:** Windows 10 x64 (shouldn't matter)

**Issue Descriptions:** The Album Art URL provided over the WebSocket API is a 90x90 version of the image.

An example URL the WebSocket provides is: https://lh3.googleusercontent.com/7o01LjTmSPTPmeg_lNEAkpsdCAY6rqr10tda_7-tw1Buf-nvpYS_6KN6KH6u=s90-c-e100
While the URL of the Full-Res image is: https://lh3.googleusercontent.com/7o01LjTmSPTPmeg_lNEAkpsdCAY

[2016-05-01 20:58] berryelectronics commented on #1003
I could do the german Translation. Got some spare time tomorrow.

[2016-05-01 21:11] lf- opened #1013 "Left Windows and Right Ctrl/Alt/Windows keys not supported in shortcuts"
**OS:** Windows 10

**Issue Descriptions:** Shortcuts using the Windows (super) key, nor right alt/ctrl/windows are supported. This would be pretty tremendously useful for avoiding conflict with other apps while defining global shortcuts.

**Steps to Reproduce:** Attempt to use right alt/ctrl/windows key in a shortcut.

[2016-05-01 21:20] jostrander commented on #1013
This is detailed in #413, and that is the parent issue for all things hotkey related.

[2016-05-01 23:42] MarshallOfSound commented on #1013
As @jostrander mentioned.  The super for these issues is #413

[2016-05-01 23:42] #1013 closed

[2016-05-01 23:43] MarshallOfSound commented on #1003
@berryelectronics Could you simply review #1004

[2016-05-01 23:48] MarshallOfSound commented on #1012
@420foxbot Hm, I've always left this down to the user to perform a string replacement on `s90` to fetch whichever size image they want.  I could do the preprocessing on the WebSocket side though I guess :+1:

[2016-05-01 23:49] MarshallOfSound commented on #1011
If you read the issue that it was originally reported in

https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/419

You can see why you can't find it, it's still disabled pending an Upstream bugfix

[2016-05-01 23:49] #1011 closed

[2016-05-02 00:14] LoKaDah opened #1014 "Websocket API playState renamed"
The websocket channel playState seems to have been replaced after the initial connect with a channel named "state" that performs the same function and is not listed on the API.

[2016-05-02 00:27] MarshallOfSound opened #1015 "PlaybackAPI needs versioning"
As we discovered in #1014 the WebSocketAPI hit a regression and there was no way for any applications to handle this change.  Handling this requires several things

* [x] Fix the webSocket API documentation (And keep them up to date)
* [ ] Add a `"version"` channel to the API so that any future changes will be rejected by tools using it.  I.e. A tool using the WebSocket will reject any version it

[2016-05-02 00:27] MarshallOfSound commented on #1014
@LoKaDah This appears to be a regression from an attempt at simplifying the WebSocket API code.  I'm going to split this issue into multiple parts and move it to a super.

[2016-05-02 00:27] #1014 closed

[2016-05-02 12:05] speedyxvn opened #1016 "Last.FM login issue on Windows"
****OS:**
**
Windows 7 x64

****Issue Descriptions**:
**
After clicking Last.FM login button, status changes to "Authorization in progress" and the button says "..." without anything else. No login page opens.

****Steps to reproduce**:
**
Open app
Go to settings
Click log in to Last.fFm

[2016-05-02 12:07] MarshallOfSound commented on #1016
Are you running on master?  Or a release version?

[2016-05-02 12:28] speedyxvn commented on #1016
Latest release version. 3.2.4.

[2016-05-02 12:29] MarshallOfSound commented on #1016
Do you have a VPN or a proxy?

[2016-05-02 13:20] berryelectronics commented on #996
@MarshallOfSound Just a sidenote. Im trying to work it out, but im having a problem to install nslog. Its always exiting with the error 1. Is it just me or did you also had problems with it?

[2016-05-02 13:27] MarshallOfSound commented on #996
@berryelectronics It's not just you, but I don't have that issue.  Basically ensure you have permissions that nslog wants and you have the required c++ packs installed.  Easiest way to get those is to install Visual Studio

[2016-05-02 13:46] #1015 closed

[2016-05-02 13:48] berryelectronics commented on #996
@MarshallOfSound I got Nodejs and npm with VS Community 2015, but still dont get that.

[2016-05-02 13:50] #1012 closed

[2016-05-02 13:51] MarshallOfSound commented on #996
What exactly is the error? Copy - Paste it

[2016-05-02 13:52] MarshallOfSound commented on #1002
As of the latest update I verified that a new mobilish version of the modal popup is used. Hooray for third party library magical fixes.  We can minimize code usage by accepting a scrollable mobile modal

[2016-05-02 13:52] #1002 closed

[2016-05-02 13:53] MarshallOfSound commented on #964
The darkMode c++ API and the color API do not appear to have native hooks only fetching methods.  This means that detecting changes without restart will be tricky, nasty and inefficient.  Closing this as there is not a nice way to do this at the moment.

[2016-05-02 13:53] #964 closed

[2016-05-02 13:54] MarshallOfSound commented on #1016
Closing this in favor of #921

[2016-05-02 13:54] #1016 closed

[2016-05-02 13:58] berryelectronics commented on #996
`npm WARN deprecated jade@0.26.3: Jade has been renamed to pug, please install the latest version of pug instead of jade
npm WARN deprecated graceful-fs@2.0.3: graceful-fs v3.0.0 and before will fail on node releases >= v6.0. Please update to graceful-fs@^4.0.0 as soon as possible. Use 'npm ls graceful-fs' to find it in the tree.
npm WARN deprecated graceful-fs@3.0.8: graceful-fs v3.0.0 and before

[2016-05-02 14:03] MarshallOfSound commented on #996
Lol, read the error message

<pre>
Can't find Python executable "python"
</pre>

Try installing python :+1:

[2016-05-02 16:02] berryelectronics commented on #996
Ok, got that working.
Added the feature and with a test start (npm start) it seemed like it added/removed the necessary listing in the autostart menue in the task manager. gonna try to build it and test if it really works. If it does im gonna clean my fork and just add that functionality and make a pull request. :)

[2016-05-02 16:15] berryelectronics commented on #996
[Things are looking nice :^)](http://puu.sh/oDJ44/778f7eed24.png)

[2016-05-02 16:17] MarshallOfSound commented on #996
@berryelectronics Sweet as, I just commented on some of your commits to target a few issues before PR :+1:

[2016-05-02 16:48] berryelectronics commented on #1010
Maybe switch to the [GPM Favicon](http://puu.sh/oDKZ0/78190777bc.png) would be a neat idea

[2016-05-02 17:10] MarshallOfSound commented on #1010
@berryelectronics I like that idea.  For use when someone or I do this

[code]

That is the vector code for the GPM Favicon

[2016-05-02 17:29] Jura opened #1018 "Feature request: Track info in the system tray icon's tooltip"
**OS:** Windows

**Issue Descriptions:** It would be nice to have current track info (song title, album/artist) in the tooltip for the GPMDP icon in the system tray (currently showing only app name):

![image](https://cloud.githubusercontent.com/assets/417604/14961844/e274db0c-1069-11e6-9e8e-131655f36493.png)

[2016-05-02 19:01] kratos1212 commented on #959
@LoKaDah Will be your GM plugin released publicly?

[2016-05-02 19:31] wirespot commented on #972
Or consider showing lyrics with manual scroll, and let the user look at whatever part they want. The autoscroll misbehaves in lots of cases, and becomes unusable if you use "prev" to restart the song or skip inside it. IMHO the autoscroll looks like more trouble than it's worth.

[2016-05-02 19:47] wirespot commented on #996
For Linux distributions that conform to FreeDesktop.Org (FDO) specs, autostart can be done by creating a .desktop file in `~/.config/autostart`. Since you already add an entry to the global app menu you may already be familiar with .desktop file format.

Nevertherless, here's an example, and [the spec is here](https://specifications.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html

[2016-05-02 20:03] berryelectronics commented on #996
@wirespot [to good that auto-launch is already doing that ](https://github.com/Teamwork/node-auto-launch/blob/master/src/AutoLaunchLinux.coffee) would be nice if you could clone my PR #1017 and build it locally to check if its working. thanks :)

[2016-05-02 20:15] berryelectronics commented on #1018
Like that idea

Would be as easy as to just change 'appIcon.setToolTip("Google Play Music");' into 'appIcon.setToolTip("Google Play Music" + "\n" + "Title" + "\n" + "Artist");' only gotta find a easy way to parse those.

I might do it if @MarshallOfSound doesnt has anything against it and if i find some spare time

[2016-05-02 20:15] jostrander commented on #1018
You might be able to use code from my hidden window titles PR.
On May 2, 2016 4:15 PM, "berryelectronics" <notifications@github.com> wrote:

[2016-05-02 20:25] LoKaDah commented on #959
@kratos1212 That's the plan. There's a few things that need doing before I put it up somewhere but you'll probably see it in the next couple of weeks.

[2016-05-02 22:14] LankyCyril opened #1019 "Feature request: disable checking for updates"
**OS:** Windows

**Issue Descriptions:** The "the new version is here" window is _**very persistent**_, and there is no entry in "Desktop settings" to disable it. I want to update whenever I feel I should, not whenever there is a new version.

**Steps to Reproduce:** Download and install the version before last, run it and wait a little bit.

[2016-05-02 22:27] certik opened #1020 "Many errors when starting `google-play-music-desktop-player `, blank screen"
**OS:**

Ubuntu 16.04, I installed `google-play-music-desktop-player_3.2.4_amd64.deb`.

**Issue Descriptions:**

[code]

and the screen is empty. No login, nothing. I don't know how it is supposed to look like, but it looks like something broke.

**Steps to Reproduce:**

Run `google-play-music-desktop-player ` from the terminal.

[2016-05-03 00:21] jostrander commented on #1020
Have you tried starting with `--disable-gpu`? The update server error I haven't seen on Ubuntu, but wouldn't matter because there's no auto updating on that platform. The encode lines are junk printed by the node-dbus module.

[2016-05-03 00:25] jostrander commented on #1019
I'm on a platform without auto update,  however I believe this was fixed in #966. Does the description there fit what's happening for you?

[2016-05-03 00:28] LankyCyril commented on #1019
I'm sorry that I forgot to specify that yes, it isn't 12 seconds (anymore), it's 20 minutes. But it's still very persistent in my book. It would be great to have an option of how often to prompt for updates that **includes "never"**.

[2016-05-03 00:34] pedronc1 opened #1021 "Uncaught Exception: listen EADDRINUSE 0.0.0.0:5672"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.2.4
**Time:** Mon May 02 2016 21:34:09 GMT-0300 (Hora oficial do Brasil)

#### Error:
*listen EADDRINUSE 0.0.0.0:5672*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-05-03 00:34] #1021 closed

[2016-05-03 01:38] MarshallOfSound commented on #1020
[code]

That error is interesting as the update server is DEFINITELY not down.  Can you try going to https://update.gpmdp.xyz/api/versions

Also do you use a proxy or a VPN?

[2016-05-03 01:45] MarshallOfSound commented on #1019
@LankyCyril Unfortunately normally the updates for this application include fixes for BREAKING bugs caused by Google changing something.  This means that until you update your experience is not going to be the best hence the update notifications.  I don't think personally 20 minutes is too annoying and if you simply click "update" the app will relaunch back to where you left it in a few seconds.

[2016-05-03 01:45] #1019 closed

[2016-05-03 01:58] LankyCyril commented on #1019
Great point, thank you. I hope you don't mind that I added your explanation to the FAQ.

[2016-05-03 02:06] MarshallOfSound commented on #1019
@LankyCyril Not at all, thanks for adding it :+1:  :smile:

[2016-05-03 02:07] tigre7575 opened #1022 "Feature request: Pandora support"
Just wondering if Pandora support might be added. Thanks for the awesome program.

[2016-05-03 02:09] jostrander commented on #1022
Pandora is out of the scope of this particular project, however maybe another project could tackle implementing Pandora the same way @MarshallOfSound did here.

[2016-05-03 02:11] MarshallOfSound commented on #1022
@tigre7575 As @jostrander said, supported another media service is well out of scope for this project.  Feel free to use the code as a starting point for make a separate program for Pandora though :+1:

[2016-05-03 02:11] #1022 closed

[2016-05-03 02:21] MarshallOfSound commented on #996
Implemented in #1017

[2016-05-03 02:21] #996 closed

[2016-05-03 02:21] MarshallOfSound commented on #986
Progress on this wrapper can be seen over at https://github.com/GPMDP/electron-chromecast

[2016-05-03 02:22] MarshallOfSound commented on #875
@st33ly Can you please confirm this is present on `3.2.4`

[2016-05-03 02:23] MarshallOfSound commented on #919
@jostrander @wengole Just going through the issues, what is the situation for this issue.  Fixed / WIP / Not Touched?

[2016-05-03 02:24] #1018 closed

[2016-05-03 02:25] jostrander commented on #919
WIP, I need to update node-dbus to only use 64bit auto marshalling I think, which means we will only be able to use our branch for future use.

[2016-05-03 05:39] certik commented on #1020
I am behind a proxy. The http_proxy and https_proxy environment variables
are set properly though. I will try the website tomorrow.

Sent from my mobile phone.
On May 2, 2016 7:39 PM, "Samuel Attard" <notifications@github.com> wrote:

[2016-05-03 05:52] MarshallOfSound commented on #1020
@certik Running `electron` applications behind a proxy requires you pass in the command line parameter

`--proxy-server="socks5://localhost:8089"`

Just ensure that the socks5 URL is correct for your system.

[2016-05-03 05:52] #1020 closed

[2016-05-03 05:54] certik commented on #1020
@MarshallOfSound Thanks! I didn't realize that. I'll try it tomorrow and report back.

[2016-05-03 06:06] MarshallOfSound commented on #1020
@certik All good, not many people do.

[2016-05-03 06:12] certik commented on #1020
@MarshallOfSound is that a rowing boat on your profile photo? I used to row competitively.

[2016-05-03 13:22] Martermann opened #1023 "Uncaught Exception: listen EADDRINUSE 0.0.0.0:5672"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.2.4
**Time:** Tue May 03 2016 15:22:16 GMT 0200 (MitteleuropÃ¤ische Sommerzeit)

#### Error:
*listen EADDRINUSE 0.0.0.0:5672*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-05-03 13:23] GPMDP-Magical-Unicorn commented on #1023
Closing this automatically reported issue as a duplicate of #325

[2016-05-03 13:23] #1023 closed

[2016-05-03 15:21] kerber opened #1024 "No documentation on how to open GPM Url's from the app menu"
**OS:**
Windows 7
**Issue Descriptions:**
Unable to open GPM Url's from the app menu. This feature was listed in Version 3.1.0 release notes, but I cannot figure out how to use it. It would be excellent for opening links shared from other GPM users.

[2016-05-03 15:31] MarshallOfSound commented on #1024
"Control + Shift + G"

There will be a help link in the next version

[2016-05-03 15:31] #1024 closed

[2016-05-03 15:32] kerber commented on #1024
Thank you!

[2016-05-03 17:13] berryelectronics commented on #1010
@MarshallOfSound [How it should look on MacOS](http://puu.sh/oEXF5/fa680e8eff.png) and  [Look of it in Windows](http://puu.sh/oEXAV/965ddda7eb.jpg) (thought would be better to change it across all platforms. But i can leave that out if you want.

[2016-05-04 07:14] MCManuelLP opened #1025 "Inspect webview tag content in electron"
So, currently I haven't found a way to inspect the actual play.google.com page directly in the application, I know it is in theory possible but currently there seems to be no obvious way to access it...
I'm not sure if it's possible to make a special shortcut to open a popup(?) to `chrome://inspect` to be able to inspect the content of the webview tag as described in this doc page https://develope

[2016-05-04 07:22] MarshallOfSound commented on #1025
Open devtools for the main application and run the following in console

[code]

[2016-05-04 07:22] #1025 closed

[2016-05-04 08:30] softfruit opened #1026 "MiniPlayer unmovable"
When in mini player format the mini player can go outside of screen bounds and none of the windows shortcuts can bring it back. (in my case dual screening a 4k display and a not-4k)

win+arrow
minimize
maximize etc

nothing works.
only way to get it back is to uninstall and reinstall so it revers to normal player.

a.k.a I cannot miniPlayer on my computer or it disappears and cannot be returned...

[2016-05-04 13:31] speedyxvn commented on #1016
Indeed, proxy was present.

[2016-05-04 18:01] DerekFroese opened #1028 "Taskbar play/pause buttons gone"
**OS:**
Win 10
**Issue Descriptions:**
Player in Taskbar doesn't have mouseover play/pause buttons like it used to
**Steps to Reproduce:**
Play music in the app
Minimize to task bar.
No buttons.

[2016-05-04 18:03] DerekFroese commented on #1028
Never mind, I closed and re-opened it and they came back.
I had closed it a few times before and had the same issue.

Suspect issue happened while old version was still installed.
Perhaps installer should delete old version.

[2016-05-04 18:03] #1028 closed

[2016-05-04 18:21] berryelectronics commented on #1010
#1027 Got it. Guess we could call it a day

[2016-05-04 20:34] AlecRobertson opened #1029 "Maintain ordering of "Songs" view"
On the "Songs" tab, I like to order the songs by Artist and hence I choose this option. When changing tabs or closing the app though, the setup is lost and I have to set it up again. Is there anyway to add an option to maintain ordering on the "Songs" view?

[2016-05-04 21:07] st33ly commented on #875
Hi Sam,

Sorry it’s taken a while to get back to you. Prepare for a lengthy post...

I've reinstalled the latest version of GPMDP on my surface to check and I can report that there has been some improvement but overall it’s still not great on touchscreen.

Elements that work fine:

Media controls (play/pause next track, etc)
Thumbs up/down
Playlist button
Album art button
Desktop settings popup wi

[2016-05-04 22:37] MarshallOfSound commented on #1029
This is the kind of thing that Google should probably fix on their end.  I'll leave it open to think about it but at the moment I feel as though this is a feature that Google should be implementing

[2016-05-05 00:28] kaceycalhoon opened #1030 "Javascript errors + can't open program"
**OS:** Windows 10 Pro 64bit

**Issue Descriptions:** Player used to work fine, errored out with Javascript messages and crashed, has refused to reopen for a month now. Restarted computer, uninstalled Windows Updates, deleted & reinstalled player, etc. no fix. Trying to open now results in this: http://i.imgur.com/PixdcEE.png

**Steps to Reproduce:**

Don't know what caused it but it happened out

[2016-05-05 01:32] jostrander commented on #1030
Looks like your settings file is corrupt, maybe try deleting it and restarting the app?

[2016-05-05 01:32] kaceycalhoon commented on #1030
where is the settings file located?

[2016-05-05 01:34] jostrander commented on #1030
I was trying to recall, but it's either in `%appdata%` or `%localappdata%` and then under `GPMDP_3` or `Google Play Music Desktop Player` and its called .settings.json

[2016-05-05 02:52] rgavs opened #1031 "Javascript error + cannot open 'Desktop Settings'"
**OS:** Archlinux 64 bit

**Issue Descriptions:** Upon attempting to open, receive the following error message: [link](http://bit.ly/1rvPQt4). I have been building directly from Github, alternately with `npm run build` and `gulp package:linux:64` and have tried both, It is up to date with commits as of **05/04/16 22:47**. It runs fine aside from the error message, and not allowing the `Desktop Set

[2016-05-05 02:58] jostrander commented on #1031
Uh, try running `npm install` again, you have a missing module.

[2016-05-05 03:16] rgavs commented on #1031
Ok yeah that did it. Just wondering is that due to a module being added that I needed to update for? Should  I be rerunning `npm install` before each build? And you can close, thanks.

[2016-05-05 03:19] jostrander commented on #1031
If you are doing it automatically, yes, if not I would check the commit log for any updates to package.json first.

[2016-05-05 03:20] #1031 closed

[2016-05-05 03:36] MarshallOfSound commented on #1031
@rgavs As of latest there is a module `pre-flight` that should warn you when you run `npm start` that you are missing dependencies.

[2016-05-05 03:49] rgavs commented on #1031
Sorry if this has been addressed elsewhere, but does this mean the startup command should be `npm start` because I had been directly using the executable `dist/*x84/Google\ Play\ Music\ Desktop\ Player` without issue until this issue came up

[2016-05-05 03:52] jostrander commented on #1031
If you are packaging it every time you should just run npm install before
packaging, which should fix any module issues with the dist/ executables.
Otherwise if you are developing run npm start.

On Wed, May 4, 2016 at 11:49 PM, Ryan Gavigan <notifications@github.com>
wrote:

[2016-05-05 05:39] #1010 closed

[2016-05-05 05:40] MarshallOfSound commented on #986
Sneakily closes this issue to see if anyone notices @jostrander :laughing: :grin:

[2016-05-05 05:40] #986 closed

[2016-05-05 05:46] jostrander commented on #986
I noticed. Lol
On May 5, 2016 1:40 AM, "Samuel Attard" <notifications@github.com> wrote:

[2016-05-05 05:54] Lord-Phoenix commented on #986
I noticed too 😉

Sent from my Nexus 5X
On May 5, 2016 08:41, "Samuel Attard" <notifications@github.com> wrote:

[2016-05-05 13:29] MarshallOfSound commented on #1030
I've had enough of these issues, I'll try patch this with a bunch of `try { .. } catch { .. } `

[2016-05-05 13:34] #1030 closed

[2016-05-05 14:18] n4k1 commented on #1003
I already started spanish translation. I'll upload for review during the day

[2016-05-05 17:53] emilecantin commented on #1003
I'm about halfway through the French one, I'll upload it soon!

One question though: What do we mean by "System Default Communications"? I can't find this string anywhere in context... (I'm on Mac)

[2016-05-05 17:57] jostrander commented on #1003
In Windows this is the default sound devcie for communication.
On May 5, 2016 1:53 PM, "Emile Cantin" <notifications@github.com> wrote:

[2016-05-05 18:28] roryhewitt opened #1034 "Uncaught Exception: listen EADDRINUSE 0.0.0.0:5672"
An uncaught exception was reported.
#### Info:
**OS:** win32
**Arch:** ia32
**GPMDP Version:** 3.2.4
**Time:** Thu May 05 2016 11:28:42 GMT-0700 (Pacific Daylight Time)

#### Error:
*listen EADDRINUSE 0.0.0.0:5672*
[code]
This issue was created automatically inside the `uncaughtException` handler

[2016-05-05 18:39] GPMDP-Magical-Unicorn commented on #1034
Closing this automatically reported issue as a duplicate of #325

[2016-05-05 18:39] #1034 closed

[2016-05-05 20:33] kacgal opened #1035 "Audio device resets to default when enabling particles"
**OS:** Windows 10

**Issue Descriptions:** Audio device resets to default when enabling particles

**Steps to Reproduce:**
1. Set audio device to any but the default
2. Play a song
3. Enable particles visualizer (bottom left corner)
4. Music starts playing through the default audio device

[2016-05-05 21:28] cartersteven opened #1036 "Player stopped showing up at all."
**OS:**
Mac OSX 10.11.14
**Issue Descriptions:**
Player window is not showing up at all. In the screenshots the app is playing. Only controls are on the tray. I have tried reinstalling, and I have tried using the show button on the tray.
**Steps to Reproduce:**
I can't make the issue stop, so I cannot reproduce it.
<img width="1440" alt="screen shot 2016-05-05 at 5 24 44 pm" src="https://cloud.git

[2016-05-05 23:49] datanotion commented on #1036
I'm also seeing the same issue all of a sudden.  The only thing I'm able to bring up is the settings, and it's shows as disabled.

![screen shot 2016-05-05 at 5 49 03 pm](https://cloud.githubusercontent.com/assets/4722782/15060623/ad6c0f02-12e9-11e6-80ae-169556f52a50.png)

[2016-05-06 01:09] certik commented on #1020
Ok, so I tried this on a laptop not behind a proxy and everything works, the music page loads etc.

However, when behind the proxy, it won't work. We don't have a socks5 proxy, just a regular http proxy. I tried the `--proxy-server`, but the output is exactly the same as I reported above, and a blank window.

[2016-05-06 01:11] certik commented on #1020
Got it working, by using: `google-play-music-desktop-player --proxy-server="proxy.xxx.xx:8080"`. Not using the `socks5://` prefix. It now connects properly.

[2016-05-06 01:16] certik commented on #1020
I spoke too soon. I see the login screen, but when I try to login, the terminal prints one more time:
[code]
and the window becomes blank again... I assume that the `--proxy-server` setting is not honored by the whole application, just parts of it?

Either way, it looks like broken to me behind a proxy.

[2016-05-06 01:28] MarshallOfSound commented on #1020
The login screen issue is in the FAQ

On linux you need to run the program with the `--disable-gpu` flag

[2016-05-06 02:12] certik commented on #1020
Now it works! Thanks a lot. For reference, here is how to get it working in Ubuntu 16.04 behind a proxy:
[code]

[2016-05-06 03:30] MarshallOfSound commented on #1036
@datanotion It looks like you have glitched during an update process. Can you redownload the latest release :+1:

[2016-05-06 03:33] MarshallOfSound commented on #1020
@certik Can you add this to the FAQ please :+1:

[2016-05-06 03:34] MarshallOfSound commented on #1035
This is a bug caused by Google Play Music.  When you start the particle visualizer, it seizes control of the audio element from me.  There is nothing I can do about this, it just claims it so my code no longer affects it.

[2016-05-06 03:34] #1035 closed

[2016-05-06 05:10] datanotion commented on #1036
Worked like a charm, thanks

On Thu, May 5, 2016 at 9:30 PM, Samuel Attard <notifications@github.com>
wrote:

[2016-05-06 05:16] MarshallOfSound commented on #1036
Yeah, the OS X updater is a bit temperamental, it's an upstream thing :cry:

[2016-05-06 05:16] #1036 closed

[2016-05-06 05:59] n0f3 commented on #1003
What about Italian? I can provide translation for that language :)

[2016-05-06 06:00] MarshallOfSound commented on #1003
@n0f3 Sure, I'll add it to the list

[2016-05-06 14:40] evenme opened #1037 "Blank screen after updating - Arch Linux"
**OS:** Arch Linux

**Issue Descriptions:** It was working perfectly until the last update. Yesterday I updated to last version available on AUR (3.2.4.27.g8b2d584-1 from git), after opening the app, just get a blank screen. Menu from the icon on tray works, going to desktop settings changes colors and other configurations, but nothing appear on the main window.

Things I tried and didn't work:

-

[2016-05-06 14:53] MarshallOfSound commented on #1037
I think you need to trigger a rebuild of the AUR package, new dependencies probably weren't fetched for the new update.

@BrianAllred might know more?

[2016-05-06 14:56] evenme commented on #1037
Already uninstalled and installed from scratch. Same blank screen.

[2016-05-06 15:01] MarshallOfSound commented on #1037
Can you launch it with the `--dev` argument and try opening the chromium dev tools to look at the error console

[2016-05-06 15:15] evenme commented on #1037
How can I do that? I don't have chromium, but chrome, but pressing F12 on the app doesn't do anything and inside the browser doesn't allow me to inspect the app.

[2016-05-06 15:21] jostrander commented on #1037
Dev tools can be opened with Ctrl Shift I, or I believe under the help menu bar you can open dev tools.

[2016-05-06 15:33] jostrander commented on #1037
Just an update to this, the dependencies for building were updated which is what is causing your issue. @BrianAllred probably hasn't had time to update the AUR package for the proper build dependencies.

[2016-05-06 15:38] datanotion commented on #1036
Just as an FYI, it happened again this morning.  But I somehow figured out a way to get it to show up on the screen again through a combination of using the top menu to maximize, 3 finger swipe up, then click on the restore button - that (I believe) caused it to show up as a tiny window, just large enough for me to grab an edge and restore it's size.  Hope that helps - thanks for an awesome produc

[2016-05-06 15:39] evenme commented on #1037
﻿The only error showing on console is this:
/usr/share/google-play-music-desktop-player/resources/electron.asar/renderer/web-view/web-view.js:282 ::shadow pseudo-element is deprecated. See https://www.chromestatus.com/features/6750456638341120 for more details.

And that's on the command line output:
$ google-play-music-desktop-player --disable-gpu --dev
info: Application started.
error: Last.fm A

[2016-05-06 15:41] MarshallOfSound commented on #1037
@evenme Inside that console please run the following

[code]

Another dev tools window should appear, do any more errors appear in that one?

[2016-05-06 15:49] bretthysuik opened #1038 "MiniPlayer unusable after receiving 'Update Available' notification"
**OS:** Windows 7 SP1

**Issue Descriptions:**

MiniPlayer becomes unusable after receiving an 'Update Available' notification while in MiniPlayer mode.
- Can't use the song navigation controls
- Can't switch back to normal mode
- Can't scroll the 'Update Notification' panel to start the update
- Right clicking on the tray icon and selecting 'Show' doesn't do anything
- App has to be exited and re

[2016-05-06 15:51] evenme commented on #1037
﻿Yes, that appeared on the other window:
/usr/share/google-play-music-desktop-player/resources/app/build/inject/GPMWebView/interface/pauseAfter.js:6 Uncaught ReferenceError: GPM is not defined

[2016-05-06 15:54] MarshallOfSound commented on #1038
Duplicate #1002

[2016-05-06 15:54] #1038 closed

[2016-05-06 15:56] bretthysuik commented on #1038
My bad, didn't do a thorough search before submitting

[2016-05-06 16:00] MarshallOfSound commented on #1037
Is that the only error :confused:

[2016-05-06 16:05] evenme commented on #1037
Unfortunately that's the only one.

[2016-05-06 16:24] StephenBrown2 opened #1039 "Mini Player controls occasionally offset"
**OS:** Arch Linux

**Issue Description:** Sometimes, when I send the player into Mini view, the controls go off to the side, so that I can't access them anymore and make it big again.
![google play music desktop player_003](https://cloud.githubusercontent.com/assets/1148665/15079096/2316fc66-137c-11e6-939a-90be64d27ee2.png)
To get around this, I kill the player and restart (often with a git pull

[2016-05-06 16:27] MarshallOfSound commented on #1039
@StephenBrown2 This is an issue that was fixed a looong time ago, you must be quite out of date.  On arch things are handled differently and I don't think the script calls `npm update` correctly @BrianAllred  so you might have to reinstall to get the fixed dependencies.  I don't know :+1:

[2016-05-06 16:27] #1039 closed

[2016-05-06 16:35] MarshallOfSound commented on #1037
@evenme Do you use a proxy or VPN?

[2016-05-06 16:51] StephenBrown2 commented on #1039
Yup, hadn't run npm update, ever.

Thanks for the help on gitter.

[2016-05-06 16:52] evenme commented on #1037
No, nothing.

[2016-05-06 16:53] MarshallOfSound commented on #1037
I'm going to leave this until @BrianAllred swings by, he knows more about what could have gone wrong with the AUR side of things than I do

[2016-05-06 16:54] #1029 closed

[2016-05-06 17:10] evenme commented on #1037
I also downloaded the package directly from Github of previous versions (3.3, 3.4) and had the same behavior. My previous version was: (3.1.0.23.gbd7ca4d-1 -> 3.2.4.17.g3332fcd-1)

[2016-05-06 20:12] BrianAllred commented on #1037
Have you tried installing the [stable version](https://aur.archlinux.org/packages/gpmdp)? I'm wondering if it has something to do with the build process.

[2016-05-06 20:15] BrianAllred commented on #1039
The pkgbuild does

[code]

Where does `npm update` need to fall in there?

[2016-05-07 01:12] MarshallOfSound commented on #1039
After `npm install`

[2016-05-07 09:52] SicariusNoctis opened #1040 "Taskbar song info"
It would be nice if the titlebar contained the "Artist - Song Title" so that I could hover over it to check the current song.

![2016-05-07 02_47_50-](https://cloud.githubusercontent.com/assets/721196/15091445/5afdc812-13fe-11e6-8601-dfeb2ba1d751.png)

For comparison, here's what MusicBee does:

![2016-05-07 02_51_15-](https://cloud.githubusercontent.com/assets/721196/15091461/bb4e1316-13fe-11e6-8

[2016-05-07 10:31] MarshallOfSound commented on #1040
Always on in master.

[2016-05-07 10:31] #1040 closed

[2016-05-07 15:57] Sp4rkR4t opened #1041 "Music keeps playing after app has been told to close."
**OS:** Windows 10 x64

**Issue Descriptions:** Occasionally when closing the app while music is playing the music will continue for several seconds after the app has closed. To be clear it is only the music playback that continues the ui closes and none of the media keys can control the music.

**Steps to Reproduce:** Play music, close app, issue seems to get more pronounced the longer you have h

[2016-05-07 15:59] MarshallOfSound commented on #1041
I leave mine open for sometimes up to 24hours at a time and have never noticed this issue, can you post your computer specs *(CPU, RAM, HDD)* it could just be a slow hardware issue

[2016-05-07 16:45] berryelectronics commented on #1041
Noticed that when i worked on auto startup. it takes like 5 seconds until
the music stops. But i dont think that a FX-6100 is too slow (with 16GB of
RAM and a SSD)

Samuel Attard <notifications@github.com> schrieb am Sa., 7. Mai 2016 um
17:59 Uhr:

[2016-05-07 16:45] BrianAllred commented on #1039
When I add the update command, I get the following in the terminal during a build.

[code]

Looks like it's trying to build the windows keyboard hook, for some reason. Attached is the debug log.
[npm-debug.txt](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/files/253494/npm-debug.txt)

[2016-05-07 16:47] MarshallOfSound commented on #1039
That's a known issue I raised over at NPM

https://github.com/npm/npm/issues/11992

This might involve someone fixing that issue first :cry:

[2016-05-07 16:50] MarshallOfSound commented on #1041
@berryelectronics OK, so it turns out I was testing this on an older release (Had a old release installed for some reason).  When I ran latest it the issue appeared.

This is probably either a chromium or electron bug.  I'll raise it over there